<% content_for :head, "GalleryProofing | Forgot Password"%>
<% content_for :body_class, "login-index" %>
<div class="container-fluid">
    <div class="row">
    <div class="login-box">
      <div class="logo-login">

      </div>
        <div class="form">
          <h3>Request Received</h3>
          <div class="login">
            <form>

              <div>An email with a link to reset your password has been sent. If you need further assistance, please <a href="#">contact support</a>.</div>

            <div class="button-row text-center">
              <%= link_to "Back to Login", new_user_session_path, class: "btn btn-primary" %>
            </div>

            </form>
          </div>
        </div>
        <div class="legal">© 2009-2016 GalleryProofing</div>
    </div>
    </div>
  </div>
