  
    <!-- top -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <!-- title -->
          <div class="page-title">
            <div class="row">
              <div class="col-md-6 col-sm-5 col-xs-5">
                <h2>
                    <div id="pageTitleHeaderText">Watermarks</div>
                </h2>
              </div>
              <div class="col-md-6 col-sm-7 col-xs-7">

                <div class="btn-group on-page-help-container">
                  <a href="#" class="on-page-help dropdown-toggle" data-toggle="dropdown">
                    <span class="fa fa-question"></span>
                  </a>
                  <ul id="onPageHelp" class="dropdown-menu dropdown-menu-right arrow-upper-right" role="menu">
                    <li><a href="#" target="_blank">Can I download all of my contacts' information?</a></li>
                    <li><a href="#" target="_blank">How do I add and edit contacts?</a></li>
                    <li><a href="#" target="_blank">How do I view a contact's activity?</a></li>
                    <li><a href="#" class="bold" target="_blank">Browse Full Knowledge Base</a></li>
                    <li><a href="#" >Email Us</a></li>
                  </ul>
                </div>

             <!--    <div class="right-buttons text-right">
                  <a class="btn btn-primary" id="btn-newtemp" href="newTemplate.html" data-toggle="modal" data-target="#newtemp-filter" >New Template</a>
                  <a class="btn btn-default" id="btn-newauto" href="newAutomation.html" data-toggle="modal" data-target="#newauto-filter" >New Automation Series</a>
                </div -->

              </div>
            </div>
          </div>
          <!-- /title -->
        </div>
      </div>
    </div>
    <!-- /top -->

    <!-- main -->
   <div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 set-top-box">
            <div class="checkbox">
                <input type="checkbox" checked="checked" name="remember">
                <label>Apply default watermark to new photo uploads. You will have the opportunity to turn them on or off before uploading photos.</label>
            </div>
        </div>
    </div>
    <div class="row">
       <div class="col-lg-12">
              <div class="grid-item">
                <div class="sp-tile sub-title">
                  <a href="pricing-edit.html">
                    <div class="img-rounded-top full-width default text-center" style="background-image:url(../images/banner-style.jpg)">
                      <div class="status-flag status-flag-warning" style="display:none;">Pre-Registration</div>
                      <div class="status-flag status-flag-info" style="display:none;">Inactive</div>
                      <div class="status-flag status-flag-error" style="display: none;">Archived</div>
                      <div class="status-flag status-flag-primary flag-selected">Selected</div>
                    </div>
                    <div class="card-content">
                      <div class="card-title" title="Test">Custom Watermark 1</div>
                    </div>
                  </a>
                  <div class="push-pop">
                    <div class="dropup">
                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Quick Actions
                      <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li><a href="#">Set ad Default</a></li>
                        <li><a href="#">Delete</a></li>
                      </ul>
                    </div>
                    
                  </div>
                </div>
              </div>

                <div class="grid-item">
                <div class="sp-tile sub-title">
                  <a href="pricing-edit.html">
                    <div class="img-rounded-top full-width default text-center" style="background-image:url(../images/banner-style-2.jpg)">
                      <div class="status-flag status-flag-warning" style="display:none;">Pre-Registration</div>
                      <div class="status-flag status-flag-info" style="display:none;">Inactive</div>
                      <div class="status-flag status-flag-error" style="display: none;">Archived</div>
                      <div class="status-flag status-flag-primary flag-selected">Selected</div>
                    </div>
                    <div class="card-content">
                      <div class="card-title" title="Test">New-Watermark</div>
                    </div>
                  </a>
                  <div class="push-pop">
                    <div class="dropup">
                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Quick Actions
                      <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li><a href="#">Set as default</a></li>
                        <li><a href="#">Delete</a></li>
                      </ul>
                    </div>
                    
                  </div>
                </div>
              </div>

              <div class="grid-item">
                <div class="sp-tile sub-title">
                  <a href="pricing-edit.html">
                    <div class="img-rounded-top full-width default text-center" style="background-image:url(../images/banner-style-3.jpg)">
                      <div class="status-flag status-flag-warning" style="display:none;">Pre-Registration</div>
                      <div class="status-flag status-flag-info">Default</div>
                      <div class="status-flag status-flag-error" style="display: none;">Archived</div>
                      <div class="status-flag status-flag-primary flag-selected">Selected</div>
                    </div>
                    <div class="card-content">
                      <div class="card-title" title="Test">Studio Watermark</div>
                    </div>
                  </a>
                  <div class="push-pop">
                    <div class="dropup">&nbsp</div>
                </div>
              </div>


            </div>
        </div>
        <div class="lightbox">
          <div class="hover-alert">
            You have turned watermarks <strong>on</strong> by default for all techbit<br/> galleries.
          </div>
        </div>
  </div>
    <!-- /main -->

   



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../js/jquery-1.12.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
     <!-- Latest compiled and minified JavaScript -->
        <script src="../js/bootstrap-select.min.js"></script>