<div class="container-fluid">
    	<div class="row">
			<div class="new-login-box">
				<div class="form">
					<div class="logo-white"></div>
					<p>It is a long <strong>established fact that a reader.</strong> <br> Ipsum is that it has a more-or-less normal. Ipsum is that it has a more-or-less normal.</p>
					<div class="collection-type">
                        <ul>
                            <li>Ipsum is that it has a more-or-less normal</li>
                            <li>Ipsum is that it has a more-or-less normal</li>
                            <li>Ipsum is that it has a more-or-less normal</li>
                            <li>Ipsum is that it has a more-or-less normal</li>
                            <li>Ipsum is that it has a more-or-less normal</li>
                            <li>Ipsum is that it has a more-or-less normal</li>
                            <li>Ipsum is that it has a more-or-less normal</li>
                            <li>Ipsum is that it has a more-or-less normal</li>
                            <li>Ipsum is that it has a more-or-less normal</li>
                            <li>Ipsum is that it has a more-or-less normal</li>
                            <li>Ipsum is that it has a more-or-less normal</li>
                        </ul>
                    </div>
                    <div class="mew-login-btn">
                        <%=link_to "Authorized" ,oauth_show_code_path ,:class => "btn btn-primary" %>
                    </div>
                    <a  class="Authorize" href="#">Cancle, Do Not Authorize</a>
					<p class="certificate-status">© 2016 GalleryProofing, LLC</p>
				</div>	
			</div>  	
    	</div>
    </div>