    <!-- wrapper -->
    <div class="container-fluid">
    	<div class="row">
			<div class="new-login-box1">
				<div class="form">
					<div class="logo-white"></div>
					<p>It is a long <strong>established fact that a reader.</strong> <br> Ipsum is that it has a more-or-less normal. Ipsum is that it has a more-or-less normal.</p>
                    <span class="code-authorize"><%=@get_token %></span>
					<p>Ipsum is that it has a more-or-less normal. Ipsum is that it has a more-or-less normal.</p>
					<p class="certificate-status">© 2016 GalleryProofing, LLC</p>
				</div>	
			</div>  	
    	</div>
    </div>
	<!-- /wrapper -->