<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @default_email_template_type.name %>
</p>

<%= link_to 'Edit', edit_default_email_template_type_path(@default_email_template_type) %> |
<%= link_to 'Back', default_email_template_types_path %>
