<script>
$('#hideNav').remove();
</script>
<%= content_for :body_class, 'billing-print' %>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="pull-left">
        ShootProof, LLC<br>
        600 Galleria Pkwy<br>
        Suite 1460<br>
        Atlanta, GA 30339<br>
        United States
      </div>
      <div class="pull-right sp-logo text-right">
        <%= image_tag "/assets/logo.png" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center">
        RECEIPT
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="pull-left">
        IndoArt<br>
        Adajan<br>
        dfgdsds<br>
        Surat 395009
      </div>
      <div class="pull-right text-right">
        Bill #: 2230385<br>
        Date: 26 Jun 2016
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="table items">
        <div class="table-head">
          <div class="tr">
            <div class="th">
              Description
            </div>
            <div class="th text-right">
              Amount
            </div>
          </div>
        </div>
        <div class="table-body">
          <div class="tr">
            <div class="td">
              Free Plan
            </div>
            <div class="td text-right">
              $0.00
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <table class="total">
        <tbody>
          <tr>
            <td>
            </td>
            <td class="text-right">
              $0.00
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
    </div>
  </div>
</div>
