<div class="modal fade second-model-view" id="full-cons" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="sp-modal-content">
                        <h1 class="theme-color-primary no-description">
                            <span class="font-text ng-binding">LABEL PHOTO</span>
                        </h1>

                        <div id="setlabel">
                          <% @labelall.each do |labels|%>
                            <a class="btn btn-icon theme-button social facebook" id="label-select-<%=labels.id%>">
                                <span class="font-text label-class" id="labelset">
                                  <svg class="sp-svg" version="1.1" viewBox="0 0 13.615 11.057"  id="label-svg"><path d="M3.41,10.911L0.146,7.647c-0.195-0.195-0.195-0.512,0-0.707l0.707-0.707c0.195-0.195,0.512-0.195,0.707,0l2.203,2.203l8.291-8.29c0.195-0.195,0.512-0.195,0.707,0l0.707,0.707c0.195,0.195,0.195,0.512,0,0.707l-9.351,9.35C3.922,11.106,3.605,11.106,3.41,10.911z"></path></svg>
                                  <%= check_box_tag 'labels[]', labels.id ,class:"set-labels"%><%= labels.name %>
                                </span>
                            </a>
                        </div>
                        <% end %>
                        <span class="font-text">
                          <%= link_to "Done", "#" , class:"btn theme-button tags-close" , id:"done" , remote:"true" %>
                        </span>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
