<% if @password_required == true %>
$('#error').remove();
$('#divPassword').append('<p id="error" style= "color:red;">Gallery Password is Required.</p>');
<% elsif @invalid_password == true %>
$('#error').remove();
$('#divPassword').append('<p id="error" style= "color:red;">Gallery Password is Invalid.</p>');
<% elsif @test_pass == true %>
window.location.href = "http://localhost:3000/<%#= params[:brand] %>/gallery/<%#= @gallery.id %>"
// window.location.origin.href = "javascript:document.location.href=getUrl();"

<% end %>


    // function getUrl()
    // {
    //   // var hostname = window.location.origin
    //   // alert(hostname);
    //   var fullpath = "<%#= params[:brand] %>/gallery/<%#= @gallery.id %>"
    //   alert (fullpath);
    //     return fullpath;
    // }
