<% if @invalid_password == true %>
$('#error').remove();
$('#divPassword').append('<p id="error" style="color: red;">Password Invalid</p>')
<% elsif @password_required == true %>
$('#error').remove();
$('#divPassword').append('<p id="error" style= "color:red;">Gallery Password is Required.</p>');
<% elsif @choose_gallery == true %>
$('#error').remove();
$('#divChooseGallery').append('<p id="error" style= "color:red;">Choose a Gallery first.</p>');
<% elsif @test_pass == true %>
window.location.href = "http://localhost:3000/<%= params[:brand] %>/gallery/<%= @gallery.id %>"
<% end %>
