$("#label_password").remove();
$("#password").remove();
<% if @show_password%>
$(' <label for="password" id="label_password">Password</label><input type="password" name="password" id="password" value="" class="form-control" required="required">').appendTo(divPassword);
<% else %>
$("#label_password").remove();
$("#password").remove();
<% end %>
