<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="empty-state-icon">
        <!--?xml version="1.0" encoding="utf-8"?-->
        <!-- Generator: Adobe Illustrator 18.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 500 500" enable-background="new 0 0 500 500" xml:space="preserve">
          <path fill="#F0F2F5" d="M483.6,236.7l-0.1-143.3c3.2-2.2,5.4-5.9,5.4-10.1c0-6.8-5.5-12.2-12.2-12.2c-3.6,0-6.8,1.5-9,4l-212.2,0.2
          c-2.2-2.6-5.5-4.2-9.2-4.2c-6.8,0-12.2,5.5-12.2,12.2c0,3.6,1.5,6.8,4,9l0.1,145.4c-2.5,2.2-4.1,5.5-4.1,9.1
          c0,6.8,5.5,12.2,12.2,12.2c3.7,0,7.1-1.7,9.3-4.3l211.7-0.2c2.2,2.8,5.7,4.5,9.5,4.5c6.8,0,12.2-5.5,12.2-12.2
          C488.8,242.6,486.8,238.9,483.6,236.7z"></path>
          <g>
            <path fill="#FFFFFF" d="M477.6,230.7l-0.1-143.3c3.2-2.2,5.4-5.9,5.4-10.1c0-6.8-5.5-12.2-12.2-12.2c-3.6,0-6.8,1.5-9,4l-212.2,0.2
            c-2.2-2.6-5.5-4.2-9.2-4.2c-6.8,0-12.2,5.5-12.2,12.2c0,3.6,1.5,6.8,4,9l0.1,145.4c-2.5,2.2-4.1,5.5-4.1,9.1
            c0,6.8,5.5,12.2,12.2,12.2c3.7,0,7.1-1.7,9.3-4.3l211.7-0.2c2.2,2.8,5.7,4.5,9.5,4.5c6.8,0,12.2-5.5,12.2-12.2
            C482.8,236.6,480.8,232.9,477.6,230.7z"></path>
            <path fill="#435054" d="M470.6,255c-4,0-7.7-1.6-10.4-4.5l-209.9,0.2c-2.7,2.8-6.4,4.3-10.2,4.3c-7.9,0-14.2-6.4-14.2-14.2
            c0-3.7,1.5-7.3,4.1-10l-0.1-143.7c-2.5-2.6-4-6.2-4-9.8c0-7.9,6.4-14.2,14.2-14.2c3.8,0,7.4,1.5,10.1,4.2L460.7,67
            c2.6-2.6,6.2-4,9.9-4c7.9,0,14.2,6.4,14.2,14.2c0,4.4-2,8.4-5.4,11.1l0.1,141.3c3.3,2.7,5.2,6.7,5.2,11
            C484.8,248.6,478.5,255,470.6,255z M462,246.5l0.6,0.7c2,2.4,4.9,3.8,7.9,3.8c5.7,0,10.2-4.6,10.2-10.2c0-3.3-1.6-6.5-4.4-8.4
            l-0.9-0.6l-0.1-145.4l0.9-0.6c2.8-1.9,4.5-5.1,4.5-8.5c0-5.7-4.6-10.2-10.2-10.2c-2.9,0-5.6,1.2-7.6,3.4l-0.6,0.7l-214,0.2
            l-0.6-0.7c-2-2.2-4.8-3.5-7.7-3.5c-5.7,0-10.2,4.6-10.2,10.2c0,2.9,1.2,5.6,3.3,7.5l0.6,0.6l0.1,147.1l-0.7,0.6
            c-2.2,1.9-3.4,4.7-3.4,7.6c0,5.7,4.6,10.2,10.2,10.2c3,0,5.9-1.3,7.8-3.6l0.6-0.7L462,246.5z"></path>
          </g>
          <path fill="#F0F2F5" d="M242.2,290.3l198-0.6c0.6,0,1,0.5,1,1l0.5,144.8c0,0.6-0.5,1-1,1l-198,0.6c-0.6,0-1-0.5-1-1l-0.5-144.8
          C241.2,290.7,241.6,290.3,242.2,290.3z"></path>
          <g>

            <rect x="287.5" y="59.5" transform="matrix(-9.046037e-04 -1 1 -9.046037e-04 195.8833 513.6567)" fill="#FFFFFF" width="134.1" height="198.9"></rect>
            <path fill="#435054" d="M455.1,91.8c-0.3,2.8-0.4,5.6-0.5,8.4c-0.1,2.8,0,5.6,0.1,8.4c0.1,5.6,0.2,11.2,0.4,16.8
            c0.4,11.2,0.7,22.4,1,33.5c0.1,2.8,0.1,5.6,0.2,8.4c0.1,2.8,0.1,5.6,0.1,8.4c0,2.8,0.1,5.6,0,8.4l-0.1,8.4l-0.2,8.4l-0.3,8.4
            c-0.1,2.8-0.3,5.6-0.4,8.4c-0.2,2.8-0.4,5.6-0.7,8.4l-0.1,0.6l-0.6,0c-8.3,0.2-16.6,0.4-24.9,0.5c-8.3,0.1-16.6,0.2-24.9,0.3
            l-12.4,0.1c-4.1,0-8.3,0-12.4,0c-8.3-0.1-16.6-0.3-24.9-0.2c-4.1,0-8.3,0.1-12.4,0.2c-4.1,0.1-8.3,0.2-12.4,0.3l-12.4,0.4
            c-4.1,0.1-8.3,0.3-12.4,0.3c-4.1,0.1-8.3,0.1-12.4,0.1c-4.1,0-8.3,0-12.4-0.1c-4.1,0-8.3-0.1-12.4-0.3c-4.1-0.1-8.3-0.3-12.4-0.6
            l-1.6-0.1l0.1-1.4c0.5-5.6,0.6-11.2,0.6-16.8l0-8.4c0-2.8-0.1-5.6-0.1-8.4l-0.3-16.8l-0.2-16.8l-0.1-16.8l-0.1-16.8l0-8.4
            c0-2.8,0-5.6,0.1-8.4c0.2-2.8,0.6-5.6,0.6-8.4c0-2.8-0.2-5.6-1-8.4l-0.5-1.9l2.3,0.1c4.1,0.2,8.3,0.3,12.4,0.4
            c4.1,0.1,8.3,0.1,12.4,0.1c4.1,0,8.3-0.1,12.4-0.2l12.4-0.5c4.1-0.2,8.3-0.3,12.4-0.4c4.1-0.1,8.3,0,12.4,0
            c8.3,0,16.6,0.2,24.9,0.4c8.3,0.2,16.6,0.4,24.9,0.4c4.1,0,8.3,0.1,12.4,0c4.1,0,8.3-0.3,12.4-0.4c4.1-0.2,8.3-0.3,12.4-0.2
            c4.1,0,8.3,0.1,12.4,0.1c4.1,0.1,8.3,0.2,12.4,0.3c2.1,0,4.1,0.1,6.2,0.2c2.1,0.1,4.1,0.2,6.2,0.3l1.3,0.1L455.1,91.8z M452.9,93
            c-1.7,0.1-3.5,0.2-5.2,0.2c-2.1,0.1-4.1,0.2-6.2,0.2c-4.1,0.1-8.3,0.3-12.4,0.3c-4.1,0.1-8.3,0.1-12.4,0.2c-4.1,0-8.3,0-12.4-0.2
            c-4.1-0.1-8.3-0.4-12.4-0.4c-4.1,0-8.3,0-12.4,0.1c-8.3,0.1-16.6,0.3-24.9,0.5c-8.3,0.2-16.6,0.4-24.9,0.4c-4.1,0-8.3,0-12.4,0
            c-4.1-0.1-8.3-0.2-12.4-0.3l-12.4-0.4c-4.1-0.1-8.3-0.2-12.4-0.2c-4.1,0-8.3,0-12.4,0.1c-4.1,0.1-8.3,0.2-12.4,0.4l1.8-1.8
            c-0.7,2.8-0.9,5.6-0.9,8.4c0,2.8,0.4,5.6,0.6,8.4c0.2,2.8,0.1,5.6,0.1,8.4l0,8.4l0,16.8l-0.1,16.8l-0.1,16.8l-0.3,16.8
            c0,2.8-0.1,5.6-0.1,8.4l0,8.4c0,5.6,0.2,11.2,0.7,16.8l-1.5-1.5c4.1-0.3,8.3-0.5,12.4-0.6c4.1-0.1,8.3-0.3,12.4-0.3
            c4.1-0.1,8.3-0.1,12.4-0.1c4.1,0,8.3,0,12.4,0.1c4.1,0,8.3,0.2,12.4,0.3l12.4,0.3c4.1,0.1,8.3,0.2,12.4,0.3
            c4.1,0.1,8.3,0.1,12.4,0.1c8.3,0,16.6-0.2,24.9-0.3c4.1,0,8.3,0,12.4,0l12.4,0.1c8.3,0.1,16.6,0.1,24.9,0.3
            c8.3,0.1,16.6,0.3,24.9,0.4l-0.6,0.6c-0.3-2.8-0.5-5.6-0.7-8.4c-0.2-2.8-0.3-5.6-0.5-8.4l-0.3-8.4l-0.2-8.4l-0.1-8.4
            c0-2.8,0-5.6,0-8.4c0-2.8,0-5.6,0.1-8.4c0.1-2.8,0.1-5.6,0.1-8.4c0.3-11.2,0.6-22.4,1-33.5c0.1-5.6,0.3-11.2,0.4-16.8
            c0-2.8,0.1-5.6,0-8.4C453.3,97.8,453.2,95.4,452.9,93z"></path>
          </g>
          <g>

            <rect x="261.6" y="256.7" transform="matrix(2.076461e-03 -1 1 2.076461e-03 -22.7952 690.9971)" fill="#FFFFFF" width="146.4" height="200.4"></rect>
            <path fill="#435054" d="M437.4,283.9c-0.3,3-0.5,6.1-0.7,9.1c-0.1,3.1-0.2,6.1-0.2,9.2l0,18.3c0,6.1,0,12.2,0.1,18.3l0.2,18.3
            l0.4,36.6c0,6.1,0.2,12.2,0.2,18.3c0,6.1,0.1,12.2,0,18.3l0,2.6l-2.5-0.1c-4.2-0.2-8.3-0.4-12.5-0.5c-4.2-0.1-8.4-0.2-12.5-0.3
            c-4.2,0-8.4-0.1-12.5,0c-4.2,0-8.4,0.1-12.5,0.2l-12.5,0.2l-12.5,0.1c-4.2-0.1-8.4,0-12.5-0.2l-12.5-0.3c-4.2-0.1-8.4-0.1-12.5-0.2
            c-4.2,0-8.4,0-12.5,0l-25.1,0.4c-4.2,0.1-8.4,0.1-12.5,0.1c-4.2,0-8.4,0-12.5-0.1c-4.2-0.1-8.4-0.2-12.5-0.4
            c-4.2-0.2-8.3-0.4-12.5-0.8l-1.1-0.1l-0.1-1.1c-0.3-3.1-0.5-6.1-0.6-9.2c-0.1-3.1-0.2-6.1-0.2-9.2l0-18.3c0-6.1,0-12.2,0.1-18.3
            l0.1-18.3l0.2-18.3l0.1-18.3c0-6.1,0.1-12.2,0-18.3c0-6.1-0.1-12.2-0.1-18.3l0-1.9l2,0l12.5-0.1c4.2-0.1,8.4,0,12.5-0.1l6.3,0
            l6.3,0.1c4.2,0,8.4,0.1,12.5,0.3l12.5,0.3l12.5,0.2c4.2,0,8.4,0,12.5,0L335,282c4.2-0.1,8.4,0,12.5,0l12.5,0.1
            c8.4,0.1,16.7,0.3,25.1,0.4c4.2,0.1,8.4,0.1,12.5,0.2c4.2,0,8.4,0,12.5,0c4.2,0,8.4-0.1,12.5-0.3c4.2-0.1,8.4-0.4,12.5-0.7l2.5-0.2
            L437.4,283.9z M433.1,286c-3.5-0.3-7-0.5-10.5-0.6c-4.2-0.2-8.4-0.3-12.5-0.3c-4.2-0.1-8.4-0.1-12.5-0.1c-4.2,0-8.4,0-12.5,0.1
            c-8.4,0.1-16.7,0.3-25.1,0.3l-12.5,0.1c-4.2,0-8.4,0-12.5-0.1l-12.5-0.2c-4.2-0.1-8.4,0-12.5-0.1l-12.5,0.1l-12.5,0.3
            c-4.2,0.1-8.4,0.2-12.5,0.2l-6.3,0.1l-6.3,0c-4.2,0-8.4,0-12.5-0.1l-12.5-0.2l1.9-1.9c-0.1,6.1-0.2,12.2-0.2,18.3
            c-0.1,6.1,0,12.2,0,18.3l0,18.3l0.1,18.3l0.1,18.3c0,6.1,0,12.2,0,18.3l-0.1,18.3c0,3.1-0.1,6.1-0.3,9.2c-0.1,3.1-0.3,6.1-0.7,9.2
            l-1.2-1.2c4.2-0.4,8.4-0.6,12.5-0.8c4.2-0.2,8.4-0.3,12.5-0.3c4.2,0,8.4,0,12.5,0c4.2,0,8.4,0.1,12.5,0.2l25.1,0.5
            c4.2,0.1,8.4,0.1,12.5,0.1c4.2,0,8.4,0,12.5-0.1l12.5-0.2c4.2-0.1,8.4-0.1,12.5-0.1l12.5,0.1l12.5,0.3c4.2,0.1,8.4,0.2,12.5,0.2
            c4.2,0,8.4,0,12.5,0c4.2,0,8.4-0.1,12.5-0.2c4.2-0.1,8.4-0.2,12.5-0.5l-2.5,2.5c0-6.1,0-12.2,0.1-18.3c0-6.1,0.2-12.2,0.2-18.3
            l0.5-36.6l0.3-18.3c0.1-6.1,0.1-12.2,0.2-18.3l0.1-18.3c0-3.1,0-6.1-0.2-9.2C433.5,290.7,433.3,288.4,433.1,286z"></path>
          </g>
          <g>
            <polygon fill="#FFFFFF" points="413.2,306.3 413,408.1 256.1,407.7 256.3,306   "></polygon>
            <path fill="#435054" d="M414.4,306.3c0.2,4.2,0.2,8.5,0.1,12.7l-0.1,12.7l-0.1,25.4l-0.4,50.9l0,0.6l-0.9,0.3
            c-1.6,0.5-3.3,0.6-4.9,0.6l-4.9,0l-9.8,0l-19.6-0.1c-6.5,0-13.1-0.1-19.6-0.1l-9.8-0.2l-4.9-0.1l-4.9,0c-3.3,0-6.5,0.1-9.8,0.1
            c-3.3,0.1-6.5,0.2-9.8,0.3l-9.8,0.3c-3.3,0.1-6.5,0.2-9.8,0.3c-3.3,0.1-6.5,0.1-9.8,0.1c-3.3,0-6.5,0-9.8-0.1
            c-3.3-0.1-6.5-0.2-9.8-0.3c-3.3-0.1-6.5-0.3-9.8-0.6l-1.5-0.1l0-1.3c0.1-4.2,0.1-8.5,0.2-12.7l0-12.7c0-8.5,0.1-17,0-25.4
            l-0.1-25.4l0-6.4c0-2.1,0-4.2,0.1-6.4c0.2-2.1,0.6-4.2,0.6-6.4c0-2.1-0.2-4.2-0.9-6.4l-0.7-2l2.5,0.2c3.3,0.2,6.5,0.3,9.8,0.4
            c3.3,0.1,6.5,0.1,9.8,0.1c3.3,0,6.5-0.1,9.8-0.2l9.8-0.4c3.3-0.1,6.5-0.3,9.8-0.3c3.3,0,6.5,0,9.8,0c6.5,0,13.1,0.2,19.6,0.4
            c6.5,0.2,13.1,0.4,19.6,0.5c3.3,0,6.5,0.1,9.8,0.1c3.3,0,6.5-0.3,9.8-0.4c3.3-0.2,6.5-0.2,9.8-0.2c3.3,0,6.5,0.1,9.8,0.2
            c3.3,0.1,6.5,0.2,9.8,0.3c3.3,0.1,6.5,0.3,9.8,0.5l1.1,0.1L414.4,306.3z M412.1,307.5c-2.9,0.2-5.8,0.3-8.7,0.4
            c-3.3,0.1-6.5,0.2-9.8,0.3c-3.3,0.1-6.5,0.1-9.8,0.1c-3.3,0-6.5,0-9.8-0.2c-3.3-0.2-6.5-0.4-9.8-0.4c-3.3-0.1-6.5,0-9.8,0
            c-6.5,0.1-13.1,0.3-19.6,0.4c-6.5,0.2-13.1,0.3-19.6,0.3c-3.3,0-6.5,0-9.8,0c-3.3-0.1-6.5-0.2-9.8-0.4l-9.8-0.5
            c-3.3-0.1-6.5-0.2-9.8-0.2c-3.3,0-6.5,0-9.8,0c-3.3,0.1-6.5,0.2-9.8,0.4l1.8-1.8c-0.8,2.1-0.9,4.2-1,6.4c0,2.1,0.4,4.2,0.6,6.4
            c0.2,2.1,0.1,4.2,0.1,6.4l0,6.4l-0.2,25.4c-0.1,8.5-0.1,17-0.1,25.4l0,12.7c0.1,4.2,0,8.5,0.1,12.7l-1.5-1.5
            c3.3-0.3,6.5-0.5,9.8-0.6c3.3-0.1,6.5-0.2,9.8-0.3c3.3-0.1,6.5-0.1,9.8-0.1c3.3,0,6.5,0,9.8,0.1c3.3,0.1,6.5,0.2,9.8,0.3l9.8,0.4
            c3.3,0.1,6.5,0.2,9.8,0.3c3.3,0.1,6.5,0.2,9.8,0.2l4.9,0l4.9,0l9.8-0.1c6.5-0.1,13.1-0.1,19.6-0.1l19.6,0l9.8,0.1l4.9,0.1
            c1.6,0,3.3,0,4.9,0.6l-0.9,0.9l-0.1-50.9l0-25.4l0-12.7C411.9,315.2,412,311.3,412.1,307.5z"></path>
          </g>
          <path opacity="0.12" fill="#435054" d="M414.4,402.7c0-0.2,0.1-0.4,0.1-0.7v-37c0-1.5-0.7-2.8-1.9-3.7l-32.5-22.5
          c-1.1-0.8-2.5-1-3.8-0.6c-1.3,0.4-2.4,1.3-2.9,2.6l-5.3,13.1c-0.6,1.4-0.4,2.9,0.4,4.2l8.2,12.3l-2.5,9.5l-49.6-27.3
          c-1.1-0.6-2.4-0.7-3.6-0.3c-1.2,0.4-2.2,1.3-2.6,2.5l-5.3,13.1c-0.6,1.4-0.4,2.9,0.4,4.2l8.2,12.3l-3,11.6c-0.3,1.2-0.1,2.5,0.6,3.6
          l5.2,8c0.8,1.3,2.2,2,3.7,2h82.5c2,0,3.8-1.4,4.3-3.4C415.2,405,415,403.7,414.4,402.7z"></path>
          <path fill="#A5E7F9" d="M282.5,406.6l59.8,0.1c-3.2-22.9-15.4-39.9-29.9-39.9C297.8,366.9,285.7,383.9,282.5,406.6z"></path>
          <path fill="#435054" d="M288.7,405.9l57.8,0.1l-1.7,2c-0.5-2.2-0.8-4.3-1.4-6.4L343,400l-0.5-1.6c-0.3-1-0.6-2.1-1-3.1
          c-0.4-1-0.7-2.1-1.1-3.1l-1.2-3l-1.4-2.9c-0.5-1-1.1-1.9-1.6-2.8c-0.5-0.9-1.2-1.8-1.7-2.7c-0.6-0.9-1.3-1.7-1.9-2.5
          c-0.7-0.8-1.4-1.6-2.1-2.3c-0.8-0.7-1.6-1.4-2.4-2.1c-1.7-1.2-3.4-2.4-5.4-3.1c-1.9-0.9-3.9-1.1-6-1.3l0,0c-0.1,0,0.1,0,0.1,0l0,0
          l-0.1,0l-0.2,0l-0.4,0l-0.8,0c-0.6,0-1.1,0-1.6,0.2l-1.5,0.3c-0.5,0.1-1,0.3-1.5,0.5c-0.5,0.2-1,0.3-1.5,0.5l-1.4,0.7l-0.7,0.4
          l-0.7,0.4l-1.3,0.9c-0.9,0.6-1.7,1.4-2.5,2c-0.8,0.8-1.5,1.5-2.3,2.3c-0.7,0.8-1.4,1.7-2.1,2.5c-0.6,0.9-1.3,1.8-1.9,2.7
          c-0.6,0.9-1.1,1.9-1.6,2.9l-1.4,3l-1.2,3.1c-0.4,1-0.7,2.1-1,3.1c-0.4,1-0.6,2.1-0.9,3.2l-0.4,1.6l-0.3,1.6
          C289.1,402.8,288.9,404.3,288.7,405.9z M285,407.4c0.3-1.1,0.5-2.2,0.8-3.4c0.2-1.1,0.6-2.2,0.9-3.3l0.4-1.7l0.5-1.6
          c0.4-1.1,0.6-2.2,1.1-3.3c0.4-1.1,0.8-2.2,1.2-3.2l1.4-3.1l1.5-3.1c0.5-1,1.2-2,1.7-3c0.6-1,1.3-1.9,1.9-2.9
          c0.7-0.9,1.4-1.8,2.1-2.7c0.8-0.9,1.6-1.7,2.4-2.5c0.9-0.8,1.7-1.6,2.7-2.3l1.4-1l0.7-0.5l0.8-0.4l1.6-0.9c0.5-0.3,1.1-0.5,1.7-0.7
          c0.6-0.2,1.1-0.5,1.7-0.6l1.8-0.4c0.6-0.2,1.2-0.2,1.7-0.2l0.8-0.1l0.4,0l0.2,0l0.1,0l0,0l0.1,0l0.1,0c2.4,0.1,4.9,0.3,7.1,1.2
          c2.3,0.7,4.4,2,6.4,3.3c1,0.7,1.9,1.5,2.8,2.3c0.8,0.8,1.7,1.7,2.5,2.5c0.7,0.9,1.5,1.8,2.2,2.7c0.7,1,1.4,1.9,2,2.9
          c0.6,1,1.2,2,1.7,3l1.5,3.1l1.3,3.2c0.4,1.1,0.8,2.2,1.1,3.3c0.4,1.1,0.6,2.2,1,3.3l0.4,1.7l0.4,1.7c0.5,2.2,0.8,4.5,1.1,6.8l0.3,2
          l-2,0l-62-0.1L285,407.4z"></path>
          <path fill="#435054" d="M255.7,378.6c3.5-3.4,7.1-6.5,10.8-9.7c1.8-1.6,3.7-3.1,5.5-4.7c1.9-1.5,3.7-3,5.6-4.6
          c1.9-1.5,3.8-3,5.7-4.5c1.9-1.5,3.8-2.9,5.8-4.4c1.9-1.4,3.9-2.9,5.8-4.3c2-1.4,4-2.8,6-4.1l0.4-0.2l0.4,0.2
          c5.3,2.8,10.6,5.7,15.8,8.7c2.6,1.5,5.2,3,7.8,4.5c2.6,1.5,5.2,3,7.8,4.5c2.6,1.5,5.2,3,7.8,4.6l7.7,4.7c2.6,1.6,5.1,3.2,7.6,4.9
          c1.2,0.9,2.4,1.8,3.6,2.7c1.2,0.9,2.4,1.9,3.5,2.9l-0.7,1.1c-1.4-0.5-2.8-1.1-4.2-1.8c-1.4-0.6-2.7-1.3-4.1-2
          c-2.7-1.4-5.3-2.9-7.8-4.5l-7.7-4.7c-2.6-1.6-5.1-3.2-7.6-4.8c-2.5-1.6-5.1-3.2-7.6-4.8c-2.5-1.6-5.1-3.2-7.6-4.9
          c-5-3.3-10-6.6-15-10.1l0.7,0c-1.7,1.7-3.5,3.3-5.3,4.9c-1.8,1.6-3.6,3.2-5.5,4.8c-1.8,1.6-3.7,3.1-5.5,4.7c-1.9,1.5-3.7,3-5.6,4.5
          c-1.9,1.5-3.8,3-5.7,4.5c-1.9,1.5-3.8,2.9-5.8,4.4c-3.9,2.9-7.8,5.7-11.8,8.4L255.7,378.6z"></path>
          <path fill="#435054" d="M338.1,365.2l18-15.4l17.9-15.4l1.2-1l1.2,0.9c3.9,2.8,7.8,5.6,11.7,8.2c4,2.7,7.9,5.4,11.9,8l-2.3,0.2
          l13.9-12.5l2.3,2.6l-13.8,12.7l-1.1,1l-1.2-0.8c-3.9-2.7-7.9-5.4-11.8-8.1c-3.9-2.7-7.9-5.3-12-7.9l2.4-0.1l-18.5,14.7L339.6,367
          L338.1,365.2z"></path>
          <g>

            <ellipse transform="matrix(0.9998 -1.843424e-02 1.843424e-02 0.9998 -6.4486 5.8689)" fill="#FFFFFF" cx="315.1" cy="352.7" rx="13.5" ry="18.6"></ellipse>
            <path fill="#435054" d="M329.8,352.5c0,0,0,0.4,0,1.1c0,0.7-0.1,1.9-0.4,3.4c-0.2,1.4-0.6,3.2-1.3,5.1c-0.7,1.9-1.6,4.1-3.3,6.1
            c-0.4,0.5-0.8,1-1.4,1.5c-0.5,0.5-1.1,0.9-1.6,1.4c-1.2,0.8-2.6,1.6-4.2,1.9c-0.4,0.1-0.8,0.2-1.2,0.2l-0.6,0.1l-0.3,0
            c0.1,0-0.2,0-0.2,0l0,0l-0.1,0l-0.1,0c-0.3,0-0.7,0-1.1,0c-0.4,0-0.9-0.1-1.3-0.2c-1.7-0.4-3.3-1.1-4.8-2c-2.9-2-4.9-4.9-6.3-8
            c-1.4-3.1-2-6.6-2-10c0-1,0-1.6,0.1-2.5c0.1-0.9,0.2-1.8,0.3-2.6c0.3-1.7,0.8-3.3,1.4-4.9c0.6-1.6,1.5-3.1,2.4-4.4
            c1-1.4,2.2-2.6,3.5-3.6c1.4-1,2.9-1.7,4.5-2.2c1.6-0.5,3.3-0.4,4.8-0.2c3.3,0.6,5.7,2.4,7.5,4.3c1.8,1.9,2.9,4,3.7,5.9
            c0.8,1.9,1.2,3.6,1.5,5.1c0.2,1.4,0.3,2.6,0.4,3.4C329.8,352,329.8,352.4,329.8,352.5L329.8,352.5z M327.4,352.5c0,0,0-0.4-0.1-1.1
            c0-0.7-0.2-1.7-0.4-3c-0.3-1.3-0.7-2.8-1.5-4.5c-0.7-1.6-1.8-3.4-3.3-4.9c-0.4-0.4-0.8-0.8-1.2-1.1c-0.4-0.4-0.9-0.6-1.4-0.9
            c-0.2-0.2-0.5-0.2-0.7-0.4c-0.3-0.1-0.5-0.3-0.8-0.3c-0.3-0.1-0.5-0.2-0.8-0.2c-0.3-0.1-0.5-0.1-0.8-0.1c-1.2-0.2-2.4-0.1-3.5,0.2
            c-1.1,0.3-2.3,0.9-3.3,1.6c-1,0.8-1.9,1.8-2.7,2.9c-0.8,1.1-1.4,2.4-1.9,3.7c-0.5,1.3-0.9,2.7-1.1,4.2c-0.1,0.7-0.2,1.4-0.2,2.1
            c-0.1,0.6,0,1.6-0.1,2.2c0.1,2.9,0.7,5.8,1.9,8.4c0.6,1.3,1.3,2.5,2.1,3.6c0.8,1.1,1.8,2,2.8,2.7c1,0.7,2.2,1.2,3.2,1.5
            c0.3,0,0.5,0.1,0.8,0.2c0.4,0,0.7,0,1.1,0.1l0.1,0l0.1,0l0,0c0,0-0.2,0-0.1,0l0.2,0l0.4,0c0.3,0,0.6,0,0.8-0.1
            c2.2-0.3,4.1-1.5,5.7-3c1.5-1.5,2.7-3.2,3.4-4.9c0.2-0.4,0.3-0.8,0.5-1.2c0.2-0.4,0.3-0.8,0.4-1.2c0.1-0.4,0.2-0.8,0.3-1.1
            c0.1-0.4,0.1-0.7,0.2-1c0.1-0.7,0.1-1.2,0.2-1.7c0-0.5,0-1,0-1.3C327.4,352.8,327.4,352.4,327.4,352.5L327.4,352.5z"></path>
          </g>
          <path fill="#F0F2F5" d="M203.3,379.5c0-6.6,6-6.6,6-13.2s-6-6.6-6-13.2c0-6.6,6-6.6,6-13.2c0-6.6-6-6.6-6-13.2c0-6.6,6-6.6,6-13.2
          c0-6.6-6-6.6-6-13.2c0-6.6,6-6.6,6-13.2c0-6.6-6-6.6-6-13.2c0-6.6,6-6.6,6-13.2c0-6.6-6-6.6-6-13.2c0-6.6,6-6.6,6-13.2
          c0-6.6-6-6.6-6-13.2c0-6.6,6-6.6,6-13.2c0-6.6-6-6.6-6-13.2c0-6.6,6-6.6,6-13.2c0-6.6-6-6.6-6-13.2c0-6.6,6-6.6,6-13.2
          c0-6.6-6-6.6-6-13.2c0-6.6,5.7-7.6,5.7-11.7h-1.7c-6.6,0-6.6-6-13.1-6s-6.6,6-13.1,6c-6.5,0-6.5-6-13.1-6c-6.6,0-6.6,6-13.1,6
          c-6.5,0-6.5-6-13.1-6c-6.5,0-6.5,6-13.1,6c-6.5,0-6.5-6-13.1-6c-6.5,0-6.5,6-13.1,6c-6.5,0-6.5-6-13.1-6c-6.6,0-6.6,6-13.1,6
          c-6.5,0-6.5-6-13.1-6c-6.5,0-6.5,6-13.1,6c-6.5,0-6.5-6-13.1-6c-6.5,0-6.5,6-13.1,6c-4.5,0-5.9-2.8-8.4-4.6l-0.7,0.1
          c0,6.6-6,6.6-6,13.2c0,6.6,6,6.6,6,13.2c0,6.6-6,6.6-6,13.2c0,6.6,6,6.6,6,13.2c0,6.6-6,6.6-6,13.2c0,6.6,6,6.6,6,13.2
          c0,6.6-6,6.6-6,13.2c0,6.6,6,6.6,6,13.2c0,6.6-6,6.6-6,13.2c0,6.6,6,6.6,6,13.2c0,6.6-6,6.6-6,13.2c0,6.6,6,6.6,6,13.2
          c0,6.6-6,6.6-6,13.2c0,6.6,6,6.6,6,13.2c0,6.6-6,6.6-6,13.2c0,6.6,6,6.6,6,13.2c0,6.6-6,6.6-6,13.2c0,6.6,6,6.6,6,13.2
          c0,6.6-6,6.6-6,13.2h2c6.5,0,6.5,6,13.1,6c6.5,0,6.5-6,13.1-6c6.5,0,6.5,6,13.1,6c6.5,0,6.5-6,13.1-6c6.5,0,6.5,6,13.1,6
          c6.6,0,6.6-6,13.1-6c6.5,0,6.5,6,13.1,6c6.5,0,6.5-6,13.1-6c6.5,0,6.5,6,13.1,6c6.5,0,6.5-6,13.1-6c6.5,0,6.5,6,13.1,6
          c6.6,0,6.6-6,13.1-6c6.5,0,6.5,6,13.1,6c6.6,0,6.6-6,13.1-6c4.7,0,6,3,8.8,4.8L203.3,379.5z"></path>
          <g>
            <path fill="#FFFFFF" d="M197.7,373.5c0-6.6,6-6.6,6-13.2s-6-6.6-6-13.2c0-6.6,6-6.6,6-13.2c0-6.6-6-6.6-6-13.2c0-6.6,6-6.6,6-13.2
            c0-6.6-6-6.6-6-13.2c0-6.6,6-6.6,6-13.2c0-6.6-6-6.6-6-13.2c0-6.6,6-6.6,6-13.2c0-6.6-6-6.6-6-13.2c0-6.6,6-6.6,6-13.2
            c0-6.6-6-6.6-6-13.2c0-6.6,6-6.6,6-13.2c0-6.6-6-6.6-6-13.2c0-6.6,6-6.6,6-13.2c0-6.6-6-6.6-6-13.2c0-6.6,6-6.6,6-13.2
            c0-6.6-6-6.6-6-13.2c0-6.6,5.7-7.6,5.7-11.7h-1.7c-6.6,0-6.6-6-13.1-6s-6.6,6-13.1,6c-6.5,0-6.5-6-13.1-6c-6.6,0-6.6,6-13.1,6
            c-6.5,0-6.5-6-13.1-6c-6.5,0-6.5,6-13.1,6c-6.5,0-6.5-6-13.1-6c-6.5,0-6.5,6-13.1,6c-6.5,0-6.5-6-13.1-6c-6.6,0-6.6,6-13.1,6
            c-6.5,0-6.5-6-13.1-6c-6.5,0-6.5,6-13.1,6c-6.5,0-6.5-6-13.1-6c-6.5,0-6.5,6-13.1,6c-4.5,0-5.9-2.8-8.4-4.6L9.2,119
            c0,6.6-6,6.6-6,13.2c0,6.6,6,6.6,6,13.2c0,6.6-6,6.6-6,13.2c0,6.6,6,6.6,6,13.2c0,6.6-6,6.6-6,13.2c0,6.6,6,6.6,6,13.2
            c0,6.6-6,6.6-6,13.2c0,6.6,6,6.6,6,13.2c0,6.6-6,6.6-6,13.2c0,6.6,6,6.6,6,13.2c0,6.6-6,6.6-6,13.2c0,6.6,6,6.6,6,13.2
            c0,6.6-6,6.6-6,13.2c0,6.6,6,6.6,6,13.2c0,6.6-6,6.6-6,13.2c0,6.6,6,6.6,6,13.2c0,6.6-6,6.6-6,13.2c0,6.6,6,6.6,6,13.2
            c0,6.6-6,6.6-6,13.2h2c6.5,0,6.5,6,13.1,6c6.5,0,6.5-6,13.1-6c6.5,0,6.5,6,13.1,6c6.5,0,6.5-6,13.1-6c6.5,0,6.5,6,13.1,6
            c6.6,0,6.6-6,13.1-6c6.5,0,6.5,6,13.1,6c6.5,0,6.5-6,13.1-6c6.5,0,6.5,6,13.1,6c6.5,0,6.5-6,13.1-6c6.5,0,6.5,6,13.1,6
            c6.6,0,6.6-6,13.1-6c6.5,0,6.5,6,13.1,6c6.6,0,6.6-6,13.1-6c4.7,0,6,3,8.8,4.8L197.7,373.5z"></path>
            <path fill="#435054" d="M195.2,373.2l0.1-0.9c0.1-0.5,0.2-1,0.3-1.5c0.3-0.9,0.6-1.9,1.1-2.7c0.5-0.8,1.1-1.5,1.6-2.1
            c0.5-0.6,1-1.1,1.4-1.6c0.8-1,1.3-1.8,1.5-2.8l0.1-0.4l0-0.4l0-0.4c0,0,0-0.2,0,0.1l0-0.1l0-0.1l0-0.3l0-0.6c0-0.2,0-0.2-0.1-0.4
            c0-0.2-0.1-0.4-0.2-0.7c-0.3-1-0.9-1.8-1.8-2.9c-0.9-1-2.2-2.4-2.9-4.2c-0.8-1.8-0.9-3.8-0.8-5.4c0-0.2,0.1-0.4,0.1-0.7l0.1-0.8
            c0.1-0.5,0.3-0.9,0.4-1.4c0.4-0.9,0.9-1.7,1.4-2.4c1.1-1.4,2.2-2.4,2.8-3.3c0.7-0.9,1-1.8,1.1-3l0-0.4l0-0.1c0-0.1,0,0.1,0,0.1
            l0-0.1l0-0.3l0-0.6c0-0.1,0-0.2,0-0.3l0-0.2c-0.1-0.4-0.2-1-0.4-1.4c-0.4-1-1.3-1.9-2.3-3c-1-1.1-2.2-2.7-2.7-4.6
            c-0.3-0.9-0.4-1.8-0.4-2.7l0-0.2l0-0.1c0,0,0-0.3,0-0.2l0-0.3l0-0.6l0-0.3l0.1-0.4l0.1-0.7c0.4-1.9,1.5-3.5,2.5-4.7
            c1.1-1.2,2-2.1,2.6-3.1c0.3-0.5,0.5-1,0.6-1.5c0-0.3,0.1-0.5,0.1-0.8l0-0.4l0-0.2c0,0.2,0,0,0,0l0-0.1l0-0.1l0-0.6
            c0-0.2,0-0.4,0-0.5c-0.1-0.2-0.1-0.5-0.2-0.7c-0.2-0.5-0.4-1-0.7-1.5c-0.6-1-1.6-2-2.7-3.3c-1-1.3-1.9-3.1-2.2-4.8
            c-0.1-0.4-0.1-0.9-0.1-1.3l0-0.3c0-0.1,0,0,0-0.2l0-0.1l0-0.1l0-0.6c0-0.3,0.1-0.8,0.2-1.3c0.1-0.5,0.2-0.9,0.4-1.3
            c0.6-1.7,1.8-3.1,2.8-4.2c1-1.1,1.8-2,2.2-3.1c0.2-0.5,0.3-1.1,0.4-1.7l0-0.5l0-0.2l0-0.1c0-0.1,0,0.1,0,0l0-0.1
            c0-0.4,0-0.8-0.1-1.1c-0.1-0.3-0.1-0.5-0.2-0.8c-0.1-0.3-0.1-0.6-0.3-0.8c-0.2-0.5-0.6-1-0.9-1.6c-0.8-1-1.9-2.1-2.9-3.5
            c-1-1.4-1.5-3.2-1.5-4.9l0-0.3l0-0.2c0,0,0-0.2,0-0.2l0-0.1l0-0.6c0-0.2,0-0.4,0-0.6l0.1-0.7c0.2-0.9,0.5-1.7,0.9-2.5
            c0.8-1.6,2-2.7,2.9-3.7c0.9-1,1.6-2,1.9-3.2c0-0.3,0.1-0.6,0.2-0.9l0.1-0.9l-0.1-1.1l-0.2-0.8c-0.3-1.2-1-2.2-1.9-3.2
            c-0.9-1.1-2.1-2.2-2.9-3.8c-0.8-1.6-1-3.3-1-5l0-0.6c0-0.2,0.1-0.4,0.1-0.7l0.1-0.7l0.2-0.6c0.3-0.8,0.7-1.6,1.1-2.3
            c1-1.4,2.1-2.4,2.9-3.4c0.8-1,1.3-2.1,1.4-3.4l0.1-1l-0.1-1c0-0.3-0.1-0.6-0.2-0.8c-0.1-0.3-0.2-0.6-0.3-0.9
            c-0.5-1.1-1.3-2.1-2.3-3.2c-1-1.1-2.2-2.4-2.7-4.1c-0.1-0.4-0.3-0.8-0.3-1.3c-0.1-0.4-0.2-0.9-0.2-1.3l0-0.6l0-0.1c0,0,0-0.2,0-0.2
            l0-0.1l0-0.3c0-0.4,0-0.7,0.1-1.2c0.3-1.8,1.1-3.4,2.2-4.7c1-1.2,2-2.2,2.6-3.3c0.6-1,0.9-2.1,0.9-3.4l0-0.1c0,0.2,0,0,0,0l0-0.1
            l0-0.3l0-0.6c0-0.2,0-0.3-0.1-0.4l-0.1-0.4c-0.1-0.3-0.2-0.5-0.3-0.8c-0.1-0.3-0.2-0.5-0.4-0.8c-0.6-1-1.6-1.9-2.6-3.1
            c-0.5-0.6-1.1-1.3-1.5-2.1c-0.4-0.8-0.8-1.7-1-2.6c-0.1-0.4-0.2-0.9-0.2-1.3l0-0.7l0-0.2c0-0.1,0,0.1,0-0.2l0-0.1l0-0.3l0-0.6
            l0-0.3l0.1-0.4c0.1-0.5,0.1-1,0.3-1.4c0.5-1.8,1.6-3.4,2.6-4.5c1-1.2,1.8-2.1,2.2-3.1c0.4-1,0.5-2,0.4-3.3
            c-0.1-1.1-0.5-1.9-1.2-2.9c-0.7-0.9-1.8-1.9-2.9-3.3c-0.5-0.7-1-1.6-1.4-2.5c-0.3-0.9-0.6-1.9-0.6-2.8l0-0.7l0-0.3l0-0.4l0-0.6
            c0-0.2,0-0.3,0.1-0.6c0.1-1.1,0.4-2,0.8-2.9c0.4-0.9,0.9-1.7,1.5-2.4c0.5-0.7,1.1-1.3,1.5-1.8c0.9-1.1,1.4-1.9,1.7-2.8
            c0.1-0.5,0.2-1,0.2-1.5l0-0.2l0-0.1c0,0.3,0,0,0,0.1l0-0.1l0-0.6l0-0.3l0-0.1l0-0.1c0-0.1-0.1-0.2-0.1-0.3
            c-0.1-0.4-0.3-0.9-0.5-1.3c-0.3-0.4-0.5-0.9-1-1.4c-0.8-0.9-2.1-2.1-3-3.8c-0.2-0.4-0.4-0.9-0.6-1.3c-0.2-0.5-0.3-0.9-0.4-1.4
            c-0.1-0.5-0.2-1-0.2-1.4l0-0.7l0-0.3l0-0.1c0-0.1,0,0.1,0-0.2l0-0.1c0-0.4,0-0.7,0.1-1.1c0.1-0.5,0.2-1,0.3-1.5
            c0.2-0.9,0.6-1.8,1.1-2.7c0.9-1.7,2.2-2.9,3.1-3.9c0.4-0.5,0.8-0.9,1-1.3c0.2-0.3,0.2-0.6,0.3-0.9v0l2.5,2.5l-1.9-0.1
            c-0.6-0.1-1-0.1-2-0.3c-1.6-0.3-2.9-1-4.1-1.9c-1.1-0.8-1.9-1.7-2.7-2.4c-0.8-0.7-1.4-1.1-2.2-1.4c-0.4-0.2-0.8-0.2-1.2-0.3
            l-0.7-0.1l-0.2,0c0,0,0.2,0,0.1,0l-0.1,0l-0.1,0l-0.4,0c-0.7,0-0.9,0.1-1.3,0.2l-0.6,0.2l-0.6,0.2c-0.7,0.4-1.5,1-2.3,1.8
            c-0.9,0.8-1.9,1.7-3.1,2.3c-1.3,0.7-2.7,1-4.1,1.1l-0.5,0l-0.1,0c-0.1,0,0.1,0-0.2,0l-0.1,0l-0.2,0l-0.9-0.1
            c-0.4-0.1-0.8-0.1-1.1-0.2c-0.4-0.1-0.7-0.2-1-0.3c-1.4-0.5-2.5-1.3-3.4-2.2c-0.9-0.8-1.7-1.6-2.4-2.2c-0.8-0.6-1.5-0.9-2.4-1.1
            c-0.2,0-0.4-0.1-0.7-0.1l-0.3,0l-0.2,0l-0.1,0c0,0-0.1,0,0.1,0l-0.1,0c-0.6,0-1.2,0-1.5,0.1c-0.8,0.1-1.6,0.5-2.4,1.1
            c-0.8,0.6-1.6,1.3-2.5,2.1c-0.9,0.8-2.1,1.6-3.4,2c-1.3,0.5-2.7,0.6-4,0.5c-0.5,0-1.4-0.2-2-0.3c-0.3-0.1-0.7-0.2-1-0.3l-0.9-0.5
            c-1.2-0.7-2.2-1.6-3-2.3c-1.6-1.6-3-2.5-5-2.5l-0.4,0l0,0c0,0,0.1,0,0,0l-0.1,0l-0.2,0c-0.3,0-0.6,0-0.8,0.1
            c-0.2,0-0.4,0.1-0.6,0.1c-0.2,0-0.4,0.1-0.6,0.2c-0.8,0.3-1.6,0.8-2.4,1.5c-0.8,0.7-1.6,1.5-2.7,2.3c-1.1,0.8-2.4,1.4-3.7,1.6
            c-0.3,0.1-0.7,0.1-1,0.1l-0.5,0l-0.2,0l-0.1,0l-0.2,0c-0.6,0-1.1,0-1.9-0.2c-1.4-0.3-2.7-0.9-3.7-1.7c-1.1-0.8-1.9-1.6-2.7-2.3
            c-0.8-0.7-1.6-1.2-2.4-1.5c-0.8-0.3-1.8-0.4-2.8-0.3l-0.4,0c-0.1,0-0.2,0-0.3,0.1c-0.2,0.1-0.4,0.1-0.6,0.1
            c-0.2,0.1-0.4,0.1-0.6,0.2l-0.6,0.3c-0.8,0.4-1.5,1.1-2.4,1.9c-0.8,0.8-1.8,1.7-3,2.3c-1.2,0.7-2.6,1-3.9,1l-0.5,0
            c-0.1,0,0.1,0-0.2,0l-0.1,0l-0.1,0l-0.2,0c-0.3,0-0.5,0-0.9-0.1l-1.1-0.2c-0.4-0.1-0.7-0.2-1-0.3c-1.3-0.5-2.5-1.3-3.4-2.1
            c-0.9-0.8-1.7-1.6-2.5-2.1c-0.8-0.6-1.6-0.9-2.5-1c-0.2-0.1-0.4-0.1-0.7-0.1l-0.4,0l-0.2,0l0,0c0,0-0.1,0,0.1,0l-0.1,0l-0.9,0.1
            c-0.2,0-0.3,0-0.4,0.1l-0.3,0.1c-0.8,0.2-1.6,0.5-2.4,1.1c-0.8,0.6-1.6,1.4-2.5,2.2c-0.9,0.8-2.1,1.6-3.5,2.1
            c-1.3,0.5-2.7,0.6-4,0.5l-0.4,0c-0.2,0-0.4-0.1-0.5-0.1c-0.4-0.1-0.8-0.1-1.1-0.2c-0.7-0.2-1.3-0.5-2-0.8c-1.2-0.7-2.2-1.6-3-2.3
            c-1.7-1.6-3-2.4-4.9-2.4l-0.3,0c0,0,0.2,0,0.1,0l-0.1,0l-0.1,0l-0.2,0c-0.3,0-0.6,0-0.8,0.1c-0.2,0-0.4,0.1-0.6,0.1
            c-0.2,0.1-0.4,0.1-0.6,0.2c-0.8,0.3-1.5,0.8-2.3,1.5c-0.8,0.7-1.6,1.6-2.7,2.4c-1.1,0.8-2.5,1.4-3.9,1.7c-0.4,0.1-0.7,0.1-1,0.1
            l-0.5,0l-0.3,0l-0.1,0c0,0-0.3,0-0.2,0l-0.1,0l-0.9,0c-0.3,0-0.7-0.1-1.1-0.2c-1.5-0.3-2.8-0.9-3.9-1.7c-1.1-0.8-1.9-1.7-2.7-2.3
            c-0.8-0.6-1.5-1.1-2.3-1.3c-0.8-0.2-1.6-0.3-2.6-0.2l-0.4,0l-0.3,0.1c-0.2,0.1-0.3,0-0.5,0.1c-0.4,0.1-0.7,0.3-1.1,0.5
            c-0.7,0.4-1.4,1.1-2.3,1.9c-0.8,0.8-1.9,1.7-3.2,2.4c-1.3,0.7-2.8,1.1-4.2,1.1l-0.3,0l-0.1,0l-0.1,0c0.1,0-0.2,0-0.2,0l-0.4,0
            c-0.2,0-0.3,0-0.5,0l-0.6-0.1c-0.8-0.1-1.5-0.3-2.2-0.5c-1.4-0.5-2.7-1.4-3.6-2.2c-1-0.8-1.7-1.5-2.4-2l0,0l1.7,0.4l-0.7,0.1l0,0
            l2.2-2.5l-0.1,1.4c-0.1,0.5-0.2,1-0.3,1.4c-0.3,0.9-0.6,1.9-1.1,2.7c-0.5,0.8-1.1,1.5-1.6,2.1c-0.5,0.6-1,1.1-1.4,1.6
            c-0.8,1-1.2,1.8-1.4,2.8c-0.1,0.2-0.1,0.5-0.1,0.8l0,0.2l0,0.1l0,0.1c0,0.2,0-0.1,0-0.1l0,0.6l0,0.6c0,0.1,0.1,0.2,0.1,0.3l0.1,0.3
            l0.1,0.4c0.3,0.9,0.9,1.8,1.9,2.8c0.9,1,2.2,2.5,3,4.3c0.2,0.5,0.3,0.9,0.5,1.4c0.1,0.5,0.2,0.9,0.2,1.4l0,0.7l0,0.3l0,0.2l0,0.1
            c0,0,0,0.3,0,0.2l-0.1,1.1c-0.1,0.5-0.2,1.1-0.3,1.6c-0.2,0.5-0.3,0.9-0.5,1.4c-0.4,0.9-0.9,1.7-1.5,2.4c-1.1,1.4-2.1,2.4-2.8,3.3
            c-0.6,0.9-0.9,1.8-0.9,2.9l0,0.2l0,0.1c0,0,0,0.2,0-0.1l0,0.1l0,0.6l0,0.5c0,0.1,0.1,0.2,0.1,0.3c0,0.2,0.1,0.4,0.2,0.7
            c0.1,0.2,0.2,0.5,0.3,0.7c0.5,0.9,1.3,1.8,2.4,3c1.1,1.2,2.2,2.9,2.7,4.8c0.1,0.5,0.2,0.9,0.2,1.4l0,0.7l0,0.3l0,0.2
            c0-0.1,0,0.2,0,0.2l0,0.1l-0.1,1.1c-0.1,0.5-0.2,1.1-0.3,1.5c-0.5,1.9-1.7,3.6-2.8,4.7c-1.1,1.2-1.9,2.1-2.3,3
            c-0.4,0.9-0.6,1.9-0.5,3.1c0,0.2,0,0.4,0,0.5c0,0.1,0.1,0.2,0.1,0.3c0,0.2,0.1,0.4,0.2,0.7c0.2,0.5,0.4,0.9,0.7,1.4
            c0.6,0.9,1.7,1.9,2.8,3.4c0.5,0.7,1,1.6,1.4,2.5c0.3,0.9,0.6,1.9,0.6,2.8l0,0.7l0,0.3l0,0.1c0,0.1,0-0.1,0,0.2l0,0.1
            c0,0.4,0,0.7-0.1,1.1c-0.1,0.5-0.2,1.1-0.3,1.5c-0.2,0.5-0.3,0.9-0.5,1.4c-0.8,1.8-2.1,3.1-3,4.2c-1,1.1-1.5,1.9-1.8,2.9
            c-0.2,0.5-0.2,1-0.2,1.6l0,0.2l0,0.1c0,0,0-0.2,0-0.1l0,0.1l0,0.6c0,0.2,0,0.4,0,0.5c0,0.1,0.1,0.2,0.1,0.3c0.1,0.4,0.3,1,0.5,1.4
            c0.3,0.5,0.6,0.9,1,1.4c0.8,1,2.1,2.2,3,3.8c0.2,0.4,0.4,0.9,0.6,1.3c0.1,0.5,0.3,0.9,0.4,1.4c0.1,0.5,0.2,0.9,0.2,1.4l0,0.7l0,0.3
            c0,0.1,0-0.1,0,0.2l0,0.1l0,0.1l0,0.6c0,0.2,0,0.3-0.1,0.6c-0.1,0.5-0.2,1.1-0.3,1.5c-0.3,0.9-0.7,1.9-1.2,2.6
            c-1,1.6-2.2,2.7-3,3.6c-0.8,1-1.2,1.8-1.3,2.9c-0.1,0.2,0,0.6-0.1,0.8l0,0.2c0,0.1,0-0.1,0-0.1l0,0.1l0,0.1l0,0.6
            c0,0.4,0.1,0.6,0.1,0.8c0,0.2,0.1,0.5,0.2,0.7c0.3,0.9,1,1.8,2,2.9c1,1.1,2.3,2.5,3,4.4c0.3,0.9,0.5,1.9,0.6,2.8l0,0.7l0,0.3l0,0.4
            l0,0.6c0,0.2,0,0.3-0.1,0.6c-0.2,1.1-0.4,2-0.8,2.9c-0.4,0.9-0.9,1.7-1.5,2.4c-1.1,1.3-2.1,2.3-2.7,3.2c-0.6,0.9-0.8,1.8-0.9,3
            c0,1.3,0.2,2.1,0.7,3.1c0.5,0.9,1.4,1.8,2.5,3.1c0.5,0.6,1.1,1.4,1.6,2.2c0.4,0.9,0.8,1.8,1,2.7c0.1,0.5,0.2,0.9,0.2,1.4l0,0.7
            l0,0.2l0,0.1c0,0,0,0.3,0,0.2l0,0.3l0,0.6l0,0.3l-0.1,0.4c-0.1,0.5-0.2,1.1-0.3,1.5c-0.5,1.9-1.8,3.5-2.8,4.6c-1.1,1.2-1.8,2-2.2,3
            c-0.4,0.9-0.6,1.9-0.4,3.2c0.1,1,0.4,1.9,1.1,2.8c0.7,0.9,1.8,2,2.9,3.4c1.1,1.5,1.8,3.5,1.9,5.3l0,0.7l0,0.2c0,0,0,0.3,0,0.2
            l0,0.1l0,0.3c0,0.4,0,0.7-0.1,1.2c-0.1,0.5-0.2,1.1-0.3,1.5l-0.2,0.7l-0.3,0.7c-0.8,1.8-2.1,3-3,4.1c-0.9,1-1.5,1.9-1.7,2.8
            c-0.1,0.2-0.1,0.5-0.2,0.8c0,0.3,0,0.6-0.1,0.8l0,0.1c0,0,0,0.2,0-0.1l0,0.1l0,0.3l0,0.6c0,0.2,0,0.3,0.1,0.4c0,0.1,0,0.2,0.1,0.3
            c0.2,1,0.8,1.8,1.6,2.8c0.9,1,2.1,2.2,3,3.9c0.4,0.9,0.8,1.8,1,2.7c0.1,0.5,0.2,0.9,0.2,1.4l0,0.7l0,0.1c0,0,0,0.3,0,0.2l0,0.1
            l0,0.3c0,0.6-0.2,1.9-0.5,2.8c-0.3,0.9-0.8,1.8-1.3,2.6c-1,1.5-2.2,2.6-2.9,3.5c-0.7,1-1.1,1.8-1.2,2.9l0,0.8l0.1,0.9
            c0,0.3,0.1,0.4,0.1,0.7c0.1,0.2,0.1,0.5,0.2,0.7c0.4,0.9,1.1,1.8,2.1,2.9c0.5,0.6,1.1,1.2,1.6,1.9c0.5,0.8,1,1.6,1.3,2.6
            c0.2,0.5,0.3,0.9,0.4,1.4l0.1,0.7l0,0.7l0,0.7c0-0.1,0,0.2,0,0.2l0,0.1l0,0.1l0,0.3l0,0.6c0,0.2-0.1,0.5-0.1,0.7l-0.1,0.8
            c-0.1,0.2-0.1,0.5-0.2,0.7c-0.1,0.5-0.3,0.9-0.6,1.4c-0.2,0.4-0.5,0.8-0.7,1.2c-0.3,0.3-0.5,0.7-0.8,1.1c-1.1,1.3-2.1,2.2-2.6,3.1
            c-0.6,0.9-0.8,1.8-0.8,3l0,0l-2.4-2.4l1.7,0l0.2,0l0.3,0l0.1,0l0.4,0c0.3,0,0.5,0,1,0.1c0.4,0.1,0.8,0.1,1.2,0.2l1.1,0.4l1,0.5
            c0.3,0.2,0.6,0.4,0.9,0.6c1.2,0.8,2,1.7,2.8,2.4c0.8,0.7,1.4,1.2,2.2,1.5c0.2,0.1,0.4,0.1,0.6,0.2l0.6,0.1c0.2,0.1,0.4,0,0.6,0.1
            l0.3,0l0,0c0,0-0.2,0-0.1,0l0.1,0l0.2,0c0.3,0,0.6,0,0.8,0c0.2,0,0.3-0.1,0.5-0.1c0.4-0.1,0.8-0.2,1.1-0.4c0.7-0.4,1.4-0.9,2.3-1.7
            c0.8-0.7,1.8-1.7,3.1-2.4c1.3-0.7,2.8-1.1,4.2-1.2l0.5,0l0.3,0l0.1,0c-0.1,0,0.2,0,0.2,0l0.1,0l0.9,0.1c0.6,0.1,1.6,0.2,2.2,0.5
            c1.4,0.5,2.7,1.3,3.6,2.1c1,0.8,1.7,1.6,2.5,2.2c0.7,0.6,1.5,0.9,2.3,1.1c0.4,0.1,0.9,0.1,1.3,0.1c0.2,0,1.2,0,1.4-0.1
            c0.3,0,0.7-0.2,1.1-0.3c0.4-0.2,0.7-0.4,1.1-0.6c0.7-0.5,1.5-1.3,2.5-2.1c0.9-0.8,2.2-1.7,3.6-2.2c0.7-0.3,1.4-0.4,2.1-0.5l1-0.1
            l0.3,0l0.1,0l0.2,0l0.4,0l0.4,0c0.1,0,0.3,0,0.5,0.1c0.4,0.1,0.8,0.1,1.2,0.2l1.1,0.3c0.3,0.1,0.7,0.3,1,0.5
            c1.3,0.7,2.3,1.6,3.1,2.4c1.7,1.6,2.9,2.4,4.7,2.4l0.3,0l0.1,0c0,0-0.2,0-0.1,0l0.1,0l0.2,0l0.9-0.1c0.3-0.1,0.7-0.1,1.1-0.3
            c0.8-0.3,1.4-0.7,2.2-1.4c0.8-0.7,1.6-1.6,2.8-2.4c1.1-0.8,2.6-1.5,4-1.7c0.4-0.1,0.7-0.1,1.1-0.1l0.5,0l0.3,0l0.1,0
            c-0.1,0,0.2,0,0.2,0l0.1,0l0.9,0l0.2,0l0.3,0l0.6,0.1c1.5,0.3,2.9,1,4,1.8c1.1,0.8,2,1.7,2.8,2.3c0.8,0.6,1.5,1.1,2.2,1.3
            c0.7,0.2,1.6,0.3,2.5,0.2l0.4,0l0.2-0.1c0.2-0.1,0.3,0,0.5-0.1c0.4-0.1,0.7-0.3,1.1-0.5c0.7-0.4,1.4-1,2.2-1.8
            c0.8-0.8,1.9-1.8,3.3-2.5c1.3-0.7,2.9-1.1,4.3-1.1l0.3,0l0.1,0l0.1,0l0.2,0l0.4,0l0.4,0c0.1,0,0.3,0,0.5,0c0.4,0.1,0.8,0.1,1.2,0.2
            l1.1,0.4c1.5,0.5,2.7,1.5,3.7,2.3c1,0.8,1.7,1.6,2.4,2c0.7,0.5,1.3,0.7,2.1,0.8c0.2,0,0.4,0,0.6,0.1l0.3,0l0.1,0l0,0
            c0,0-0.3,0-0.1,0l0.2,0l0.9-0.1c0.2,0,0.3-0.1,0.4-0.1c0.7-0.2,1.3-0.5,2-1c0.7-0.5,1.5-1.3,2.5-2.2c1-0.9,2.4-1.8,3.9-2.2
            c0.4-0.1,0.8-0.2,1.1-0.3c0.4-0.1,0.8-0.1,1.1-0.2l0.6,0l0.3,0l0.1,0l0.1,0l0.2,0l0.9,0c0.2,0,0.7,0.1,1.1,0.2l0.6,0.1l0.6,0.2
            c0.8,0.2,1.5,0.6,2.1,1c1.3,0.8,2.3,1.7,3.1,2.5c1.6,1.5,2.6,2,4.3,2.1l0.1,0l0,0c0.2,0-0.2,0-0.1,0l0.2,0l0.4,0l0.4,0
            c0.1,0,0.2,0,0.2,0c0.3,0,0.6-0.1,1-0.2c0.7-0.2,1.4-0.7,2.2-1.4c0.8-0.7,1.7-1.6,3-2.3c1.2-0.8,2.8-1.3,4.2-1.5
            c0.4-0.1,0.7,0,1.1-0.1l0.5,0l0.2,0l0.1,0l0.1,0l0.2,0c0.3,0,0.5,0,0.9,0.1c0.4,0.1,0.8,0.2,1.2,0.2c1.5,0.4,2.8,1.2,3.8,2
            c1,0.9,1.8,1.7,2.6,2.3c0.7,0.6,1.4,1,2.2,1.3c0.4,0.1,0.8,0.2,1.3,0.2l0.3,0l0.2,0c0,0-0.2,0-0.1,0l0.1,0l0.1,0l0.9-0.1
            c0.7-0.1,1.5-0.3,2.3-0.8c0.8-0.5,1.5-1.2,2.4-2c0.9-0.8,2-1.7,3.3-2.3c1.3-0.6,2.8-0.9,4.2-1l1,0c0.4,0,0.8,0.1,1.2,0.1
            c0.7,0.1,1.4,0.3,2.1,0.6c1.4,0.6,2.6,1.5,3.5,2.2c0.9,0.8,1.7,1.4,2.4,1.8l0,0l-3.8,1.7L195.2,373.2z M200.2,373.8l-0.4,2
            l-0.7,3.9l-3.1-2.3l0,0c-1.2-0.9-2.1-1.8-2.9-2.6c-0.8-0.7-1.4-1.3-2.1-1.7c-1.4-0.7-3.5-0.7-4.9-0.1c-0.8,0.3-1.5,0.9-2.3,1.6
            c-0.8,0.7-1.8,1.6-3,2.4c-1.2,0.8-2.6,1.3-4.2,1.4l-0.9,0.1l-0.3,0l-0.3,0l-0.5,0c-0.7,0-1.4-0.2-2.1-0.3c-1.4-0.4-2.7-1.2-3.7-2
            c-1-0.8-1.8-1.6-2.6-2.2c-0.8-0.6-1.5-0.9-2.3-1.1c-0.2,0-0.3,0-0.5-0.1c-0.2,0-0.5,0-0.8,0l-0.2,0l-0.1,0l-0.1,0c0,0-0.2,0,0.1,0
            l-0.3,0c-0.2,0-0.4,0-0.6,0.1c-0.8,0.1-1.5,0.4-2.2,0.9c-0.7,0.5-1.4,1.2-2.3,2.1c-0.9,0.8-2.1,1.8-3.5,2.5
            c-0.7,0.3-1.5,0.5-2.3,0.7c-0.2,0-0.5,0.1-0.6,0.1l-0.4,0l-0.4,0l-0.2,0c0,0-0.4,0-0.2,0l-0.1,0l-0.1,0c-1.4,0-3-0.3-4.5-1
            c-1.4-0.7-2.6-1.6-3.4-2.4c-0.9-0.8-1.6-1.4-2.2-1.8c-0.3-0.2-0.6-0.3-1-0.4l-0.2-0.1l-0.2,0c-0.2,0-0.2-0.1-0.6-0.1l-0.9-0.1
            c-0.2,0,0.2,0,0.1,0l0,0l-0.1,0l-0.2,0l-0.3,0c-0.2,0-0.4,0-0.6,0.1c-0.2,0-0.4,0.1-0.5,0.1c-0.7,0.2-1.3,0.6-2,1.2
            c-0.7,0.6-1.6,1.5-2.7,2.3c-1.1,0.9-2.6,1.6-4.1,2c-0.4,0.1-0.9,0.2-1.2,0.2l-0.9,0l-0.2,0c0.1,0-0.2,0-0.2,0l-0.1,0l-0.1,0l-0.6,0
            c-0.4,0-0.7,0-1.1-0.1c-1.5-0.2-3.1-0.9-4.2-1.7c-1.2-0.9-2.1-1.8-2.8-2.4c-0.8-0.7-1.4-1.1-2.1-1.4c-0.2-0.1-0.4-0.1-0.5-0.2
            c-0.2,0-0.3-0.1-0.4-0.1c0,0-0.2,0-0.3,0l-0.4,0l-0.4,0c0.1,0-0.2,0,0.1,0l0,0l-0.1,0l-0.2,0c-0.9,0-1.6,0.2-2.3,0.5
            c-0.7,0.3-1.4,0.9-2.2,1.6c-0.8,0.7-1.8,1.7-3.2,2.4c-0.7,0.4-1.4,0.7-2.1,0.9c-0.3,0.1-0.8,0.2-1.2,0.2l-0.6,0.1l-0.4,0
            c-1.4,0.1-2.8,0-4.3-0.5c-1.4-0.5-2.7-1.4-3.7-2.2c-1-0.9-1.7-1.6-2.5-2.2c-0.7-0.5-1.5-0.9-2.2-1l-0.2-0.1l-0.1,0l-0.2,0l-0.9-0.1
            l-0.1,0c0,0,0.2,0,0.1,0l-0.1,0l-0.2,0l-0.3,0c-0.2,0-0.4,0-0.6,0.1c-0.8,0.1-1.5,0.4-2.3,0.9c-0.7,0.5-1.5,1.3-2.5,2.1
            c-1,0.8-2.2,1.7-3.6,2.2c-0.4,0.1-0.7,0.2-1.1,0.3c-0.4,0.1-0.8,0.1-1.2,0.2l-0.9,0l-0.2,0l-0.2,0l-0.1,0l-0.5,0
            c-1.4-0.1-2.9-0.4-4.2-1.1c-1.3-0.7-2.3-1.6-3.1-2.4c-1.7-1.6-2.9-2.4-4.7-2.4l-0.4,0l-0.1,0c0,0-0.2,0,0.1,0l-0.1,0l-0.2,0l-0.7,0
            c-0.4,0.1-0.8,0.1-1.2,0.3c-0.8,0.3-1.5,0.7-2.2,1.4c-0.8,0.7-1.6,1.5-2.8,2.4c-0.6,0.4-1.2,0.8-1.9,1.1c-0.7,0.3-1.4,0.5-2.2,0.6
            l-0.6,0.1c-0.2,0-0.3,0-0.4,0l-0.4,0l-0.2,0l-0.1,0c-0.3,0-0.1,0-0.2,0l-0.1,0c-0.7,0-1.4-0.1-2.1-0.2c-1.4-0.3-2.8-1-3.9-1.8
            c-1.1-0.8-1.9-1.7-2.7-2.3c-0.8-0.7-1.5-1.1-2.2-1.3c-0.2-0.1-0.4-0.1-0.6-0.1l-0.3-0.1c-0.1,0-0.2,0-0.3,0l-0.9,0l-0.6,0
            c-0.9,0.1-1.6,0.3-2.4,0.7c-0.7,0.4-1.4,1.1-2.3,1.9c-0.9,0.8-1.9,1.7-3.2,2.4c-0.7,0.3-1.4,0.6-2.1,0.8c-0.4,0.1-0.8,0.2-1.2,0.2
            c-0.3,0-0.6,0-0.9,0.1l-0.2,0l-0.1,0l-0.2,0l-0.1,0l-0.5,0c-0.4,0-0.7,0-1.1-0.1c-0.4-0.1-0.7-0.1-1.1-0.2l-1.1-0.3
            c-1.4-0.5-2.6-1.4-3.6-2.2c-0.9-0.8-1.7-1.6-2.4-2l-0.5-0.3c-0.2-0.1-0.4-0.2-0.5-0.2L6.8,373c-0.2,0-0.3-0.1-0.5-0.1
            c-0.3-0.1-1.2-0.1-1.4-0.1l-1.7,0l-2.5,0l0.1-2.4l0,0l0.1-1.4c0.1-0.5,0.2-0.9,0.3-1.4c0.3-0.9,0.6-1.9,1.1-2.7
            c0.5-0.8,1.1-1.5,1.6-2.1c0.5-0.6,1-1.1,1.4-1.6c0.2-0.2,0.4-0.5,0.5-0.7c0.1-0.2,0.3-0.5,0.4-0.7c0.1-0.2,0.2-0.5,0.3-0.7l0.1-0.4
            c0-0.1,0-0.2,0.1-0.3c0-0.1,0.1-0.2,0.1-0.4l0-0.6l0-0.3l0-0.1l0-0.1c0-0.1,0,0.2,0,0.1l0-0.4l0-0.4L6.7,356c0-0.3-0.1-0.5-0.2-0.7
            c-0.3-0.9-0.9-1.8-1.9-2.9c-0.9-1-2.2-2.5-3-4.3c-0.2-0.5-0.3-0.9-0.5-1.4c-0.1-0.5-0.2-1.1-0.2-1.5l0-0.6l0-0.3l0-0.1l0-0.1
            c0-0.3,0-0.1,0-0.2l0.1-1.4c0.2-1.9,1.1-3.8,2.2-5.2c1.1-1.4,2.1-2.3,2.8-3.3c0.3-0.5,0.5-0.9,0.7-1.4c0.1-0.2,0.1-0.5,0.2-0.7
            c0.1-0.1,0.1-0.6,0.1-0.9l0-0.3l0-0.1c0-0.2,0,0.1,0,0.1l0-0.1l0-0.4c0-0.3,0-0.6-0.1-0.8c-0.1-0.5-0.3-1-0.5-1.4
            c-0.5-0.9-1.3-1.8-2.4-3c-1.1-1.2-2.2-2.9-2.7-4.9L1,319.4c0-0.3-0.1-0.6-0.1-0.7l0-0.6l0-0.3l0-0.1c0-0.3,0-0.1,0-0.2l0-0.1
            c0-0.5,0-0.9,0.1-1.4c0.1-0.5,0.2-0.9,0.3-1.4c0.5-1.9,1.7-3.6,2.8-4.7c1.1-1.2,1.9-2.1,2.3-3l0.2-0.3l0.1-0.4
            c0.1-0.3,0.1-0.5,0.2-0.7c0.1-0.1,0.1-0.6,0.1-1l0-0.3l0-0.1c0-0.1,0,0.1,0,0.1l0-0.1l0-0.4c-0.1-1.1-0.4-2-1-2.9
            c-0.6-0.9-1.7-1.9-2.8-3.4c-0.5-0.7-1-1.6-1.4-2.5c-0.1-0.5-0.3-0.9-0.4-1.4L1,292.8l-0.1-0.4l0-0.3c-0.2-1.6,0-3.7,0.9-5.5
            c0.4-0.9,0.9-1.7,1.5-2.4c0.5-0.7,1.1-1.3,1.5-1.8c1-1.1,1.5-1.9,1.8-2.9c0.1-0.3,0.1-0.4,0.2-0.7l0-0.2l0-0.3l0-0.6l0-0.3
            c0-0.1,0,0.1,0,0.1l0-0.1l0-0.1l0-0.4c0-0.3-0.1-0.5-0.1-0.8c-0.2-1-0.7-1.8-1.5-2.8c-0.8-1-2.1-2.2-3-3.8c-1-1.6-1.3-3.9-1.3-5.5
            c0-1.8,0.6-3.8,1.6-5.4c1-1.6,2.2-2.6,3-3.6c0.4-0.5,0.7-0.9,0.9-1.4c0.2-0.5,0.3-1,0.4-1.4c0-0.1,0-0.3,0.1-0.5l0-0.6l0-0.1l0-0.1
            c0,0,0-0.2,0,0.1l0-0.2l0-0.4c0-0.6-0.2-1.1-0.3-1.5c-0.3-0.9-1-1.8-2-2.9c-1-1.1-2.3-2.5-2.9-4.4c-0.1-0.5-0.3-0.9-0.4-1.4
            c-0.1-0.5-0.2-1.1-0.2-1.4l0-0.6l0-0.1l0-0.1c0,0,0-0.3,0-0.2l0-0.3c0-0.5,0-0.9,0.1-1.4c0.2-1.9,1.2-3.8,2.3-5.1
            c1.1-1.3,2.1-2.3,2.7-3.2c0.3-0.5,0.5-0.9,0.6-1.4c0.1-0.2,0.1-0.4,0.1-0.6c0-0.1,0-0.3,0-0.5l0-0.6l0-0.1l0-0.1c0,0.3,0,0,0,0.1
            l0-0.2l0-0.4c0-0.3-0.1-0.5-0.1-0.8c0-0.3-0.2-0.5-0.2-0.7c-0.1-0.2-0.2-0.5-0.3-0.7c-0.5-0.9-1.4-1.8-2.5-3.1
            c-0.5-0.6-1.1-1.4-1.6-2.2c-0.4-0.9-0.8-1.7-1-2.8l-0.1-0.8c0-0.3,0-0.4-0.1-0.6l0-0.6l0-0.1c0,0.1,0-0.2,0-0.2l0-0.1l0-0.3
            c0-0.9,0.2-1.9,0.5-2.8c0.3-0.9,0.7-1.8,1.2-2.6c0.5-0.8,1.1-1.4,1.6-2c1.1-1.2,1.8-2,2.2-3c0.1-0.2,0.2-0.5,0.3-0.7
            c0.1-0.2,0.1-0.4,0.1-0.6c0-0.3,0-0.7,0.1-1.1l0-0.1c0,0.3,0,0,0,0.1l0-0.1l0-0.2l0-0.4c-0.1-1.1-0.4-2-1.2-2.9
            c-0.7-0.9-1.8-2-2.9-3.4c-0.5-0.7-1-1.6-1.3-2.5c-0.2-0.5-0.3-0.9-0.4-1.5l-0.1-0.8c0-0.2,0-0.4,0-0.6c-0.1-1.8,0.1-3.7,1-5.5
            c0.9-1.8,2.1-3,3-4c0.9-1,1.4-1.9,1.7-2.8c0.5-2.5,0.1-4.1-1.6-6c-0.9-1-2.1-2.2-3.1-3.9c-0.2-0.4-0.4-0.9-0.6-1.3
            c-0.2-0.5-0.3-0.9-0.4-1.5l-0.1-0.8l0-0.6l0-0.6l0-0.1c0-0.3,0-0.1,0-0.2l0-0.2l0-0.3c0-1.8,0.7-3.9,1.8-5.4
            c1.1-1.5,2.2-2.6,2.9-3.5c0.4-0.5,0.6-0.9,0.8-1.4c0.1-0.2,0.2-0.5,0.2-0.7c0-0.2,0.1-0.4,0.1-0.6l0.1-1.1c0-0.2,0,0.1,0,0.1l0-0.1
            l0-0.1l0-0.2l0-0.4c0-0.3-0.1-0.5-0.1-0.8c-0.1-0.2-0.1-0.5-0.2-0.7c-0.4-0.9-1.1-1.8-2.1-2.9c-0.5-0.5-1.1-1.2-1.6-2
            c-0.5-0.8-1-1.6-1.3-2.6l-0.2-0.7c-0.1-0.3-0.1-0.5-0.2-0.8c0-0.3-0.1-0.5-0.1-0.8l0-0.6l0-0.6c0,0,0-0.3,0-0.2l0-0.1l0-0.2l0-0.3
            c0-0.5,0.1-0.9,0.2-1.4c0.3-1.9,1.3-3.8,2.4-5.1c0.6-0.7,1.1-1.2,1.5-1.7c0.4-0.5,0.8-1,1.1-1.4c0.5-0.9,0.8-1.8,0.8-3l0-2.2
            l2.2-0.2l0,0l0.7-0.1l1-0.1l0.7,0.5l0,0c1.2,0.9,2,1.8,2.8,2.4c0.8,0.7,1.4,1.2,2.1,1.4c0.3,0.1,0.8,0.3,1.1,0.3l0.3,0
            c0.1,0,0.3,0,0.4,0l0.4,0c0,0-0.1,0-0.1,0l0,0l0.1,0l0.2,0c0.9,0,1.6-0.2,2.4-0.5c0.7-0.3,1.4-0.9,2.3-1.7c0.8-0.7,1.8-1.7,3.1-2.4
            c0.6-0.3,1.3-0.6,2-0.8c0.3-0.1,0.8-0.2,1.1-0.2l0.6-0.1l0.4,0c1.3-0.1,2.8,0.1,4.2,0.5c1.4,0.5,2.6,1.3,3.6,2.2
            c1,0.8,1.7,1.6,2.5,2.2c0.7,0.6,1.5,0.9,2.3,1.1l0.3,0.1c0.1,0,0.2,0.1,0.3,0.1l0.9,0.1l0.1,0c0.1,0-0.1,0-0.1,0l0,0l0.2,0l0.3,0
            c0.2,0,0.5,0,0.7-0.1c0.9-0.1,1.6-0.4,2.4-1c0.8-0.5,1.5-1.3,2.5-2.1c0.9-0.8,2.1-1.6,3.5-2.1c0.3-0.1,0.7-0.2,1-0.3
            c0.4-0.1,0.8-0.1,1.1-0.2c0.4,0,0.6,0,0.9-0.1l0.5,0l0.5,0c1.3,0,2.8,0.4,4,1.1c1.3,0.7,2.2,1.6,3.1,2.3c0.8,0.8,1.6,1.5,2.4,1.9
            c0.4,0.2,0.8,0.4,1.2,0.5c0.2,0.1,0.4,0.1,0.6,0.1c0.1,0,0.2,0,0.3,0.1l0.4,0c2,0.2,3.6-0.3,5.1-1.7c0.8-0.7,1.6-1.5,2.7-2.3
            c1.1-0.8,2.3-1.4,3.8-1.7c0.3-0.1,0.8-0.2,1-0.2l0.9,0l0.1,0c0.2,0,0.1,0,0.2,0l0.1,0l0.2,0l0.5,0c0.3,0,0.7,0.1,1,0.1
            c1.3,0.2,2.7,0.8,3.8,1.6c1.1,0.8,1.9,1.6,2.7,2.3c0.8,0.7,1.5,1.2,2.4,1.5c0.2,0.1,0.4,0.2,0.6,0.2c0.2,0,0.4,0.1,0.6,0.1
            c0.2,0,0.6,0,0.8,0.1l0.2,0l0.1,0l0.1,0c-0.2,0,0,0,0,0l0.4,0c1,0,1.8-0.2,2.6-0.7c0.8-0.4,1.6-1.1,2.4-1.8c0.8-0.8,1.8-1.6,3-2.3
            c0.3-0.2,0.6-0.3,0.9-0.4c0.3-0.1,0.7-0.2,1-0.3c0.3-0.1,0.7-0.2,1.1-0.2c0.2,0,0.4-0.1,0.5-0.1l0.4,0c1.3-0.1,2.7,0,4,0.5
            c1.3,0.4,2.5,1.2,3.4,2c0.9,0.8,1.7,1.6,2.5,2.2c0.8,0.6,1.6,1,2.5,1.1l0.3,0.1l0.2,0l0.2,0l0.9,0.1l0.6,0c0.2,0,0.5,0,0.7-0.1
            c0.9-0.2,1.7-0.5,2.5-1.1c0.8-0.6,1.6-1.3,2.5-2.1c0.9-0.8,2-1.6,3.4-2.1c0.3-0.1,0.6-0.2,1-0.3l1.1-0.2c0.3,0,0.6,0,0.9-0.1l0.2,0
            l0.1,0l0.2,0l0.1,0l0.5,0c1.3,0,2.7,0.4,3.9,1c1.2,0.6,2.2,1.5,3.1,2.3c0.8,0.8,1.6,1.4,2.4,1.9l0.6,0.3l0.6,0.2
            c0.4,0.1,0.7,0.2,1.4,0.2c1,0.1,1.9,0,2.7-0.3c0.8-0.3,1.6-0.8,2.4-1.5c0.8-0.7,1.6-1.5,2.7-2.3c1.1-0.8,2.3-1.4,3.8-1.7
            c0.8-0.2,1.3-0.2,1.9-0.2l0.1,0c0.2,0,0.1,0,0.2,0l0.1,0l0.3,0l0.5,0c0.3,0,0.7,0.1,1,0.1c1.4,0.2,2.7,0.8,3.8,1.6
            c1.1,0.8,2,1.6,2.8,2.3c0.8,0.7,1.5,1.2,2.3,1.4c0.2,0.1,0.4,0.1,0.6,0.2c0.2,0,0.4,0.1,0.6,0.1l0.8,0l0.2,0l0.1,0
            c-0.2,0,0,0-0.1,0l0,0l0.3,0c0.9-0.1,1.7-0.3,2.5-0.7c0.7-0.4,1.5-1,2.3-1.8c0.8-0.8,1.8-1.7,3.1-2.4l1-0.5c0.3-0.1,0.7-0.2,1-0.4
            c0.7-0.2,1.6-0.4,2.1-0.4c1.4-0.1,2.8,0,4.2,0.5c1.4,0.5,2.7,1.3,3.7,2.1c1,0.8,1.8,1.6,2.5,2.1c0.4,0.3,0.7,0.5,1.1,0.6
            c0.2,0.1,0.4,0.1,0.5,0.2l0.3,0.1l0.2,0c0.2,0.1,0.9,0.1,1.4,0.1l1.6,0l2.6-0.1l-0.1,2.6v0c0,1.2-0.3,2.4-0.8,3.3
            c-0.5,1-1.1,1.6-1.6,2.3c-1.1,1.2-1.9,2.1-2.3,3c-0.3,0.5-0.4,0.9-0.6,1.4c-0.1,0.2-0.1,0.4-0.1,0.6c0,0.3,0,0.7-0.1,1.1l0,0.7
            c0,0.3,0.1,0.5,0.1,0.7c0,0.2,0.1,0.5,0.2,0.7c0.1,0.2,0.2,0.4,0.3,0.6c0.5,0.9,1.4,1.8,2.5,3.1c0.5,0.6,1.1,1.4,1.6,2.2
            c0.4,0.9,0.8,1.8,1,2.8l0.1,0.8l0,0.2l0,0.1l0,0.3l0,0.6l0,0.1l0,0.2l0,0.1l0,0.3c0,0.9-0.2,1.9-0.5,2.8c-0.6,1.9-1.8,3.6-2.9,4.6
            c-0.5,0.6-1,1.1-1.4,1.5c-0.4,0.5-0.7,0.9-0.9,1.3c-0.2,0.4-0.3,0.9-0.4,1.3c0,0.1,0,0.3-0.1,0.5l0,0.6l0,0.1l0,0.1
            c0,0.2,0-0.1,0-0.1l0,0.2l0,0.4c0.1,1.1,0.4,2,1,2.9c0.6,0.9,1.7,2,2.8,3.4c0.5,0.7,1,1.6,1.3,2.5c0.1,0.5,0.3,0.9,0.4,1.4l0.1,0.8
            c0,0.1,0,0.3,0,0.4l0,0.3c0.1,1.7-0.1,3.6-0.9,5.3c-0.4,0.9-0.9,1.6-1.5,2.3c-0.5,0.6-1.1,1.2-1.6,1.7c-1,1-1.6,1.9-2,2.9
            c-0.1,0.3-0.1,0.5-0.2,0.7l0,0.2l0,0.3l0,0.6l0,0.3l0,0.1c0-0.2,0,0,0-0.1l0,0.1l0,0.4c0,0.3,0.1,0.6,0.1,0.9
            c0.2,1.1,0.7,2.1,1.6,3.1c0.8,1,2,2.2,2.9,3.7c0.2,0.4,0.4,0.8,0.6,1.2c0.1,0.4,0.3,0.8,0.4,1.3l0.1,0.7c0,0.2,0.1,0.5,0.1,0.6
            l0,0.6l0,0.3l0,0.2l0,0.2c0,1.7-0.5,3.5-1.5,5c-0.9,1.5-2.1,2.5-3,3.5c-0.4,0.5-0.8,1-1,1.5c-0.1,0.3-0.3,0.5-0.3,0.8
            c-0.1,0.3-0.2,0.5-0.2,0.8c-0.1,0.2-0.1,0.6-0.1,1l0,0.3l0,0.1c0,0.1,0-0.1,0,0l0,0.1l0,0.5c0,0.3,0,0.6,0.1,0.9
            c0,0.3,0.1,0.6,0.2,0.9c0.3,1.1,1.1,2.1,2.1,3.2c1,1.1,2.1,2.4,2.8,4c0.2,0.4,0.3,0.8,0.4,1.2c0.1,0.4,0.2,0.9,0.2,1.3l0.1,1.2
            l-0.1,1.3c-0.2,1.7-0.9,3.4-2,4.7c-1,1.3-2.1,2.3-2.8,3.3c-0.3,0.5-0.6,1.1-0.8,1.6l-0.1,0.4l-0.1,0.4c0,0.1-0.1,0.3-0.1,0.4l0,0.6
            c-0.1,1.3,0.1,2.5,0.7,3.6c0.5,1.1,1.5,2.1,2.5,3.2c1,1.1,2.1,2.6,2.5,4.3c0.1,0.4,0.2,0.9,0.3,1.3l0.1,1.1l0,0.2l0,0.1l0,0.2
            l0,0.3l0,0.6c0,0.4-0.1,0.8-0.2,1.3c-0.4,1.7-1.4,3.2-2.4,4.4c-1,1.2-2,2.1-2.5,3.2c-0.3,0.5-0.5,1.1-0.6,1.6l-0.1,0.4
            c0,0.2,0,0.4,0,0.5l0,0.6l0,0.1c0,0.1,0-0.1,0,0l0,0.1l0,0.2c0.1,1.3,0.4,2.4,1.1,3.4c0.7,1,1.8,2,2.8,3.3c0.5,0.7,1,1.4,1.4,2.2
            c0.4,0.8,0.6,1.7,0.7,2.6c0.1,0.4,0.1,0.7,0.1,1.1l0,0.1c0,0,0,0.2,0,0.2l0,0.1l0,0.3l0,0.6c-0.1,0.9-0.3,1.7-0.6,2.6
            c-0.7,1.7-1.8,3-2.8,4.1c-1,1.1-1.7,2-2.1,3.1c-0.1,0.3-0.2,0.5-0.2,0.8c0,0.3-0.1,0.5-0.1,0.9l0,0.6l0,0.1l0,0.1c0-0.2,0,0,0,0
            l0,0.2c0,0.3,0,0.6,0.1,0.9c0.2,1.2,0.7,2.1,1.5,3.1c0.8,1,2,2,3,3.5c0.5,0.7,0.9,1.6,1.2,2.5c0.2,0.4,0.2,0.9,0.3,1.4
            c0.1,0.3,0.1,0.4,0.1,0.6l0,0.6l0,0.4l0,0.3l0,0.7c0,0.4-0.1,0.9-0.2,1.3c-0.2,0.9-0.5,1.8-0.9,2.6c-0.9,1.6-2.1,2.8-2.9,3.8
            c-0.9,1-1.4,1.9-1.6,3l-0.1,0.3c0,0.1,0,0.1,0,0.2l0,0.3l0,0.6l0,0.3c0,0.1,0-0.1,0-0.1l0,0.1l0,0.1c0,0.6,0.1,1.2,0.3,1.7
            c0.3,1,0.9,1.9,1.8,2.9c0.9,1,2.2,2.2,3,4c0.2,0.4,0.4,0.9,0.5,1.3c0.2,0.4,0.2,1,0.3,1.5l0.1,0.4c0,0.1,0,0.2,0,0.3l0,0.6l0,0.3
            l0,0.1c0,0,0,0.3,0,0.2l0,0.2l0,0.7c-0.1,1.8-0.8,3.8-1.8,5.2c-1,1.5-2.2,2.5-2.8,3.4c-0.4,0.5-0.6,0.9-0.8,1.4
            c-0.1,0.2-0.2,0.5-0.2,0.7l-0.1,0.3c0,0.1-0.1,0.2-0.1,0.4c-0.1,1.3,0,2.3,0.5,3.3c0.4,0.9,1.2,1.8,2.2,2.9c0.5,0.5,1.1,1.2,1.6,2
            c0.5,0.8,1,1.6,1.3,2.6c0.3,0.8,0.5,2.2,0.5,2.8l0,0.3l0,0.1l0,0.1c0,0.3,0,0.1,0,0.2l0,0.7l0,0.7l-0.1,0.7c-0.3,1.9-1.3,3.8-2.4,5
            c-0.5,0.7-1,1.2-1.5,1.7c-0.4,0.5-0.8,1-1,1.4c-0.3,0.4-0.4,0.9-0.6,1.4c0,0.2-0.1,0.4-0.1,0.6L200.2,373.8z"></path>
          </g>
          <g>

            <rect x="33.2" y="148.9" transform="matrix(-1 3.243830e-03 -3.243830e-03 -1 205.6743 491.0408)" fill="#FFFFFF" width="138.5" height="193.6"></rect>
            <path fill="#435054" d="M32.9,147.8c5.8,0.6,11.5,0.6,17.3,0.6l17.3,0l34.6,0l34.6-0.1l34.6-0.2l0.7,0l0,0.7
            c0.3,8.1,0.5,16.1,0.6,24.2L173,185l0.2,12.1c0.1,8.1,0.3,16.1,0.2,24.2l-0.1,12.1c-0.1,4-0.1,8.1-0.1,12.1c0,4,0.1,8.1,0.2,12.1
            c0.1,4,0.2,8.1,0.4,12.1l0.5,12.1c0.1,4,0.3,8.1,0.4,12.1c0.1,4,0.1,8.1,0.2,12.1c0,4,0,8.1-0.1,12.1c0,2-0.1,4-0.1,6.1
            c-0.1,2-0.1,4-0.2,6.1c-0.2,4-0.4,8.1-0.7,12.1l-0.2,1.9L172,344c-5.8-0.5-11.5-0.7-17.3-0.7l-8.7,0.1c-2.9,0-5.8,0.1-8.7,0.1
            l-17.3,0.4c-5.8,0.1-11.5,0.2-17.3,0.3l-17.3,0.2l-17.3,0.1l-8.7,0c-2.9,0-5.8,0.1-8.7-0.1c-2.9-0.2-5.8-0.7-8.7-0.7
            c-2.9,0-5.8,0.3-8.7,1.2l-2.3,0.7l0.2-2.9c0.2-4,0.4-8.1,0.4-12.1c0.1-4,0.1-8.1,0-12.1c0-4-0.1-8.1-0.3-12.1l-0.6-12.1
            c-0.2-4-0.4-8.1-0.5-12.1c-0.1-4-0.1-8.1-0.1-12.1c0-8.1,0.2-16.1,0.4-24.2l0.3-12.1c0.1-4,0.1-8.1,0.2-12.1c0-4,0.1-8.1,0-12.1
            c-0.1-4-0.4-8.1-0.5-12.1c-0.3-4-0.3-8.1-0.3-12.1c0-4,0.1-8.1,0.1-12.1c0.1-4,0.2-8.1,0.3-12.1c0.1-2,0.2-4,0.3-6.1
            c0.1-2,0.2-4,0.3-6.1l0.1-1.5L32.9,147.8z M34.3,150.4c0.1,1.6,0.2,3.2,0.3,4.8c0.1,2,0.2,4,0.3,6c0.2,4,0.3,8.1,0.4,12.1
            c0.1,4,0.2,8.1,0.2,12.1c0.1,4,0,8.1-0.2,12.1c-0.2,4-0.4,8.1-0.5,12.1c0,4,0.1,8.1,0.1,12.1c0.1,4,0.2,8.1,0.3,12.1l0.4,12.1
            c0.2,8.1,0.5,16.1,0.5,24.2c0,4,0.1,8.1,0,12.1c-0.1,4-0.2,8.1-0.4,12.1l-0.5,12.1c-0.1,4-0.2,8.1-0.2,12.1c0,4,0,8.1,0.1,12.1
            c0.1,4,0.3,8.1,0.5,12.1l-2.2-2.2c2.9,0.9,5.8,1.1,8.7,1.1c2.9,0,5.8-0.5,8.7-0.7c2.9-0.2,5.8-0.1,8.7-0.2l8.7-0.1l17.3,0l17.3,0.1
            c5.8,0,11.5,0.1,17.3,0.1l17.3,0.3c2.9,0,5.8,0.1,8.7,0.1l8.7,0c5.8-0.1,11.5-0.2,17.3-0.8l-1.8,1.8c-0.4-4-0.6-8.1-0.8-12.1
            c-0.1-2-0.2-4-0.2-6c-0.1-2-0.1-4-0.2-6c-0.1-4-0.1-8.1-0.1-12.1c0-4,0-8.1,0.1-12.1c0-4,0.2-8.1,0.3-12.1l0.4-12.1
            c0.1-4,0.2-8.1,0.3-12.1c0.1-4,0.1-8.1,0.1-12.1c0-4-0.1-8.1-0.1-12.1l-0.2-12.1c-0.1-8.1,0-16.1,0.1-24.2L170,185l0.2-12.1
            c0.1-8.1,0.3-16.1,0.5-24.2l0.7,0.7l-34.6,0l-34.6,0.1l-34.6,0.2l-17.3,0.1C44.9,149.8,39.6,149.9,34.3,150.4z"></path>
          </g>
          <path opacity="0.2" fill="#8B5E3C" d="M28.9,282.1l10.8,1.8c0,0,6.7,14,23.4,9.1l8.2,53.1l-43,0.3L28.9,282.1z"></path>
          <g>
            <path fill="#FFFFFF" d="M67.7,343.2c-7-21.4-7.2-47.5-8-63.8"></path>
            <path fill="#435054" d="M65.3,344c0,0-0.2-1-0.6-2.7c-0.1-0.4-0.2-0.9-0.3-1.4c-0.1-0.5-0.2-1.1-0.4-1.7c-0.3-1.2-0.6-2.6-0.8-4.1
            c-0.3-1.5-0.6-3.1-0.9-4.9c-0.3-1.7-0.5-3.6-0.8-5.4c-0.3-1.9-0.5-3.8-0.7-5.8c-0.2-2-0.5-4-0.6-6c-0.2-2-0.4-4-0.6-6
            c-0.2-2-0.3-3.9-0.5-5.8c-0.3-3.8-0.6-7.3-0.8-10.3c-0.3-3-0.5-5.5-0.7-7.3c-0.2-1.7-0.3-2.7-0.3-2.7l5-0.2c0,0-0.2,4.1-0.2,10.1
            c0,3,0,6.5,0.2,10.3c0.1,1.9,0.2,3.8,0.3,5.8c0.2,2,0.3,4,0.5,6c0.2,2,0.5,4,0.7,5.9c0.3,1.9,0.6,3.9,0.9,5.7
            c0.3,1.8,0.7,3.6,1.1,5.3c0.3,1.7,0.8,3.2,1.2,4.7c0.4,1.5,0.8,2.7,1.2,3.9c0.2,0.6,0.4,1.1,0.5,1.6c0.2,0.5,0.4,1,0.5,1.4
            c0.6,1.7,1,2.6,1,2.6L65.3,344z"></path>
          </g>
          <path opacity="0.15" fill="#39B54A" d="M33.3,281.5c3.4,6.6,10.6,10.7,18.4,10c6.2-0.6,11.3-4.2,14.3-9.1c2.7,2,6,3,9.6,2.7
          c5.8-0.6,10.3-4.6,11.9-9.9c0.6-0.3,1.1-0.5,1.7-0.8c2.6,1,5.4,1.4,8.4,1.1c10.1-1,17.5-9.8,16.8-19.8c0.2-0.3,0.5-0.5,0.7-0.8
          c9.9-1.4,17-10.4,16-20.4c-0.1-1.3-0.4-2.5-0.7-3.7c0.2-0.4,0.3-0.8,0.5-1.2c7.5-0.9,12.9-7.6,12.2-15.1c-0.2-2.4-1.1-4.7-2.4-6.5
          c5.1-3.8,8.1-10.1,7.4-16.9c-0.8-8.2-6.8-14.7-14.5-16.4c-2.3-8.1-5.8-15.6-10.3-22.5l-90.4,0.3L33.3,281.5z"></path>
          <path fill="#435054" d="M34.9,274.7c1,0.3,2,0.6,3,0.9l0.7,0.2l0.3,0.7c0.3,0.7,0.7,1.4,1.1,2.1c0.4,0.7,0.9,1.3,1.4,1.9
          c0.2,0.3,0.5,0.6,0.8,0.9c0.3,0.3,0.5,0.6,0.9,0.8c0.6,0.5,1.2,1,1.9,1.4l1,0.6l1.1,0.5c0.7,0.3,1.4,0.5,2.2,0.7
          c0.4,0.1,0.7,0.2,1.1,0.2c0.4,0.1,0.7,0.1,1.1,0.2c0.7,0.1,1.5,0.1,2.2,0.2c0.4,0,0.7,0,1.1,0l1.1-0.1l0.1,0l0.1,0l0,0
          c0.1,0-0.1,0-0.1,0l0,0l0,0l0.3,0l0.6-0.1c0.4-0.1,0.7-0.1,1.1-0.2c0.7-0.2,1.4-0.4,2.1-0.6c0.7-0.3,1.4-0.5,2.1-0.9
          c1.3-0.7,2.6-1.5,3.7-2.6c0.6-0.5,1.1-1,1.6-1.6c0.5-0.6,0.9-1.2,1.4-1.8l1.2-1.8l1.6,1.3c1.5,1.2,3.3,2.1,5.2,2.4
          c0.5,0.1,1,0.2,1.4,0.2c0.5,0,1,0.1,1.5,0.1c0.4,0,1.1,0,1.5-0.1c0.5,0,1-0.1,1.4-0.2c1-0.2,1.9-0.6,2.8-1.2
          c0.4-0.3,0.8-0.6,1.2-0.9c0.4-0.3,0.8-0.7,1.1-1.1c0.3-0.4,0.6-0.8,0.9-1.2c0.3-0.4,0.5-0.9,0.7-1.3c0.2-0.5,0.4-0.9,0.5-1.4
          c0.1-0.5,0.2-1,0.2-1.4c0,0,0,0,0,0l0.4-0.9l0.7-0.3l1.7-0.7l0.8-0.3l0.6,0.3c1.3,0.5,2.7,0.9,4,1.1c0.7,0.1,1.4,0.1,2.1,0.1
          c0.4,0,0.7,0,1.1,0l0.3,0l0.1,0l0,0c0,0,0.1,0-0.1,0l0,0l0,0l0.1,0l0.6-0.1c0.4-0.1,0.8-0.1,1.1-0.2l1-0.2c0.7-0.1,1.3-0.4,2-0.6
          c0.6-0.3,1.3-0.6,1.9-0.9l0.9-0.5c0.3-0.2,0.6-0.4,0.9-0.6c0.6-0.4,1.1-0.9,1.7-1.4c0.5-0.5,1-1,1.5-1.6c0.4-0.6,0.9-1.1,1.3-1.7
          c0.4-0.6,0.7-1.2,1-1.9c0.3-0.6,0.6-1.3,0.8-2c0.2-0.7,0.4-1.4,0.5-2.1c0.2-0.7,0.2-1.4,0.2-2.1c0.1-0.7,0-1.4,0-2.1l0-0.7l0.4-0.5
          l0.7-0.8l0.3-0.3l0.6-0.1c0.6-0.1,1.2-0.3,1.8-0.4c0.6-0.2,1.2-0.4,1.7-0.6c0.6-0.3,1.2-0.4,1.7-0.8c0.5-0.3,1.1-0.6,1.6-0.9
          c0.3-0.2,0.5-0.3,0.8-0.5l0.7-0.6c0.5-0.4,0.9-0.8,1.4-1.2c0.4-0.4,0.8-0.9,1.2-1.4c0.4-0.5,0.7-1,1.1-1.5c0.3-0.5,0.6-1,0.9-1.6
          c0.2-0.6,0.5-1.1,0.7-1.7l0.3-0.9c0.1-0.3,0.1-0.6,0.2-0.9c0.2-0.6,0.3-1.2,0.3-1.8c0.1-0.6,0.1-1.2,0.2-1.8c0.1-0.6,0-1.2,0-1.8
          c0-0.6-0.1-1.2-0.2-1.8c-0.1-0.6-0.3-1.2-0.4-1.8l-0.2-0.6l0.2-0.6l0.5-1.2l0.3-0.8l1-0.2c0.5-0.1,1-0.1,1.5-0.3l0.8-0.2
          c0.2-0.1,0.5-0.2,0.7-0.3c0.5-0.1,0.9-0.4,1.4-0.7c0.4-0.3,0.9-0.6,1.3-0.9c0.4-0.3,0.8-0.7,1.1-1.1c0.4-0.4,0.7-0.8,1-1.2
          c0.3-0.4,0.6-0.8,0.8-1.3l0.4-0.7l0.3-0.7c0.2-0.5,0.3-1,0.5-1.4c0.1-0.5,0.2-1,0.3-1.5l0.1-0.7v-0.7c0-0.5-0.1-1-0.1-1.5
          c-0.1-0.5-0.2-0.9-0.3-1.4c-0.1-0.5-0.3-0.9-0.4-1.4c-0.3-0.9-0.8-1.8-1.4-2.6l-1.2-1.8l1.8-1.7c0.6-0.5,1.5-0.6,2.3-0.9
          c0.4-0.2,0.7-0.4,1-0.8c0.3-0.3,0.5-0.6,0.8-0.9c0.5-0.6,1-1.3,1.4-2c0.4-0.7,0.8-1.5,1.1-2.2c0.3-0.8,0.5-1.6,0.7-2.4
          c0.2-0.8,0.3-1.6,0.4-2.4c0-0.4,0.1-0.8,0-1.2c0-0.4,0-0.8,0-1.2l0-0.6l-0.1-0.7c-0.1-0.4-0.1-0.9-0.2-1.3c-0.2-0.8-0.4-1.5-0.7-2.3
          l-0.5-1.1l-0.6-1.1c-0.4-0.7-0.8-1.4-1.3-2c-0.5-0.6-1-1.3-1.6-1.8c-0.3-0.3-0.6-0.6-0.9-0.8c-0.3-0.3-0.6-0.5-1-0.8
          c-0.3-0.2-0.6-0.5-1-0.7c-0.3-0.2-0.7-0.4-1-0.6c-0.7-0.4-1.5-0.7-2.2-1c-0.4-0.1-0.8-0.3-1.2-0.4l-1.2-0.3l-0.9-0.2l-0.3-0.9
          c-0.6-1.9-1.2-3.9-1.9-5.8s-1.5-3.8-2.3-5.6c-1.7-3.7-3.6-7.2-5.8-10.6l1.4,0.8l-95.1,0.3l1.6-1.7L34.9,274.7z M31.6,277.3
          l-0.4-128.2l0-1.7l1.7,0l95.1-0.3l0.9,0l0.5,0.8c2.3,3.5,4.3,7.2,6.1,11.1c1.7,3.8,3.2,7.8,4.4,11.8l-1.2-1.1l1.4,0.4
          c0.5,0.1,0.9,0.3,1.4,0.5c0.9,0.4,1.8,0.8,2.6,1.2c0.4,0.2,0.8,0.5,1.2,0.8c0.4,0.3,0.8,0.5,1.2,0.8c0.4,0.3,0.8,0.6,1.1,0.9
          c0.4,0.3,0.7,0.6,1,1c0.7,0.7,1.3,1.4,1.8,2.2c0.6,0.8,1.1,1.6,1.5,2.4l0.6,1.3l0.5,1.3c0.3,0.9,0.6,1.8,0.8,2.8
          c0.1,0.5,0.2,0.9,0.2,1.4l0.1,0.7c0,0.3,0,0.5,0.1,0.8c0,0.5,0,1,0,1.4c0,0.5,0,1-0.1,1.4c-0.1,1-0.2,1.9-0.4,2.8
          c-0.2,0.9-0.5,1.8-0.8,2.7c-0.4,0.9-0.7,1.8-1.2,2.6c-0.5,0.8-1,1.7-1.5,2.4c-0.5,0.8-1.3,1.4-1.7,2.3c-0.2,0.5-0.4,0.9-0.7,1.4
          c-0.3,0.5-0.6,0.8-1,1.1l0.6-3.4c0.8,1.2,1.5,2.4,1.9,3.7c0.2,0.7,0.4,1.3,0.6,2c0.1,0.7,0.3,1.4,0.3,2.1c0,0.7,0.1,1.4,0,2.1
          l-0.1,1l-0.2,1c-0.1,0.7-0.3,1.3-0.5,2c-0.3,0.6-0.5,1.3-0.8,1.9l-0.5,0.9l-0.6,0.9c-0.4,0.6-0.8,1.1-1.2,1.6
          c-0.5,0.5-0.9,1-1.4,1.4c-0.5,0.5-1,0.9-1.6,1.2c-0.5,0.4-1.1,0.7-1.7,1c-0.6,0.3-1.2,0.6-1.8,0.8c-0.6,0.3-1.3,0.5-1.9,0.6
          c-0.6,0.2-1.3,0.3-2,0.4l1.4-1l-0.5,1.2l0.1-1.1c0.2,0.7,0.4,1.4,0.5,2.1c0.1,0.7,0.3,1.5,0.3,2.2c0,0.7,0.1,1.5,0.1,2.2
          c0,0.7,0,1.5-0.2,2.2c-0.1,0.7-0.2,1.5-0.4,2.2c-0.1,0.4-0.2,0.7-0.3,1.1l-0.4,1c-0.2,0.7-0.6,1.4-0.9,2c-0.3,0.7-0.7,1.3-1.1,1.9
          c-0.4,0.6-0.8,1.2-1.3,1.8c-0.5,0.5-0.9,1.1-1.5,1.6c-0.5,0.5-1,1-1.6,1.5l-0.9,0.7c-0.3,0.2-0.6,0.4-0.9,0.6
          c-0.6,0.4-1.3,0.8-1.9,1.1c-0.6,0.4-1.3,0.6-2,0.9c-0.7,0.3-1.4,0.4-2.1,0.6c-0.7,0.2-1.4,0.3-2.2,0.4l0.9-0.5l-0.7,0.8l0.4-1.1
          c0,0.8,0,1.7-0.1,2.5c-0.1,0.8-0.1,1.7-0.3,2.5c-0.1,0.8-0.4,1.6-0.6,2.4c-0.3,0.8-0.6,1.6-0.9,2.3c-0.4,0.7-0.7,1.5-1.2,2.2
          c-0.4,0.7-0.9,1.4-1.4,2.1c-0.5,0.7-1.1,1.3-1.7,1.9c-0.6,0.6-1.2,1.1-1.9,1.6c-0.3,0.2-0.7,0.5-1,0.7l-1.1,0.7
          c-0.7,0.4-1.5,0.8-2.3,1.1c-0.8,0.3-1.5,0.6-2.4,0.8l-1.3,0.3l-1.2,0.2l-0.6,0.1l-0.1,0l-0.2,0l-0.3,0c-0.4,0-0.8,0.1-1.3,0.1
          c-0.8,0-1.7,0-2.5-0.1c-1.7-0.1-3.4-0.5-5-1l1.5-0.1l-1.7,0.9l1.1-1.2c0,0,0,0,0,0c-0.3,0.6-0.6,1.1-0.9,1.7c-0.3,0.5-0.7,1.1-1,1.6
          c-0.4,0.5-0.7,1-1.1,1.4c-0.4,0.4-0.8,0.9-1.3,1.3c-0.4,0.4-0.9,0.8-1.4,1.2c-0.5,0.4-1,0.7-1.5,1c-0.5,0.3-1,0.6-1.6,0.9
          c-0.5,0.3-1.1,0.5-1.6,0.8c-0.6,0.2-1.1,0.4-1.8,0.6c-0.3,0.1-0.6,0.2-0.9,0.2l-0.4,0.1l-0.1,0l-0.1,0l-0.1,0l-0.2,0
          c-1.2,0.2-2.5,0.2-3.7,0c-2.5-0.3-4.9-1.3-6.9-2.7l2.8-0.6c-0.5,0.8-1,1.6-1.5,2.4c-0.6,0.8-1.2,1.5-1.8,2.2
          c-0.7,0.7-1.4,1.3-2.1,1.9c-0.8,0.6-1.5,1.1-2.4,1.6c-0.8,0.5-1.7,0.9-2.6,1.2c-0.9,0.3-1.8,0.6-2.7,0.8c-0.5,0.1-1,0.2-1.5,0.3
          l-0.6,0.1l-0.3,0l-0.2,0l-0.1,0l-0.2,0l-1.4,0.1c-0.5,0-1,0-1.4,0c-1-0.1-1.9-0.2-2.8-0.4c-0.5-0.1-0.9-0.2-1.4-0.4
          c-0.5-0.2-0.9-0.3-1.3-0.5c-0.9-0.4-1.7-0.8-2.5-1.3l-1.2-0.7l-1.1-0.8c-0.7-0.6-1.5-1.1-2.1-1.8c-0.4-0.3-0.7-0.6-1-1
          c-0.3-0.3-0.6-0.7-0.9-1c-0.6-0.7-1.1-1.5-1.6-2.2c-0.5-0.8-0.9-1.6-1.3-2.4l1,0.9c-1.4-0.4-2.8-0.7-4.3-1L31.6,277.3z"></path>
          <g>
            <path fill="#A5E7F9" d="M349.2,223.1c-0.3-3.2-0.4-6.5-0.4-9.9c0.2-28.5,10.9-51.6,24-51.5c9.1,0.1,16.9,11.3,20.8,27.7
            c4.4-12.5,11.3-20.6,19.1-20.6c13.1,0.1,23.6,23.3,23.4,51.8c0,0.7,0,1.4,0,2.1L349.2,223.1z"></path>
            <g>

              <ellipse transform="matrix(0.9964 -8.470409e-02 8.470409e-02 0.9964 -11.7963 35.66)" fill="#FFFFFF" cx="414.3" cy="156.8" rx="12.7" ry="16.4"></ellipse>
              <path fill="#435054" d="M428.3,155.7c0,0,0,0.4,0.1,1c0,0.3,0.1,0.7,0.1,1.3c0,0.5,0.1,1.2,0.1,1.8c0.1,1.4-0.1,3-0.7,4.9
              c-0.6,1.8-1.7,3.8-3.3,5.6c-0.8,0.9-1.8,1.8-2.9,2.5c-1.1,0.7-2.4,1.4-3.8,1.7c-0.3,0.1-0.7,0.2-1.1,0.2l-0.5,0.1l-0.3,0l-0.1,0
              l0,0l-0.1,0l-0.1,0c-0.3,0-0.6,0-1,0c-0.3,0-0.8-0.1-1.2-0.1c-1.6-0.2-3-0.7-4.4-1.5c-2.7-1.5-4.9-3.8-6.5-6.5
              c-0.4-0.7-0.7-1.4-1.1-2.1c-0.3-0.7-0.6-1.4-0.8-2.2c-0.1-0.4-0.2-0.7-0.3-1.1l-0.2-1.1c-0.1-0.4-0.2-0.8-0.2-1.2l-0.2-1.2
              l-0.1-1.1c0-0.3,0-0.7,0-1.1l0-1.2c0-0.4,0.1-0.8,0.1-1.2c0.1-0.8,0.2-1.5,0.4-2.3c0.2-0.8,0.4-1.5,0.7-2.2c1.1-2.9,3-5.6,5.5-7.4
              c1.2-0.9,2.6-1.6,4.1-2c1.4-0.4,2.9-0.5,4.2-0.4c3,0.3,5.2,1.5,7.3,2.8c2,1.3,3.5,3.1,4.4,4.8c0.9,1.7,1.3,3.4,1.5,4.7
              c0.1,0.7,0.2,1.3,0.2,1.8c0.1,0.5,0.1,1,0.1,1.3C428.2,155.3,428.3,155.7,428.3,155.7L428.3,155.7z M425.7,155.9
              c0,0-0.1-0.3-0.2-1c-0.1-0.6-0.3-1.5-0.8-2.6c-0.4-1.1-1.2-2.3-1.9-3.6c-0.8-1.3-1.7-2.8-3-4.2c-0.2-0.2-0.3-0.3-0.5-0.5
              c-0.2-0.2-0.4-0.3-0.6-0.5c-0.4-0.3-0.8-0.5-1.3-0.8c-0.2-0.1-0.5-0.2-0.7-0.3c-0.2-0.1-0.5-0.2-0.7-0.2c-0.3-0.1-0.5-0.1-0.8-0.2
              c-0.2,0-0.5,0-0.7-0.1c-1.2-0.1-2.2,0-3.3,0.4c-1,0.4-2,0.9-2.9,1.7c-1.7,1.5-3.1,3.7-3.8,6.1c-0.4,1.2-0.7,2.4-0.9,3.7
              c0,0.3-0.1,0.6-0.1,1l0,0.9c0,0.3,0,0.6,0,1l0,1.1l0.1,0.9c0,0.3,0.1,0.7,0.1,1l0.2,1c0.1,0.3,0.2,0.6,0.3,0.9
              c0.1,0.6,0.4,1.2,0.6,1.8c0.3,0.6,0.5,1.2,0.8,1.7c1.2,2.2,2.9,4.1,5,5.2c1,0.6,2.1,0.9,3.1,1c0.3,0,0.4,0.1,0.7,0.1
              c0.3,0,0.6,0,1,0l0.1,0l0.1,0l0,0c0,0-0.2,0-0.1,0l0.2,0l0.4-0.1c0.3,0,0.5-0.1,0.7-0.2c1-0.2,1.9-0.7,2.7-1.3
              c0.8-0.6,1.5-1.2,2.1-1.9c1.2-1.4,1.9-3,2.5-4.5c0.5-1.5,1-2.8,1.2-3.9c0.2-0.6,0.2-1.1,0.3-1.5c0.1-0.4,0.1-0.8,0.1-1.2
              C425.7,156.2,425.7,155.8,425.7,155.9L425.7,155.9z"></path>
            </g>
            <g>

              <ellipse transform="matrix(-0.9875 -0.1574 0.1574 -0.9875 729.4212 355.3862)" fill="#FFFFFF" cx="378.8" cy="148.8" rx="12.7" ry="16.4"></ellipse>
              <path fill="#435054" d="M365.2,146.6c0,0,0.1-0.3,0.3-1c0.1-0.6,0.6-1.7,1-2.9c0.1-0.3,0.2-0.6,0.3-1c0.1-0.3,0.2-0.7,0.4-1.1
              c0.1-0.4,0.2-0.8,0.2-1.3c0-0.5-0.1-1.1,0-1.6c0.1-0.5,0.2-1,0.5-1.5c0.3-0.5,0.6-1,0.9-1.4c0.7-0.9,1.6-1.8,2.7-2.5
              c1.1-0.8,2.3-1.4,3.7-1.9c1.4-0.4,2.9-0.7,4.5-0.6c0.4,0,0.8,0.1,1.2,0.1l0.6,0.1l0.3,0.1c-0.1,0,0.2,0,0.2,0l0,0l0.1,0l0.1,0
              c0.3,0.1,0.6,0.2,0.9,0.3c0.3,0.1,0.8,0.3,1.2,0.5c1.5,0.7,2.8,1.6,4,2.7c2.3,2.2,4,5,4.9,8c0.9,3.1,1.1,6.3,0.6,9.5
              c-0.2,0.9-0.2,1.4-0.5,2.3l-0.3,1.2c-0.1,0.4-0.3,0.8-0.4,1.1c-0.2,0.8-0.6,1.5-0.9,2.2c-0.4,0.7-0.7,1.4-1.2,2.1
              c-1.8,2.6-4.4,4.8-7.3,6c-1.5,0.6-3.1,0.9-4.6,1c-1.5,0.1-3.1-0.3-4.4-0.7c-3-1-4.9-2.9-6.5-4.8c-1.5-1.9-2.5-4-2.9-5.9
              c-0.4-1.9-0.4-3.6-0.3-4.9c0-0.7,0.2-1.3,0.2-1.8c0.1-0.5,0.2-0.9,0.2-1.3C365.1,147,365.2,146.6,365.2,146.6L365.2,146.6z
              M367.3,147c0,0,0,0.3,0,1c0,0.6,0,1.6,0.2,2.7c0.1,1.2,0.6,2.5,1,4c0.5,1.5,1.1,3.1,2.1,4.7c0.1,0.2,0.3,0.4,0.4,0.6
              c0.2,0.2,0.3,0.4,0.5,0.5c0.3,0.4,0.7,0.7,1,1c0.2,0.2,0.4,0.3,0.6,0.4c0.2,0.1,0.4,0.3,0.6,0.4l0.7,0.3l0.6,0.2
              c1.1,0.3,2.1,0.4,3.1,0.3c1-0.1,2.1-0.4,3-0.9c2-1,3.7-2.7,4.9-4.8c0.6-1,1.2-2.1,1.7-3.3c0.1-0.3,0.2-0.6,0.3-0.9l0.3-0.8
              c0.2-0.5,0.3-1.4,0.5-1.9c0.4-2.5,0.4-5.1-0.2-7.5c-0.6-2.4-1.7-4.6-3.4-6.1c-0.8-0.7-1.8-1.3-2.7-1.5c-0.2-0.1-0.4-0.1-0.6-0.2
              c-0.3,0-0.6-0.1-0.9-0.1l-0.6,0c-0.2,0-0.5,0-0.7,0c-1.8,0.3-3.4,1-4.8,2c-0.7,0.5-1.3,1-1.9,1.5c-0.3,0.2-0.6,0.5-0.9,0.8
              c-0.2,0.1-0.3,0.3-0.5,0.4c-0.2,0.1-0.4,0.2-0.6,0.3c-2.1,0.5-2.6,2-3.1,3.1c-0.2,0.6-0.3,1.1-0.4,1.5c-0.1,0.4-0.2,0.8-0.2,1.2
              C367.4,146.7,367.3,147,367.3,147L367.3,147z"></path>
            </g>
            <path opacity="0.29" fill="#5CC0E2" d="M398.5,203.8c0-8.9-9.1-34.8-20.2-34.9c-5.8,0-4.7,13.9-4.7,22.8l0.6,33l24.4-0.1
            L398.5,203.8z"></path>
            <path opacity="0.29" fill="#5CC0E2" d="M399.6,215c0-8.9-5.6-34.8-12.6-34.8c-3.6,0-2.9,13.9-2.9,22.8l0.2,21.7l15.3,0L399.6,215z"></path>
            <path opacity="0.29" fill="#5CC0E2" d="M436.1,207.3c0-8.9-8.1-34.8-18-34.8l0,0c-5.1,0-4.2,13.9-4.2,22.8l0.4,29.3l21.7-0.1
            L436.1,207.3z"></path>
            <path opacity="0.29" fill="#5CC0E2" d="M440.8,218c0-8.9-5.6-34.8-12.6-34.8c-3.6,0-2.9,13.9-2.9,22.8l0.2,18.6l15.3,0L440.8,218z"></path>
            <path fill="#435054" d="M351.1,225.1c0.3-2.3,0.4-4.6,0.5-6.9c0-1.1-0.1-2.3-0.1-3.4c0-1.1,0-2.2,0.1-3.4c0.1-2.3,0.3-4.5,0.5-6.8
            c0.3-2.3,0.5-4.5,0.9-6.8c0.8-4.5,1.9-8.9,3.4-13.2c1.5-4.3,3.3-8.5,5.9-12.4c1.3-1.9,2.7-3.8,4.4-5.4c1.7-1.6,3.7-3,6-3.9
            c1.2-0.4,2.4-0.7,3.7-0.8l0.1,0l0.1,0l0,0l0.1,0l0.2,0l0.4,0l0.8,0c0.6,0,1.3,0.2,2,0.3c2.5,0.6,4.8,1.8,6.7,3.4
            c1.9,1.6,3.6,3.4,5,5.4c0.4,0.5,0.7,1,1,1.5c0.3,0.5,0.6,1,0.9,1.5c0.5,1.1,1.1,2.1,1.5,3.2l0.7,1.6l0.6,1.7
            c0.4,1.1,0.7,2.2,1.1,3.3c0.3,1.1,0.6,2.2,0.9,3.3c0.3,1.1,0.6,2.2,1.1,3.3l0,0l-4.5-0.2c0.7-1.9,1.4-3.8,2.3-5.6
            c0.8-1.8,1.8-3.6,2.9-5.4c1.1-1.7,2.3-3.4,3.8-5c1.4-1.6,3.1-3,5-4.2c1.9-1.2,4.2-2,6.6-2.1c2.3-0.2,4.9,0.3,6.8,1.4
            c2.1,1,3.7,2.6,4.9,4.4c0.3,0.4,0.6,0.9,0.9,1.3l0.9,1.2c0.6,0.8,1.2,1.6,1.8,2.5c1.1,1.7,2.2,3.4,3.1,5.1c1,1.8,1.9,3.6,2.7,5.4
            c0.8,1.8,1.4,3.7,2,5.6c0.6,1.9,1.1,3.8,1.5,5.8c0.4,1.9,0.8,3.9,1.1,5.9c0.3,2,0.5,3.9,0.7,5.9c0.1,1,0.1,2,0.2,3
            c0.1,1,0.1,2,0.1,3c0,1,0.1,2-0.1,3c-0.1,1-0.6,2-0.8,2.9l-0.5,1.9l-1.1-0.3c-0.9-0.2-1.8-0.2-2.7-0.2l-2.7,0l-5.4,0l-10.9,0
            c-7.2,0-14.5,0-21.7,0.1l-21.7,0.2c-7.2,0.2-14.5,0.2-21.7,0.4l-2.1,0.1L351.1,225.1z M354.4,223.1c6.8,0.1,13.5,0.2,20.3,0.3
            l21.7,0.1c7.2,0,14.5,0,21.7,0l10.9-0.1l5.4,0l2.7,0c0.9,0,1.8,0,2.7-0.2l-1.6,1.6c-0.2-1-0.6-1.9-0.8-2.9
            c-0.2-0.9-0.1-1.9-0.2-2.8c-0.1-1.9-0.2-3.8-0.4-5.7c-0.1-1.9-0.3-3.8-0.5-5.7c-0.2-1.9-0.5-3.8-0.8-5.6c-0.6-3.7-1.5-7.4-2.6-11
            c-1-3.6-2.3-7.2-4.4-10.4c-0.5-0.8-1-1.5-1.6-2.2c-0.6-0.7-1.3-1.3-2.1-1.8c-1.6-1-3.1-1.7-4.5-2.4c-0.4-0.2-0.7-0.3-1.1-0.4
            c-0.4-0.1-0.8-0.2-1.1-0.3c-0.2,0-0.3,0-0.5-0.1c-0.1,0-0.1,0-0.3-0.1l-0.4,0l-0.7-0.1l0,0l0,0c0,0,0.2,0,0.1,0l-0.1,0l-0.1,0
            l-0.3,0c-1.5,0.1-3,0.5-4.5,1.3c-1.4,0.8-2.8,1.9-4,3.2c-1.2,1.3-2.3,2.8-3.2,4.3c-1,1.6-1.9,3.2-2.6,4.9c-0.8,1.7-1.4,3.4-2.1,5.2
            l-2.6,7.2l-1.9-7.5l0,0c-0.2-2.2-0.9-4.3-1.7-6.3c-0.4-1-0.8-2-1.2-3l-0.7-1.5l-0.7-1.4c-0.5-1-1-1.9-1.5-2.8
            c-0.5-0.9-1-1.9-1.6-2.7c-1.1-1.8-2.3-3.4-3.7-4.9c-1.4-1.5-3-2.7-4.8-3.4c-0.4-0.1-0.8-0.3-1.3-0.4l-0.8-0.1l-0.4-0.1l-0.2,0
            c0,0-0.1,0,0.1,0l0,0l0,0l-0.1,0c-1-0.1-2,0-3,0.3c-2,0.5-3.8,1.6-5.4,3.1c-1.6,1.4-3,3.1-4.3,4.9c-1.2,1.8-2.3,3.8-3.2,5.8
            c-0.9,2-1.7,4.1-2.4,6.2c-1.4,4.2-2.4,8.6-3.1,13c-0.4,2.2-0.6,4.4-0.8,6.6c-0.2,2.2-0.4,4.5-0.4,6.7c-0.1,1.1,0,2.2-0.1,3.4
            c0,1.1-0.1,2.2-0.1,3.3C353.7,219.8,354,221.5,354.4,223.1z"></path>
          </g>
          <path fill="#A5E7F9" d="M273.7,223.6c-0.3-3.2-0.4-6.5-0.4-9.9c0.2-28.5,10.9-51.6,24-51.5c9.1,0.1,16.9,11.3,20.8,27.7
          c4.4-12.5,11.3-20.6,19.1-20.6c13.1,0.1,23.6,23.3,23.4,51.8c0,0.7,0,1.4,0,2.1L273.7,223.6z"></path>
          <g>

            <ellipse transform="matrix(0.9964 -8.470409e-02 8.470409e-02 0.9964 -12.1143 29.2692)" fill="#FFFFFF" cx="338.9" cy="157.4" rx="12.7" ry="16.4"></ellipse>
            <path fill="#435054" d="M352.8,156.3c0,0,0,0.4,0.1,1c0,0.3,0.1,0.7,0.1,1.3c0,0.5,0.1,1.2,0.1,1.8c0.1,1.4-0.1,3-0.7,4.9
            c-0.6,1.8-1.7,3.8-3.3,5.6c-0.8,0.9-1.8,1.8-2.9,2.5c-1.1,0.7-2.4,1.4-3.8,1.7c-0.3,0.1-0.7,0.2-1.1,0.2l-0.5,0.1l-0.3,0l-0.1,0
            l0,0l-0.1,0l-0.1,0c-0.3,0-0.6,0-1,0c-0.3,0-0.8-0.1-1.2-0.1c-1.6-0.2-3-0.7-4.4-1.5c-2.7-1.5-4.9-3.8-6.5-6.5
            c-0.4-0.7-0.7-1.4-1.1-2.1c-0.3-0.7-0.6-1.4-0.8-2.2c-0.1-0.4-0.2-0.7-0.3-1.1l-0.2-1.1c-0.1-0.4-0.2-0.8-0.2-1.2l-0.2-1.2
            l-0.1-1.1c0-0.3,0-0.7,0-1.1l0-1.2c0-0.4,0.1-0.8,0.1-1.2c0.1-0.8,0.2-1.5,0.4-2.3c0.2-0.8,0.4-1.5,0.7-2.2c1.1-2.9,3-5.6,5.5-7.4
            c1.2-0.9,2.6-1.6,4.1-2c1.4-0.4,2.9-0.5,4.2-0.4c3,0.3,5.2,1.5,7.3,2.8c2,1.3,3.5,3.1,4.4,4.8c0.9,1.7,1.3,3.4,1.5,4.7
            c0.1,0.7,0.2,1.3,0.2,1.8c0.1,0.5,0.1,1,0.1,1.3C352.8,155.8,352.8,156.2,352.8,156.3L352.8,156.3z M350.2,156.4c0,0-0.1-0.3-0.2-1
            c-0.1-0.6-0.3-1.5-0.8-2.6c-0.4-1.1-1.2-2.3-1.9-3.6c-0.8-1.3-1.7-2.8-3-4.2c-0.2-0.2-0.3-0.3-0.5-0.5c-0.2-0.2-0.4-0.3-0.6-0.5
            c-0.4-0.3-0.8-0.5-1.3-0.8c-0.2-0.1-0.5-0.2-0.7-0.3c-0.2-0.1-0.5-0.2-0.7-0.2c-0.3-0.1-0.5-0.1-0.8-0.2c-0.2,0-0.5,0-0.7-0.1
            c-1.2-0.1-2.2,0-3.3,0.4c-1,0.4-2,0.9-2.9,1.7c-1.7,1.5-3.1,3.7-3.8,6.1c-0.4,1.2-0.7,2.4-0.9,3.7c0,0.3-0.1,0.6-0.1,1l0,0.9
            c0,0.3,0,0.6,0,1l0,1.1l0.1,0.9c0,0.3,0.1,0.7,0.1,1l0.2,1c0.1,0.3,0.2,0.6,0.3,0.9c0.1,0.6,0.4,1.2,0.6,1.8
            c0.3,0.6,0.5,1.2,0.8,1.7c1.2,2.2,2.9,4.1,5,5.2c1,0.6,2.1,0.9,3.1,1c0.3,0,0.4,0.1,0.7,0.1c0.3,0,0.6,0,1,0l0.1,0l0.1,0l0,0
            c0,0-0.2,0-0.1,0l0.2,0l0.4-0.1c0.3,0,0.5-0.1,0.7-0.2c1-0.2,1.9-0.7,2.7-1.3c0.8-0.6,1.5-1.2,2.1-1.9c1.2-1.4,1.9-3,2.5-4.5
            c0.5-1.5,1-2.8,1.2-3.9c0.2-0.6,0.2-1.1,0.3-1.5c0.1-0.4,0.1-0.8,0.1-1.2C350.3,156.7,350.2,156.4,350.2,156.4L350.2,156.4z"></path>
          </g>
          <g>

            <ellipse transform="matrix(-0.9875 -0.1574 0.1574 -0.9875 579.3295 344.6067)" fill="#FFFFFF" cx="303.3" cy="149.4" rx="12.7" ry="16.4"></ellipse>
            <path fill="#435054" d="M289.7,147.2c0,0,0.1-0.3,0.3-1c0.1-0.6,0.6-1.7,1-2.9c0.1-0.3,0.2-0.6,0.3-1c0.1-0.3,0.2-0.7,0.4-1.1
            c0.1-0.4,0.2-0.8,0.2-1.3c0-0.5-0.1-1.1,0-1.6c0.1-0.5,0.2-1,0.5-1.5c0.3-0.5,0.6-1,0.9-1.4c0.7-0.9,1.6-1.8,2.7-2.5
            c1.1-0.8,2.3-1.4,3.7-1.9c1.4-0.4,2.9-0.7,4.5-0.6c0.4,0,0.8,0.1,1.2,0.1l0.6,0.1l0.3,0.1c-0.1,0,0.2,0,0.2,0l0,0l0.1,0l0.1,0
            c0.3,0.1,0.6,0.2,0.9,0.3c0.3,0.1,0.8,0.3,1.2,0.5c1.5,0.7,2.8,1.6,4,2.7c2.3,2.2,4,5,4.9,8c0.9,3.1,1.1,6.3,0.6,9.5
            c-0.2,0.9-0.2,1.4-0.5,2.3l-0.3,1.2c-0.1,0.4-0.3,0.8-0.4,1.1c-0.2,0.8-0.6,1.5-0.9,2.2c-0.4,0.7-0.7,1.4-1.2,2.1
            c-1.8,2.6-4.4,4.8-7.3,6c-1.5,0.6-3.1,0.9-4.6,1c-1.5,0.1-3.1-0.3-4.4-0.7c-3-1-4.9-2.9-6.5-4.8c-1.5-1.9-2.5-4-2.9-5.9
            c-0.4-1.9-0.4-3.6-0.3-4.9c0-0.7,0.2-1.3,0.2-1.8c0.1-0.5,0.2-0.9,0.2-1.3C289.6,147.6,289.7,147.2,289.7,147.2L289.7,147.2z
            M291.9,147.5c0,0,0,0.3,0,1c0,0.6,0,1.6,0.2,2.7c0.1,1.2,0.6,2.5,1,4c0.5,1.5,1.1,3.1,2.1,4.7c0.1,0.2,0.3,0.4,0.4,0.6
            c0.2,0.2,0.3,0.4,0.5,0.5c0.3,0.4,0.7,0.7,1,1c0.2,0.2,0.4,0.3,0.6,0.4c0.2,0.1,0.4,0.3,0.6,0.4l0.7,0.3l0.6,0.2
            c1.1,0.3,2.1,0.4,3.1,0.3c1-0.1,2.1-0.4,3-0.9c2-1,3.7-2.7,4.9-4.8c0.6-1,1.2-2.1,1.7-3.3c0.1-0.3,0.2-0.6,0.3-0.9l0.3-0.8
            c0.2-0.5,0.3-1.4,0.5-1.9c0.4-2.5,0.4-5.1-0.2-7.5c-0.6-2.4-1.7-4.6-3.4-6.1c-0.8-0.7-1.8-1.3-2.7-1.5c-0.2-0.1-0.4-0.1-0.6-0.2
            c-0.3,0-0.6-0.1-0.9-0.1l-0.6,0c-0.2,0-0.5,0-0.7,0c-1.8,0.3-3.4,1-4.8,2c-0.7,0.5-1.3,1-1.9,1.5c-0.3,0.2-0.6,0.5-0.9,0.8
            c-0.2,0.1-0.3,0.3-0.5,0.4c-0.2,0.1-0.4,0.2-0.6,0.3c-2.1,0.5-2.6,2-3.1,3.1c-0.2,0.6-0.3,1.1-0.4,1.5c-0.1,0.4-0.2,0.8-0.2,1.2
            C291.9,147.2,291.9,147.6,291.9,147.5L291.9,147.5z"></path>
          </g>
          <path opacity="0.29" fill="#5CC0E2" d="M323,204.3c0-8.9-9.1-34.8-20.2-34.9c-5.8,0-4.7,13.9-4.7,22.8l0.6,33l24.4-0.1L323,204.3z"></path>
          <path opacity="0.29" fill="#5CC0E2" d="M324.2,215.6c0-8.9-5.6-34.8-12.6-34.8c-3.6,0-2.9,13.9-2.9,22.8l0.2,21.7l15.3,0
          L324.2,215.6z"></path>
          <path opacity="0.29" fill="#5CC0E2" d="M346,404.1c0-8.9-11.8-34.8-26.4-34.9c-7.5,0-6.1,13.9-6.1,22.8l0.7,15.1L346,407L346,404.1z
          "></path>
          <path opacity="0.29" fill="#5CC0E2" d="M327.6,407.5l-0.3-4.2c0-8.9-0.9-22.8,3.8-22.8c7.2,0,13.3,16.3,15.6,27.5L327.6,407.5z"></path>
          <path opacity="0.29" fill="#5CC0E2" d="M360.7,207.9c0-8.9-8.1-34.8-18-34.8l0,0c-5.1,0-4.2,13.9-4.2,22.8l0.4,29.3l21.7-0.1
          L360.7,207.9z"></path>
          <path opacity="0.29" fill="#5CC0E2" d="M365.4,218.5c0-8.9-5.6-34.8-12.6-34.8c-3.6,0-2.9,13.9-2.9,22.8l0.2,18.6l15.3,0
          L365.4,218.5z"></path>
          <path fill="#435054" d="M275.6,225.6c0.3-2.3,0.4-4.6,0.5-6.9c0-1.1-0.1-2.3-0.1-3.4c0-1.1,0-2.2,0.1-3.4c0.1-2.3,0.3-4.5,0.5-6.8
          c0.3-2.3,0.5-4.5,0.9-6.8c0.8-4.5,1.9-8.9,3.4-13.2c1.5-4.3,3.3-8.5,5.9-12.4c1.3-1.9,2.7-3.8,4.4-5.4c1.7-1.6,3.7-3,6-3.9
          c1.2-0.4,2.4-0.7,3.7-0.8l0.1,0l0.1,0l0,0l0.1,0l0.2,0l0.4,0l0.8,0c0.6,0,1.3,0.2,2,0.3c2.5,0.6,4.8,1.8,6.7,3.4
          c1.9,1.6,3.6,3.4,5,5.4c0.4,0.5,0.7,1,1,1.5c0.3,0.5,0.6,1,0.9,1.5c0.5,1.1,1.1,2.1,1.5,3.2l0.7,1.6l0.6,1.7
          c0.4,1.1,0.7,2.2,1.1,3.3c0.3,1.1,0.6,2.2,0.9,3.3c0.3,1.1,0.6,2.2,1.1,3.3l0,0l-4.5-0.2c0.7-1.9,1.4-3.8,2.3-5.6
          c0.8-1.8,1.8-3.6,2.9-5.4c1.1-1.7,2.3-3.4,3.8-5c1.4-1.6,3.1-3,5-4.2c1.9-1.2,4.2-2,6.6-2.1c2.3-0.2,4.9,0.3,6.8,1.4
          c2.1,1,3.7,2.6,4.9,4.4c0.3,0.4,0.6,0.9,0.9,1.3l0.9,1.2c0.6,0.8,1.2,1.6,1.8,2.5c1.1,1.7,2.2,3.4,3.1,5.1c1,1.8,1.9,3.6,2.7,5.4
          c0.8,1.8,1.4,3.7,2,5.6c0.6,1.9,1.1,3.8,1.5,5.8c0.4,1.9,0.8,3.9,1.1,5.9c0.3,2,0.5,3.9,0.7,5.9c0.1,1,0.1,2,0.2,3
          c0.1,1,0.1,2,0.1,3c0,1,0.1,2-0.1,3c-0.1,1-0.6,2-0.8,2.9l-0.5,1.9l-1.1-0.3c-0.9-0.2-1.8-0.2-2.7-0.2l-2.7,0l-5.4,0l-10.9,0
          c-7.2,0-14.5,0-21.7,0.1l-21.7,0.2c-7.2,0.2-14.5,0.2-21.7,0.4l-2.1,0.1L275.6,225.6z M278.9,223.7c6.8,0.1,13.5,0.2,20.3,0.3
          l21.7,0.1c7.2,0,14.5,0,21.7,0l10.9-0.1l5.4,0l2.7,0c0.9,0,1.8,0,2.7-0.2l-1.6,1.6c-0.2-1-0.6-1.9-0.8-2.9c-0.2-0.9-0.1-1.9-0.2-2.8
          c-0.1-1.9-0.2-3.8-0.4-5.7c-0.1-1.9-0.3-3.8-0.5-5.7c-0.2-1.9-0.5-3.8-0.8-5.6c-0.6-3.7-1.5-7.4-2.6-11c-1-3.6-2.3-7.2-4.4-10.4
          c-0.5-0.8-1-1.5-1.6-2.2c-0.6-0.7-1.3-1.3-2.1-1.8c-1.6-1-3.1-1.7-4.5-2.4c-0.4-0.2-0.7-0.3-1.1-0.4c-0.4-0.1-0.8-0.2-1.1-0.3
          c-0.2,0-0.3,0-0.5-0.1c-0.1,0-0.1,0-0.3-0.1l-0.4,0l-0.7-0.1l0,0l0,0c0,0,0.2,0,0.1,0l-0.1,0l-0.1,0l-0.3,0c-1.5,0.1-3,0.5-4.5,1.3
          c-1.4,0.8-2.8,1.9-4,3.2c-1.2,1.3-2.3,2.8-3.2,4.3c-1,1.6-1.9,3.2-2.6,4.9c-0.8,1.7-1.4,3.4-2.1,5.2l-2.6,7.2l-1.9-7.5l0,0
          c-0.2-2.2-0.9-4.3-1.7-6.3c-0.4-1-0.8-2-1.2-3l-0.7-1.5l-0.7-1.4c-0.5-1-1-1.9-1.5-2.8c-0.5-0.9-1-1.9-1.6-2.7
          c-1.1-1.8-2.3-3.4-3.7-4.9c-1.4-1.5-3-2.7-4.8-3.4c-0.4-0.1-0.8-0.3-1.3-0.4l-0.8-0.1l-0.4-0.1l-0.2,0c0,0-0.1,0,0.1,0l0,0l0,0
          l-0.1,0c-1-0.1-2,0-3,0.3c-2,0.5-3.8,1.6-5.4,3.1c-1.6,1.4-3,3.1-4.3,4.9c-1.2,1.8-2.3,3.8-3.3,5.8c-0.9,2-1.7,4.1-2.4,6.2
          c-1.4,4.2-2.4,8.6-3.1,13c-0.4,2.2-0.6,4.4-0.8,6.6c-0.2,2.2-0.4,4.5-0.4,6.7c-0.1,1.1,0,2.2-0.1,3.4c0,1.1-0.1,2.2-0.1,3.3
          C278.2,220.4,278.5,222,278.9,223.7z"></path>
          <g>
            <line fill="#FFFFFF" x1="234.8" y1="283.5" x2="251.8" y2="301"></line>
            <path fill="#435054" d="M235.5,282.8c0,0,0.5,0.1,1.1,0.4c0.6,0.3,1.5,0.8,2.3,1.7c0.8,0.8,1.7,1.8,2.7,2.8c1,1,2,2.2,3.1,3.3
            c2.1,2.3,4.1,4.6,5.5,6.3c1.5,1.8,2.4,3,2.4,3l-1.5,1.4c0,0-1.2-1-2.9-2.5c-1.7-1.5-4-3.6-6.2-5.7c-1.1-1.1-2.2-2.1-3.2-3.1
            c-1-1-2-2-2.8-2.8c-0.8-0.8-1.3-1.7-1.6-2.3c-0.3-0.6-0.4-1.1-0.4-1.1L235.5,282.8z"></path>
          </g>
          <g>
            <line fill="#FFFFFF" x1="435.2" y1="283.9" x2="415.8" y2="303"></line>
            <path fill="#435054" d="M435.9,284.6c0,0-0.2,0.4-0.6,1c-0.4,0.6-1,1.5-1.8,2.5c-0.8,1-1.8,2.1-2.9,3.3c-1.1,1.1-2.4,2.3-3.6,3.5
            c-1.3,1.1-2.5,2.3-3.7,3.4c-1.2,1.1-2.3,2-3.3,2.8c-1,0.8-1.8,1.5-2.4,1.9c-0.6,0.4-1,0.7-1,0.7l-1.4-1.5c0,0,0.3-0.3,0.7-0.9
            c0.5-0.6,1.1-1.4,1.9-2.4c0.8-1,1.8-2.1,2.9-3.3c1.1-1.2,2.2-2.4,3.4-3.6c1.2-1.2,2.4-2.4,3.5-3.5c1.2-1.1,2.3-2.1,3.3-2.8
            c1-0.8,1.9-1.4,2.5-1.8c0.6-0.4,1-0.6,1-0.6L435.9,284.6z"></path>
          </g>
          <g>
            <line fill="#FFFFFF" x1="434.9" y1="430.3" x2="416.8" y2="412"></line>
            <path fill="#435054" d="M434.1,431.1c0,0-0.4-0.2-1-0.6c-0.6-0.4-1.4-1-2.4-1.7c-0.9-0.8-2-1.7-3.1-2.7c-1.1-1.1-2.2-2.2-3.3-3.4
            c-1.1-1.2-2.2-2.4-3.2-3.5c-1-1.1-1.9-2.2-2.7-3.2c-0.8-0.9-1.4-1.7-1.8-2.3c-0.4-0.6-0.7-0.9-0.7-0.9l1.5-1.4c0,0,0.3,0.2,0.9,0.7
            c0.6,0.4,1.4,1.1,2.3,1.8c0.9,0.8,2,1.7,3.1,2.7c1.1,1,2.3,2.1,3.5,3.2c1.1,1.1,2.3,2.2,3.3,3.3c1,1.1,1.9,2.2,2.7,3.1
            c0.7,1,1.3,1.8,1.7,2.4c0.4,0.6,0.6,1,0.6,1L434.1,431.1z"></path>
          </g>
          <g>
            <line fill="#FFFFFF" x1="234.5" y1="429.9" x2="251.8" y2="413.5"></line>
            <path fill="#435054" d="M233.8,429.2c0,0,0-0.1,0.1-0.3c0.1-0.2,0.1-0.5,0.3-0.8c0.1-0.3,0.3-0.7,0.6-1.1c0.3-0.4,0.6-0.8,1-1.2
            c0.8-0.8,1.8-1.7,2.8-2.6c1-1,2.2-1.9,3.3-2.9c2.3-2,4.6-3.9,6.3-5.3c1.8-1.4,3-2.2,3-2.2l1.4,1.5c0,0-0.9,1.2-2.4,2.9
            c-1.5,1.7-3.5,3.9-5.6,6c-1.1,1.1-2.1,2.1-3.1,3.1c-1,1-2,1.9-2.8,2.7c-0.4,0.4-0.8,0.7-1.2,0.9c-0.4,0.2-0.8,0.4-1.1,0.5
            c-0.3,0.1-0.6,0.2-0.8,0.2c-0.2,0-0.3,0-0.3,0L233.8,429.2z"></path>
          </g>
          <path opacity="0.15" fill="#39B54A" d="M114.4,257.5c-0.2,5.1-2.4,9.7-5.9,13C112,267.2,114.2,262.6,114.4,257.5z"></path>
          <path opacity="0.15" fill="#39B54A" d="M60.9,287.9c-0.3,0.2-0.7,0.5-1,0.7C60.2,288.4,60.6,288.2,60.9,287.9z"></path>
          <path opacity="0.15" fill="#39B54A" d="M62.4,286.7c-0.4,0.4-0.8,0.7-1.2,1C61.6,287.4,62.1,287.1,62.4,286.7z"></path>
          <path opacity="0.15" fill="#39B54A" d="M68.1,283.6c-0.7-0.4-1.5-0.8-2.1-1.3C66.7,282.8,67.4,283.3,68.1,283.6z"></path>
          <path opacity="0.15" fill="#39B54A" d="M148,190.9c-0.1-0.5-0.1-1-0.2-1.5c-0.3-1.5-0.7-2.9-1.3-4.3c-1-2.2-2.4-4.2-4.1-5.9
          c-2.4-2.3-5.5-4-8.8-4.7c-0.6-2-1.2-4-2-6c-1.8-4.9-4.1-9.5-6.7-13.9c-0.5-0.9-1.1-1.7-1.6-2.6l-25.4,0.1
          c7.4,25.7,21.5,90.2-48.8,129.7c0,0,4.8,3,10.7,6.7c0,0,0.1-0.1,0.1-0.1c0.3-0.2,0.7-0.5,1-0.7c0.1-0.1,0.2-0.1,0.3-0.2
          c0.4-0.3,0.8-0.7,1.2-1c0,0,0,0,0,0c0.3-0.2,0.5-0.5,0.8-0.7c0,0,0,0,0.1-0.1c0.2-0.2,0.5-0.5,0.7-0.7c0,0,0.1-0.1,0.1-0.1
          c0.2-0.2,0.4-0.5,0.6-0.7c0-0.1,0.1-0.1,0.1-0.2c0.2-0.2,0.4-0.5,0.5-0.7c0-0.1,0.1-0.1,0.1-0.2c0.2-0.3,0.4-0.6,0.6-0.9
          c0.7,0.5,1.4,0.9,2.1,1.3c1.9,0.9,4,1.4,6.2,1.4c0.4,0,0.9,0,1.3-0.1c0.7-0.1,1.4-0.2,2.1-0.4c1-0.3,2-0.6,2.9-1.1
          c2.4-1.3,4.4-3.2,5.7-5.6c0.5-0.9,0.9-1.8,1.2-2.8c0.6-0.3,1.1-0.5,1.7-0.8c0.3,0.1,0.7,0.2,1,0.3c0.7,0.2,1.3,0.4,2,0.5
          c0.7,0.1,1.4,0.2,2.1,0.3c0.7,0.1,1.4,0.1,2.2,0c0.4,0,0.7,0,1.1-0.1c1.3-0.1,2.5-0.4,3.6-0.7c0.6-0.2,1.2-0.4,1.7-0.6
          c2.1-0.9,4-2.1,5.6-3.6c3.5-3.3,5.8-7.9,5.9-13c0-0.6,0-1.2,0-1.9c0.2-0.3,0.5-0.5,0.7-0.8c0.6-0.1,1.2-0.2,1.8-0.3
          c3-0.7,5.6-2.1,7.9-4.1c2.2-1.9,3.9-4.3,5.1-7.1c0.4-1.1,0.8-2.2,1-3.4c0.2-1.2,0.4-2.4,0.4-3.6c0-0.6,0-1.2-0.1-1.9
          c-0.1-0.6-0.2-1.3-0.3-1.9c-0.1-0.6-0.3-1.2-0.5-1.8c0.2-0.4,0.3-0.8,0.5-1.2c0.9-0.1,1.8-0.3,2.7-0.6c0.9-0.3,1.7-0.6,2.5-1.1
          c0.4-0.2,0.8-0.5,1.1-0.7c0.7-0.5,1.4-1.1,2-1.7c1.2-1.3,2.2-2.7,2.9-4.4c0.3-0.8,0.6-1.7,0.8-2.5c0.2-0.9,0.3-1.8,0.3-2.7
          c0-0.5,0-0.9-0.1-1.4c-0.1-0.6-0.2-1.2-0.3-1.8c-0.1-0.3-0.1-0.6-0.2-0.9c-0.2-0.6-0.4-1.1-0.6-1.6c-0.4-0.8-0.8-1.5-1.3-2.2
          c1-0.7,1.8-1.5,2.6-2.4c0.5-0.6,1-1.2,1.5-1.8c1.4-1.9,2.4-4.1,2.9-6.5c0.3-1.2,0.4-2.4,0.5-3.6c0-0.4,0-0.8,0-1.2
          C148,191.8,148,191.4,148,190.9z"></path>
          <path opacity="0.15" fill="#39B54A" d="M151.3,189.4c-0.3-1.5-0.7-2.9-1.3-4.3c-1-2.2-2.4-4.2-4.1-5.9c-2.4-2.3-5.5-4-8.8-4.7
          c-0.6-2-1.2-4-2-6c-1.8-4.9-4.1-9.5-6.7-13.9c-0.5-0.9-1-1.7-1.6-2.5l-3.4,0c7.4,25.7,21.5,90.2-48.8,129.7c0,0,1.8,1.2,4.7,2.9
          c0.7-0.1,1.3-0.2,2-0.4c1-0.3,2-0.6,2.9-1.1c2.4-1.3,4.4-3.2,5.7-5.6c0.5-0.9,0.9-1.8,1.2-2.8c0.6-0.3,1.1-0.5,1.7-0.8
          c0.3,0.1,0.7,0.2,1,0.3c0.7,0.2,1.3,0.4,2,0.5c0.7,0.1,1.4,0.2,2.1,0.3c0.7,0.1,1.4,0.1,2.2,0c0.4,0,0.7,0,1.1-0.1
          c1.3-0.1,2.5-0.4,3.6-0.7c0.6-0.2,1.2-0.4,1.7-0.6c2.1-0.9,4-2.1,5.6-3.6c3.5-3.3,5.8-7.9,5.9-13c0-0.6,0-1.2,0-1.9
          c0.2-0.3,0.5-0.5,0.7-0.8c0.6-0.1,1.2-0.2,1.8-0.3c3-0.7,5.6-2.1,7.9-4.1c2.2-1.9,3.9-4.3,5.1-7.1c0.4-1.1,0.8-2.2,1-3.4
          c0.2-1.2,0.4-2.4,0.4-3.6c0-0.6,0-1.2-0.1-1.9c-0.1-0.6-0.2-1.3-0.3-1.9c-0.1-0.6-0.3-1.2-0.5-1.8c0.2-0.4,0.3-0.8,0.5-1.2
          c0.9-0.1,1.8-0.3,2.7-0.6c0.9-0.3,1.7-0.6,2.5-1.1c0.4-0.2,0.8-0.5,1.1-0.7c0.7-0.5,1.4-1.1,2-1.7c1.2-1.3,2.2-2.7,2.9-4.4
          c0.3-0.8,0.6-1.7,0.8-2.5c0.2-0.9,0.3-1.8,0.3-2.7c0-0.5,0-0.9-0.1-1.4c-0.1-0.6-0.2-1.2-0.3-1.8c-0.1-0.3-0.1-0.6-0.2-0.9
          c-0.2-0.6-0.4-1.1-0.6-1.6c-0.4-0.8-0.8-1.5-1.3-2.2c1-0.7,1.8-1.5,2.6-2.4c0.5-0.6,1-1.2,1.5-1.8c1.4-1.9,2.4-4.1,2.9-6.5
          c0.3-1.2,0.4-2.4,0.5-3.6c0-0.4,0-0.8,0-1.2c0-0.4,0-0.8-0.1-1.3C151.4,190.4,151.4,189.9,151.3,189.4z"></path>
          <g>
            <path fill="#46D375" d="M61.2,287.7c-0.1,0.1-0.2,0.1-0.3,0.2C61,287.9,61.1,287.8,61.2,287.7z"></path>
            <path fill="#435054" d="M60.9,291.4c-1.1,0-2.2-0.5-2.8-1.4c-0.5-0.6-0.7-1.4-0.7-2.1c0-1.1,0.5-2.1,1.4-2.8L59,285
            c1.5-1.2,3.8-0.9,4.9,0.6c0.5,0.6,0.7,1.4,0.7,2.2c0,1-0.5,2-1.3,2.7c-0.1,0.1-0.2,0.2-0.3,0.2C62.4,291.2,61.7,291.4,60.9,291.4z"></path>
          </g>
          <g>
            <path fill="#46D375" d="M59.8,288.7c0,0,0.1-0.1,0.1-0.1C59.8,288.7,59.8,288.7,59.8,288.7C59.7,288.7,59.8,288.7,59.8,288.7z"></path>
            <path fill="#435054" d="M59.8,292.2c-0.7,0-1.4-0.2-1.9-0.6c0,0,0,0,0,0c-1-0.7-1.6-1.8-1.6-3s0.6-2.3,1.6-2.9c0,0,0.1-0.1,0.1-0.1
            c1.6-1,3.8-0.6,4.8,1.1c0.7,1.1,0.7,2.4,0.2,3.5c-0.3,0.5-0.6,1-1.2,1.3c-0.1,0.1-0.2,0.1-0.3,0.2C61,292.1,60.4,292.2,59.8,292.2z
            "></path>
          </g>
          <g>
            <path fill="#A5E7F9" d="M80.4,340.9c-0.2-2.7-0.3-5.5-0.3-8.4c0.1-24.2,9.3-43.8,20.4-43.7c7.7,0,14.4,9.6,17.7,23.5
            c3.7-10.6,9.6-17.5,16.2-17.4c11.1,0.1,20,19.7,19.9,43.9c0,0.6,0,1.2,0,1.8L80.4,340.9z"></path>
            <g>

              <ellipse transform="matrix(0.9964 -8.470409e-02 8.470409e-02 0.9964 -23.63 12.5166)" fill="#FFFFFF" cx="135.7" cy="284.7" rx="10.8" ry="13.9"></ellipse>
              <path fill="#435054" d="M147.5,283.8c0,0,0,0.3,0.1,0.9c0,0.3,0.1,0.6,0.1,1.1c0,0.5,0.1,1,0.1,1.6c0.1,1.2-0.1,2.6-0.6,4.2
              c-0.5,1.6-1.4,3.2-2.8,4.8c-0.7,0.8-1.5,1.5-2.4,2.1c-1,0.6-2,1.2-3.3,1.4c-0.3,0.1-0.6,0.1-0.9,0.2l-0.5,0.1l-0.2,0l-0.1,0
              l-0.1,0l-0.1,0l-0.8,0c-0.3,0-0.7-0.1-1-0.1c-1.3-0.2-2.5-0.6-3.7-1.2c-2.3-1.2-4.2-3.2-5.5-5.5c-0.7-1.1-1.2-2.4-1.6-3.6
              c-0.2-0.6-0.4-1.3-0.5-1.9c-0.1-0.3-0.1-0.6-0.2-1l-0.1-1l-0.1-0.9c0-0.3,0-0.6,0-1c0-0.7,0-1.4,0.1-2c0-0.7,0.2-1.3,0.3-2
              c0.2-0.6,0.3-1.3,0.6-1.9c0.9-2.5,2.5-4.7,4.6-6.2c1-0.8,2.2-1.3,3.4-1.7c1.2-0.4,2.5-0.4,3.6-0.3c2.5,0.2,4.4,1.3,6.2,2.4
              c1.7,1.1,3,2.6,3.7,4.1c0.8,1.5,1.1,2.9,1.3,4c0.1,0.6,0.1,1.1,0.2,1.5c0.1,0.4,0.1,0.8,0.1,1.1
              C147.5,283.4,147.5,283.7,147.5,283.8L147.5,283.8z M145.3,283.9c0,0,0-0.3-0.1-0.8c-0.1-0.5-0.3-1.3-0.7-2.2
              c-0.4-0.9-1-1.9-1.6-3.1c-0.7-1.1-1.4-2.4-2.5-3.6c-0.5-0.6-1.2-1.1-2-1.5c-0.4-0.2-0.8-0.3-1.2-0.4l-0.6-0.1l-0.6-0.1
              c-1-0.1-1.9,0-2.8,0.4c-0.9,0.3-1.7,0.8-2.5,1.4c-1.5,1.3-2.6,3.1-3.3,5.2c-0.3,1-0.6,2.1-0.7,3.2c-0.1,0.6-0.1,1.1-0.1,1.6
              c0,0.2,0,0.5,0,0.9l0,0.9c0.2,2.1,0.7,4.4,1.8,6.2c1,1.9,2.5,3.5,4.2,4.4c0.8,0.5,1.8,0.7,2.6,0.8c0.2,0,0.4,0.1,0.6,0.1l0.8,0
              l0.1,0l0.1,0l0,0c0,0-0.2,0-0.1,0l0.2,0l0.3-0.1c0.2,0,0.4-0.1,0.6-0.1c0.8-0.2,1.6-0.6,2.3-1.1c0.7-0.5,1.3-1,1.8-1.7
              c1-1.2,1.6-2.6,2.1-3.8c0.5-1.2,0.8-2.4,1.1-3.3c0.2-1,0.3-1.7,0.3-2.3C145.4,284.2,145.3,283.9,145.3,283.9L145.3,283.9z"></path>
            </g>
            <g>

              <ellipse transform="matrix(-0.9875 -0.1574 0.1574 -0.9875 165.9723 568.9695)" fill="#FFFFFF" cx="105.5" cy="277.9" rx="10.8" ry="13.9"></ellipse>
              <path fill="#435054" d="M94,276c0,0,0.1-0.3,0.2-0.8c0.1-0.5,0.5-1.4,0.8-2.4c0.1-0.3,0.2-0.5,0.3-0.8c0.1-0.3,0.2-0.6,0.3-0.9
              c0.1-0.3,0.2-0.7,0.2-1.1c0-0.4-0.1-0.9,0-1.4c0.1-0.5,0.2-0.9,0.5-1.3c0.2-0.4,0.5-0.8,0.8-1.2c0.6-0.8,1.3-1.5,2.3-2.1
              c0.9-0.7,2-1.2,3.1-1.6c1.2-0.3,2.5-0.6,3.8-0.5c0.3,0,0.7,0.1,1,0.1l0.5,0.1l0.2,0l0.2,0l0,0l0,0l0.1,0l0.8,0.2
              c0.3,0.1,0.7,0.3,1,0.4c1.3,0.6,2.4,1.3,3.4,2.3c2,1.8,3.4,4.2,4.2,6.8c0.4,1.3,0.6,2.6,0.7,4c0.1,0.7,0.1,1.4,0,2
              c0,0.3,0,0.7-0.1,1l-0.1,1.1l-0.2,0.9c0,0.3-0.1,0.6-0.2,1l-0.3,1c-0.1,0.3-0.2,0.6-0.3,1c-0.5,1.3-1.1,2.5-1.9,3.6
              c-1.6,2.2-3.7,4.1-6.2,5.1c-1.2,0.5-2.6,0.8-3.9,0.8c-1.3,0.1-2.6-0.2-3.7-0.6c-2.5-0.9-4.1-2.5-5.5-4.1c-1.3-1.6-2.1-3.4-2.4-5
              c-0.4-1.6-0.4-3-0.2-4.2c0-0.6,0.1-1.1,0.2-1.5c0-0.4,0.1-0.8,0.2-1.1C93.9,276.4,93.9,276.1,94,276L94,276z M95.8,276.4
              c0,0,0,0.3,0,0.8c0,0.5,0,1.3,0.2,2.3c0.1,1,0.5,2.1,0.9,3.4c0.4,1.2,0.9,2.6,1.8,4c0.4,0.7,1,1.3,1.6,1.8
              c0.3,0.2,0.7,0.5,1.1,0.7l0.6,0.3l0.5,0.2c0.9,0.3,1.7,0.4,2.6,0.2c0.9-0.1,1.8-0.3,2.6-0.8c1.7-0.9,3.1-2.3,4.2-4.1
              c0.5-0.9,1-1.8,1.4-2.8c0.1-0.2,0.2-0.5,0.3-0.7l0.2-0.7c0.1-0.2,0.1-0.5,0.2-0.8l0.2-0.9c0,0.2,0,0,0,0.1l0,0l0,0l0-0.1l0-0.2
              l0.1-0.4c0-0.3,0.1-0.5,0.1-0.8c0-0.5,0.1-1.1,0-1.6c0-1.1-0.2-2.1-0.4-3.1c-0.5-2-1.5-3.9-2.9-5.1c-0.7-0.6-1.5-1.1-2.3-1.3
              c-0.2,0-0.3-0.1-0.5-0.1l-0.8-0.1l-0.5,0c-0.2,0-0.4,0-0.6,0c-1.5,0.2-2.9,0.8-4,1.7c-0.6,0.4-1.1,0.9-1.6,1.3
              c-0.3,0.2-0.5,0.5-0.8,0.7c-0.3,0.2-0.5,0.5-0.9,0.6c-1.8,0.4-2.2,1.7-2.6,2.6c-0.2,0.5-0.3,0.9-0.3,1.3c-0.1,0.4-0.1,0.7-0.2,1
              C95.8,276.1,95.8,276.4,95.8,276.4L95.8,276.4z"></path>
            </g>
            <path opacity="0.29" fill="#5CC0E2" d="M122.2,324.6c0-7.6-7.7-29.6-17.2-29.6c-4.9,0-4,11.8-4,19.3l0.5,28l20.7-0.1L122.2,324.6z"></path>
            <path opacity="0.29" fill="#5CC0E2" d="M123.2,334.1c0-7.6-4.8-29.6-10.7-29.6c-3,0-2.5,11.8-2.5,19.3l0.2,18.4l13,0L123.2,334.1z"></path>
            <path opacity="0.29" fill="#5CC0E2" d="M154.2,327.6c0-7.6-6.8-29.6-15.3-29.6l0,0c-4.4,0-3.5,11.8-3.5,19.3l0.4,24.9l18.4-0.1
            L154.2,327.6z"></path>
            <path opacity="0.29" fill="#5CC0E2" d="M158.2,336.6c0-7.6-4.8-29.6-10.7-29.6c-3,0-2.5,11.8-2.5,19.3l0.2,15.8l13,0L158.2,336.6z"></path>
            <path fill="#435054" d="M82,342.6c0.3-2,0.4-3.9,0.4-5.8c0-1-0.1-1.9-0.1-2.9c0-1,0-1.9,0.1-2.9c0.1-1.9,0.2-3.9,0.4-5.8
            c0.2-1.9,0.5-3.8,0.8-5.7c0.7-3.8,1.6-7.6,2.8-11.2c1.3-3.7,2.8-7.2,5-10.5c1.1-1.6,2.3-3.2,3.7-4.6c1.5-1.4,3.2-2.5,5.1-3.3
            c1-0.3,2-0.6,3.1-0.7l0.1,0l0.1,0l0,0l0.1,0l0.2,0l0.4,0l0.7,0c0.5,0,1.1,0.2,1.7,0.2c2.2,0.5,4.1,1.6,5.7,2.9
            c1.6,1.3,3.1,2.9,4.2,4.5c0.3,0.4,0.6,0.8,0.8,1.3c0.3,0.4,0.5,0.9,0.8,1.3c0.5,0.9,0.9,1.8,1.3,2.7l0.6,1.4l0.5,1.4
            c0.3,0.9,0.6,1.9,0.9,2.8c0.3,0.9,0.5,1.9,0.8,2.8c0.3,0.9,0.5,1.9,0.9,2.8l0,0l-3.8-0.2c0.6-1.6,1.2-3.2,2-4.7
            c0.7-1.6,1.5-3.1,2.5-4.6c0.9-1.5,2-2.9,3.2-4.2c1.2-1.3,2.6-2.6,4.2-3.5c1.6-1,3.5-1.7,5.6-1.8c1.9-0.2,4.1,0.3,5.8,1.2
            c1.8,0.8,3.1,2.2,4.1,3.7c0.3,0.4,0.5,0.7,0.8,1.1l0.8,1.1c0.5,0.7,1,1.4,1.5,2.1c1,1.4,1.8,2.9,2.7,4.4c0.8,1.5,1.6,3,2.3,4.6
            c0.7,1.6,1.2,3.2,1.7,4.8c0.5,1.6,0.9,3.3,1.3,4.9c0.4,1.6,0.7,3.3,1,5c0.2,1.7,0.4,3.3,0.6,5c0.1,1.7,0.2,3.4,0.2,5.1
            c0,0.8,0,1.7-0.1,2.5c-0.1,0.8-0.5,1.7-0.7,2.5l-0.4,1.6l-0.9-0.3c-0.8-0.2-1.5-0.2-2.3-0.2l-2.3,0l-4.6,0l-9.2,0
            c-6.1,0-12.3,0-18.4,0.1l-18.4,0.2c-6.1,0.1-12.3,0.2-18.4,0.4l-1.8,0.1L82,342.6z M84.8,341c5.7,0.1,11.5,0.2,17.2,0.2l18.4,0.1
            c6.1,0,12.3,0,18.4,0l9.2-0.1l4.6,0l2.3,0c0.8,0,1.5,0,2.3-0.2l-1.4,1.3c-0.2-0.8-0.5-1.6-0.7-2.4c-0.1-0.8-0.1-1.6-0.1-2.4
            c-0.1-1.6-0.2-3.2-0.3-4.8c-0.1-1.6-0.3-3.2-0.5-4.8c-0.2-1.6-0.4-3.2-0.7-4.8c-0.5-3.2-1.3-6.3-2.2-9.3c-0.9-3.1-2-6.1-3.7-8.8
            c-0.4-0.7-0.9-1.3-1.4-1.9c-0.5-0.6-1.1-1.1-1.8-1.5c-1.3-0.8-2.6-1.4-3.8-2c-1.3-0.5-2.4-0.8-3.8-0.8c-1.3,0.1-2.6,0.4-3.8,1.1
            c-1.2,0.7-2.4,1.6-3.4,2.7c-1,1.1-1.9,2.3-2.8,3.6c-0.8,1.3-1.6,2.7-2.2,4.1c-0.7,1.4-1.2,2.9-1.8,4.4l-2.2,6.1l-1.6-6.3l0,0
            c-0.2-1.9-0.8-3.6-1.4-5.4c-0.3-0.9-0.7-1.7-1-2.6l-0.6-1.3l-0.6-1.2c-0.8-1.6-1.7-3.2-2.6-4.7c-0.9-1.5-2-2.9-3.2-4.2
            c-1.2-1.2-2.5-2.3-4.1-2.9c-0.4-0.1-0.7-0.3-1.1-0.4l-0.7-0.1l-0.4-0.1l-0.2,0c0,0-0.1,0,0.1,0l0,0l0,0l-0.1,0
            c-0.8-0.1-1.7,0-2.5,0.2c-1.7,0.4-3.2,1.4-4.6,2.6c-1.4,1.2-2.6,2.6-3.6,4.2c-2.1,3.1-3.6,6.6-4.8,10.1c-1.2,3.6-2,7.3-2.6,11
            c-0.6,3.7-1,7.5-1.1,11.3l-0.1,5.7C84.2,338.2,84.5,339.6,84.8,341z"></path>
          </g>
          <path opacity="0.2" fill="#8B5E3C" d="M49.7,292.8c1.2,22.4,2,42.9,3.1,53.4l18.6-0.1L63.1,293C57.6,294.6,53.1,294.1,49.7,292.8z"></path>
        </svg>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p class="empty-state lead">When you create a gallery you can upload and organize the photos you want to share with or to sell to your clients.</p>
      <p class="empty-state trail before-cta">All of your Galleries can be viewed on mobile devices!s</p>
      <% unless @not_authorized_to_add == true %>
        <p class="empty-state trail"><%= link_to 'New Gallery', "#add-gallary" ,  id: "gallary", 'data-toggle': "modal",  class: "btn btn-primary add-gallery" %></p>
      <% end %>
    </div>
  </div>
</div>
