<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @automation_series.name %>
</p>

<%= link_to 'Edit', edit_automation_series_path(@automation_series) %> |
<%= link_to 'Back', automation_series_index_path %>
