<% content_for :head, "GalleryProofing | Edit Mobileapp"%>
<% content_for :photo_class, "active"%>
<% content_for :body_class, "mobileapp-edit" %>
<!-- top -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <!-- title -->
      <div class="page-title">
        <!-- gallery head -->
        <div class="col-md-6 col-sm-5 col-xs-5">
          <div class="arrow-type">
            <a href="<%= mobileapps_path %>"><span class="fa circle fa-arrow-left back-btn"></span></a>
          </div>
          <div class="cover-photo-container clearfix pull-left">
            <img src="/assets/no_icon_set.png" class="mobile-app-icon cover-photo pull-left">
              <div data-toggle="modal" data-target="#icon-cta-app" class="icon-cta">
                <a href="#" class="change-cover">Change Icon</a>
              </div>
          </div>
            <h2 class="gallery-title">
              <span class="name pull-left">test</span>
              <a data-target="#rename-modal-app" data-toggle="modal" href="#"><span class="fa fa-pencil circle"></span></a>
            </h2>
            <div class="meta-line">
                <div class="photos-count">
                  <span class="fa fa-image"></span>
                  <span class="mobile-app-photos-count">0</span>
                </div>
                <div class="link-gallery">
                    <a href="#" data-toggle="modal" data-target="#icon-gallary-link-app" class="gallery-text">Link Gallery</a>
                </div>
            </div>
        </div>
        <!-- /gallery head -->
        <div class="gallery-buttons pull-right text-right">
          <div class="btn-group on-page-help-container"> <a href="#" class="on-page-help dropdown-toggle" data-toggle="dropdown"> <span class="fa fa-question"></span> </a>
            <ul id="onPageHelp" class="dropdown-menu dropdown-menu-right arrow-upper-right" role="menu">
              <li><a href="#" target="_blank">Can I download all of my contacts' information?</a></li>
              <li><a href="#" target="_blank">How do I add and edit contacts?</a></li>
              <li><a href="#" target="_blank">How do I view a contact's activity?</a></li>
              <li><a href="#" class="bold" target="_blank">Browse Full Knowledge Base</a></li>
              <li><a href="#" >Email Us</a></li>
            </ul>
          </div>
        </div>
        <div class="right-buttons text-right">
            <a data-toggle="modal" href="#"  class="btn btn-default">Share</a>
        </div>
       <div class="clearfix" style="margin-bottom:calc(2em - 3px);"></div>
      </div>
      <!-- /title -->
    </div>
  </div>
</div>
<!-- /top -->

<!-- main -->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <h3>Photos</h3>
    </div>
      <div class="col-sm-10 text-right">
        <a href="#" class="btn btn-sm btn-default set-as-app-icon">Set as app icon</a>
        <a href="#" class="btn btn-sm btn-default delete-photo">Delete photo</a>
        <a href="#" class="btn btn-sm btn-primary add-photos">Add Photos</a>
      </div>
      <div class="col-xs-12">
        <div id="allPhotos" class="clearfix">
          <div id="noPhotosInMobileApp" style="display: block;">There are currently no photos in this mobile app.</div>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500">
            <rect x="131.2" y="92.6" transform="matrix(1 2.076411e-03 -2.076411e-03 1 0.5363 -0.5361)" fill="#F2F2F2" width="254.5" height="330.8"></rect>
            <rect x="118" y="79.4" transform="matrix(1 2.076411e-03 -2.076411e-03 1 0.5089 -0.5087)" fill="#FFFFFF" width="254.5" height="330.8"></rect>
            <path fill="#435054" d="M372.1,413.6c-5.3-0.5-10.6-0.8-15.9-0.9c-5.3-0.2-10.6-0.3-15.9-0.3l-15.9,0l-15.9,0l-15.9,0l-15.9,0.1
        l-31.8,0.2l-63.6,0.5c-10.6,0.1-21.2,0.2-31.8,0.2l-15.9,0l-15.9,0l-3.7,0l0.2-3.5c0.7-13.8,1-27.6,1.1-41.3l0.1-10.3l0-10.3
        c0-6.9-0.1-13.8-0.2-20.7l-0.3-20.7c-0.1-6.9-0.1-13.8-0.1-20.7c0-6.9,0.1-13.8,0.2-20.7l0.4-20.7c0.1-6.9,0.2-13.8,0.3-20.7
        c0-6.9,0-13.8,0-20.7c0-6.9-0.1-13.8-0.2-20.7l-0.3-20.7c-0.1-6.9-0.2-13.8-0.2-20.7c0-6.9,0-13.8,0-20.7
        c0.1-6.9,0.3-13.8,0.7-20.7c0.4-6.9,0.8-13.8,0.9-20.7l0-1.8l1.7,0c5.3,0.1,10.6,0.1,15.9-0.2c5.3-0.3,10.6-0.7,15.9-0.8
        c5.3-0.1,10.6-0.1,15.9-0.1l15.9,0l15.9,0l15.9,0.1l31.8,0.2l31.8,0.3l31.8,0.2l15.9,0.1c5.3,0,10.6,0,15.9,0l15.9-0.1l15.9-0.2
        l2.7,0l0,2.8l0.2,20.7l0,20.7c0,3.4,0,6.9,0,10.3c0,3.4-0.1,6.9-0.1,10.3c-0.1,6.9-0.3,13.8-0.4,20.7l-0.4,20.7l-0.1,10.3
        c0,3.4-0.1,6.9-0.1,10.3c0,6.9,0,13.8,0.1,20.7l0.2,20.7l0,20.7l-0.2,20.7c0,6.9-0.2,13.8-0.3,20.7l-0.3,20.7l-0.1,10.3
        l-0.1,10.3c0,6.9-0.1,13.8,0,20.7c0,3.4,0,6.9,0.1,10.3c0,3.4,0.1,6.9,0.2,10.3c0.2,6.9,0.5,13.8,1,20.7l0.2,3.4L372.1,413.6z
         M369.2,407.6c0.4-5.9,0.7-11.8,0.9-17.8c0.1-3.4,0.2-6.9,0.3-10.3c0.1-3.4,0.1-6.9,0.2-10.3c0.1-6.9,0.1-13.8,0.1-20.7l0-10.3
        l-0.1-10.3l-0.2-20.7c-0.1-6.9-0.2-13.8-0.2-20.7l-0.1-20.7l0.1-20.7l0.3-20.7c0.1-6.9,0.1-13.8,0.1-20.7c0-3.4,0-6.9,0-10.3
        l-0.1-10.3l-0.3-20.7c-0.1-6.9-0.3-13.8-0.3-20.7c0-3.4-0.1-6.9-0.1-10.3c0-3.4,0-6.9,0-10.3l0.1-20.7l0.3-20.7l2.8,2.8
        l-15.9-0.2L341,82.1c-5.3,0-10.6-0.1-15.9-0.1l-15.9,0l-31.8,0l-31.8,0.1l-31.8,0.1l-15.9,0l-15.9,0l-15.9,0
        c-5.3,0-10.6,0-15.9-0.1c-5.3-0.2-10.6-0.6-15.9-0.9c-5.3-0.3-10.6-0.4-15.9-0.2l1.7-1.7c0.1,6.9,0.5,13.8,0.8,20.7
        c0.4,6.9,0.6,13.8,0.7,20.7c0,6.9,0,13.8,0,20.7c0,6.9-0.2,13.8-0.3,20.7l-0.3,20.7c-0.1,6.9-0.2,13.8-0.3,20.7
        c-0.1,6.9-0.1,13.8-0.1,20.7c0,6.9,0.1,13.8,0.2,20.7l0.3,20.7c0.1,6.9,0.1,13.8,0.1,20.7c0,6.9-0.1,13.8-0.2,20.7l-0.4,20.7
        c-0.1,6.9-0.3,13.8-0.3,20.7l0,10.3l0,10.3c0.1,13.8,0.3,27.6,0.9,41.4l-3.5-3.5l15.9,0l15.9,0.1c10.6,0,21.2,0.2,31.8,0.3
        l63.6,0.8l31.8,0.4l15.9,0.2l15.9,0.1l15.9,0.1l15.9,0.1c5.3,0,10.6-0.1,15.9-0.2C360.5,408.1,364.9,407.9,369.2,407.6z"></path>
    <line fill="#FFFFFF" x1="371.2" y1="80.7" x2="342.7" y2="110"></line>
    <path fill="#435054" d="M373.6,83c0,0-0.4,0.5-1.2,1.2c-0.8,0.8-2,1.9-3.4,3.2c-2.9,2.5-6.7,5.9-10.6,9.3
        c-3.9,3.4-7.7,6.8-10.6,9.3c-2.9,2.5-4.8,4.2-4.8,4.2l-0.6-0.6c0,0,1.6-2,4.1-5c2.5-3,5.7-6.9,9-10.8c3.3-3.9,6.6-7.9,9-10.8
        c1.2-1.5,2.3-2.7,3.1-3.5c0.8-0.8,1.2-1.3,1.2-1.3L373.6,83z"></path>
    <line fill="#FFFFFF" x1="119.9" y1="81" x2="149.2" y2="109.6"></line>
    <path fill="#435054" d="M122.3,78.6c0,0,0.5,0.4,1.2,1.2c0.8,0.8,1.9,2,3.2,3.4c2.5,2.9,5.9,6.7,9.3,10.6
        c3.4,3.9,6.8,7.7,9.3,10.6c2.5,2.9,4.2,4.8,4.2,4.8l-0.6,0.6c0,0-2-1.6-5-4.1c-3-2.5-6.9-5.7-10.8-9c-3.9-3.3-7.9-6.6-10.8-9
        c-1.5-1.2-2.7-2.3-3.5-3.1c-0.8-0.8-1.3-1.2-1.3-1.2L122.3,78.6z"></path>
    <line fill="#FFFFFF" x1="157.4" y1="369.5" x2="128.9" y2="398.8"></line>
    <path fill="#435054" d="M159.8,371.9c0,0-0.4,0.5-1.2,1.2c-0.8,0.8-2,1.9-3.4,3.2c-2.9,2.5-6.7,5.9-10.6,9.3
        c-3.9,3.4-7.7,6.8-10.6,9.3c-2.9,2.5-4.8,4.2-4.8,4.2l-0.6-0.6c0,0,1.6-2,4.1-5c2.5-3,5.7-6.9,9-10.8c3.3-3.9,6.6-7.9,9-10.8
        c1.2-1.5,2.3-2.7,3.1-3.5c0.8-0.8,1.2-1.3,1.2-1.3L159.8,371.9z"></path>
    <rect x="156.4" y="118.1" transform="matrix(-1 3.243830e-03 -3.243830e-03 -1 492.6653 485.8119)" fill="#FFFFFF" width="179.2" height="250.4"></rect>
    <path fill="#435054" d="M156,116.7c7.5,0.7,14.9,0.8,22.4,0.7l22.4,0l44.8,0l44.8-0.2l44.8-0.3l0.9,0l0,1l0.5,15.6l0.4,15.6
        l0.3,15.6l0.2,15.6c0.1,10.4,0.4,20.9,0.3,31.3l-0.2,15.6l-0.1,7.8c0,2.6,0,5.2,0,7.8c0,5.2,0.2,10.4,0.3,15.6
        c0.2,5.2,0.3,10.4,0.5,15.6l0.6,15.6c0.2,5.2,0.4,10.4,0.5,15.6c0.1,5.2,0.2,10.4,0.2,15.6c0,5.2,0,10.4-0.1,15.6
        c0,2.6-0.1,5.2-0.2,7.8c-0.1,2.6-0.1,5.2-0.3,7.8c-0.2,5.2-0.5,10.4-0.9,15.7l-0.2,2.5l-2.1-0.2c-3.7-0.4-7.5-0.6-11.2-0.7
        c-3.7-0.1-7.5-0.2-11.2-0.2c-3.7,0-7.5,0-11.2,0.1c-3.7,0-7.5,0.1-11.2,0.2l-22.4,0.5c-7.5,0.1-14.9,0.2-22.4,0.3l-22.4,0.3
        l-22.4,0.2l-11.2,0l-5.6,0c-1.9,0-3.7,0-5.6-0.1c-3.7-0.3-7.5-0.9-11.2-0.9c-3.7,0-7.5,0.3-11.2,1.5l-3,1l0.2-3.8
        c0.3-5.2,0.5-10.4,0.6-15.7c0.1-5.2,0.1-10.4,0-15.6c0-5.2-0.2-10.4-0.4-15.6l-0.8-15.6c-0.3-5.2-0.5-10.4-0.6-15.6l-0.1-7.8
        l0-7.8c0-5.2,0.1-10.4,0.2-15.6l0.3-15.6l0.4-15.6c0.1-5.2,0.2-10.4,0.3-15.6c0-5.2,0.1-10.4,0-15.6c-0.1-5.2-0.4-10.4-0.7-15.6
        c-0.3-5.2-0.4-10.4-0.4-15.6c0-5.2,0.1-10.4,0.2-15.6c0.1-5.2,0.2-10.4,0.4-15.7c0.1-2.6,0.2-5.2,0.3-7.8
        c0.1-2.6,0.2-5.2,0.4-7.8l0.1-1.9L156,116.7z M157.8,120c0.1,2.1,0.3,4.1,0.4,6.2c0.1,2.6,0.3,5.2,0.4,7.8
        c0.2,5.2,0.4,10.4,0.5,15.6c0.1,5.2,0.2,10.4,0.3,15.6c0.1,5.2,0,10.4-0.3,15.6c-0.3,5.2-0.6,10.4-0.6,15.7
        c-0.1,5.2,0.1,10.4,0.1,15.6c0.1,5.2,0.2,10.4,0.4,15.6l0.5,15.6l0.4,15.6c0.1,5.2,0.2,10.4,0.3,15.6l0.1,7.8l0,7.8
        c-0.1,5.2-0.2,10.4-0.5,15.7l-0.7,15.7c-0.2,5.2-0.3,10.4-0.3,15.6c0,5.2,0,10.4,0.1,15.6c0.1,5.2,0.3,10.4,0.7,15.6l-2.8-2.8
        c3.7,1.1,7.5,1.4,11.2,1.4c3.7,0,7.5-0.6,11.2-0.9c1.9-0.2,3.7-0.2,5.6-0.2l5.6,0l11.2-0.1l22.4,0l22.4,0.1
        c7.5,0,14.9,0.1,22.4,0.2l22.4,0.4c3.7,0.1,7.5,0.1,11.2,0.1c3.7,0,7.5,0,11.2,0c3.7,0,7.5-0.1,11.2-0.3
        c3.7-0.2,7.5-0.4,11.2-0.8l-2.3,2.3c-0.5-5.2-0.8-10.4-1-15.6c-0.1-2.6-0.2-5.2-0.3-7.8c-0.1-2.6-0.2-5.2-0.2-7.8
        c-0.1-5.2-0.1-10.4-0.2-15.6c0-5.2,0-10.4,0.1-15.6c0.1-5.2,0.2-10.4,0.4-15.7l0.5-15.7c0.2-5.2,0.3-10.4,0.4-15.7
        c0.1-5.2,0.2-10.4,0.2-15.6c0-2.6,0-5.2,0-7.8l-0.1-7.8l-0.3-15.6c-0.1-10.4,0-20.9,0.1-31.3l0.1-15.6l0.2-15.6l0.3-15.6
        l0.4-15.6l1,0.9l-44.8,0l-44.8,0.1l-44.8,0.3l-22.4,0.1C171.5,119.3,164.7,119.4,157.8,120z"></path>
    <path opacity="0.2" fill="#8B5E3C" d="M150.9,290.3l14,2.3c0,0,8.7,18.2,30.3,11.8l10.6,68.7l-55.6,0.4L150.9,290.3z"></path>
    <path fill="#FFFFFF" d="M201,369.5c-9.1-27.6-9.3-61.4-10.4-82.5"></path>
    <path fill="#435054" d="M197.9,370.4c0,0-0.3-1.3-0.8-3.5c-0.1-0.6-0.3-1.2-0.4-1.8c-0.1-0.7-0.3-1.4-0.5-2.2
        c-0.3-1.6-0.7-3.4-1.1-5.4c-0.2-1-0.4-2-0.6-3c-0.2-1.1-0.3-2.1-0.5-3.3c-0.2-1.1-0.4-2.3-0.6-3.4c-0.2-1.2-0.3-2.4-0.5-3.6
        c-0.4-2.4-0.6-5-1-7.5c-0.3-2.6-0.6-5.2-0.8-7.8c-0.2-2.6-0.5-5.2-0.7-7.8c-0.2-2.6-0.4-5.1-0.6-7.5c-0.2-2.4-0.4-4.8-0.6-7.1
        c-0.2-2.2-0.4-4.4-0.5-6.3c-0.3-3.9-0.7-7.1-0.9-9.4c-0.3-2.3-0.4-3.6-0.4-3.6l6.5-0.3c0,0-0.2,5.3-0.2,13.1c0,2,0,4.1,0.1,6.3
        c0,2.2,0.1,4.6,0.2,7c0.1,2.4,0.2,4.9,0.4,7.5c0.2,2.5,0.4,5.1,0.7,7.7c0.3,2.6,0.6,5.1,0.9,7.7c0.4,2.5,0.7,5,1.2,7.4
        c0.4,2.4,0.9,4.7,1.4,6.8c0.4,2.2,1,4.2,1.5,6c0.5,1.9,1,3.5,1.5,5c0.2,0.7,0.5,1.4,0.7,2.1c0.2,0.6,0.5,1.2,0.7,1.8
        c0.8,2.1,1.3,3.4,1.3,3.4L197.9,370.4z"></path>
    <path opacity="0.15" fill="#39B54A" d="M156.5,289.6c4.4,8.5,13.7,13.9,23.8,12.9c8-0.8,14.7-5.4,18.5-11.8
        c3.4,2.6,7.8,3.9,12.4,3.5c7.5-0.7,13.4-6,15.4-12.7c0.7-0.3,1.4-0.7,2.1-1c3.4,1.3,7,1.8,10.9,1.4c13-1.3,22.6-12.7,21.7-25.6
        c0.3-0.3,0.6-0.7,0.9-1c12.8-1.8,22-13.4,20.7-26.4c-0.2-1.6-0.5-3.2-1-4.8c0.2-0.5,0.4-1,0.6-1.6c9.7-1.1,16.7-9.8,15.7-19.5
        c-0.3-3.1-1.4-6-3.1-8.4c6.6-4.9,10.5-13,9.6-21.8c-1.1-10.6-8.8-18.9-18.7-21.2c-3-10.5-7.5-20.2-13.3-29L156,122.9L156.5,289.6
        z"></path>
    <path fill="#435054" d="M158.6,280.8c1.3,0.4,2.6,0.8,3.9,1.1l0.9,0.2l0.4,0.9l0.7,1.4c0.2,0.4,0.5,0.9,0.8,1.3
        c0.2,0.4,0.6,0.8,0.9,1.2c0.3,0.4,0.6,0.8,1,1.2c0.3,0.4,0.7,0.8,1,1.1c0.4,0.3,0.7,0.7,1.1,1c0.8,0.7,1.6,1.2,2.4,1.8l1.3,0.7
        c0.5,0.2,0.9,0.4,1.4,0.6c0.9,0.3,1.9,0.7,2.8,0.9c0.5,0.1,1,0.2,1.4,0.3c0.5,0.1,1,0.2,1.4,0.2c1,0.1,1.9,0.2,2.9,0.3
        c0.5,0,1,0,1.4,0l1.4-0.1l0.2,0l0.1,0l0,0c0.1,0-0.1,0-0.1,0l0,0l0,0l0.4-0.1l0.8-0.1c0.5-0.1,0.9-0.2,1.4-0.2
        c0.9-0.2,1.9-0.5,2.8-0.8c0.9-0.3,1.8-0.7,2.7-1.1c0.9-0.4,1.7-0.9,2.5-1.5c0.8-0.6,1.6-1.2,2.3-1.8c0.7-0.7,1.4-1.4,2.1-2.1
        c0.6-0.7,1.2-1.5,1.8-2.4l1.6-2.4l2,1.6c1.9,1.5,4.2,2.7,6.7,3.1c0.6,0.1,1.2,0.2,1.9,0.3c0.6,0,1.3,0.1,1.9,0.1
        c0.5,0,1.4,0,2-0.1c0.6-0.1,1.2-0.2,1.9-0.3c0.6-0.2,1.3-0.4,1.9-0.6c0.6-0.2,1.2-0.6,1.7-0.9l0.8-0.5c0.3-0.2,0.5-0.4,0.8-0.6
        c0.3-0.2,0.5-0.4,0.7-0.7c0.2-0.2,0.5-0.5,0.7-0.7c0.4-0.5,0.8-1,1.2-1.6c0.3-0.6,0.7-1.1,0.9-1.7c0.3-0.6,0.5-1.2,0.6-1.8
        c0.2-0.6,0.2-1.3,0.3-1.9c0,0,0,0,0,0l0.4-1.2l0.9-0.4l2.1-0.9l1.1-0.4l0.8,0.3c1.7,0.7,3.4,1.2,5.2,1.5c0.9,0.2,1.8,0.2,2.7,0.1
        c0.5,0,0.9,0,1.4-0.1l0.3,0l0.1,0l0,0c0,0,0.1,0-0.1,0l0,0l0,0l0.2,0l0.7-0.1c0.5-0.1,1-0.1,1.5-0.2l1.3-0.3l0.6-0.2l0.6-0.2
        l1.3-0.4c0.4-0.2,0.8-0.4,1.3-0.6c0.4-0.2,0.8-0.4,1.2-0.6l1.2-0.7c0.4-0.2,0.8-0.5,1.1-0.8c0.8-0.5,1.4-1.2,2.1-1.8
        c0.4-0.3,0.6-0.7,1-1c0.3-0.3,0.7-0.7,0.9-1c0.6-0.7,1.2-1.4,1.6-2.2c0.5-0.8,0.9-1.6,1.3-2.4c0.2-0.4,0.4-0.9,0.5-1.3
        c0.2-0.4,0.4-0.8,0.5-1.3c0.2-0.9,0.6-1.8,0.7-2.7c0.1-0.5,0.2-0.9,0.2-1.4l0.1-1.4c0.1-0.9,0-1.9-0.1-2.8l0-0.9l0.5-0.6l0.9-1
        l0.4-0.4l0.8-0.2c0.8-0.2,1.6-0.3,2.3-0.5c0.8-0.3,1.5-0.5,2.3-0.8c0.7-0.4,1.5-0.6,2.2-1l1.1-0.6c0.4-0.2,0.7-0.4,1-0.6
        c0.3-0.2,0.7-0.4,1-0.7l0.9-0.7c0.6-0.5,1.2-1.1,1.8-1.6c0.6-0.5,1.1-1.2,1.6-1.8c0.5-0.6,0.9-1.3,1.4-1.9
        c0.4-0.7,0.8-1.4,1.1-2.1c0.3-0.7,0.7-1.4,0.9-2.2l0.4-1.1c0.1-0.4,0.2-0.8,0.3-1.2c0.1-0.4,0.2-0.8,0.3-1.2l0.2-1.2
        c0.2-0.8,0.1-1.6,0.2-2.4c0.1-0.8,0-1.6-0.1-2.4c0-0.8-0.2-1.6-0.3-2.4c-0.1-0.8-0.3-1.6-0.6-2.3l-0.2-0.7l0.3-0.7l0.6-1.5
        l0.4-1.1l1.3-0.3c0.7-0.1,1.3-0.2,2-0.4l1-0.3c0.3-0.1,0.6-0.2,1-0.3c0.7-0.2,1.2-0.6,1.8-0.9c0.6-0.4,1.1-0.7,1.6-1.2l0.8-0.6
        c0.2-0.2,0.5-0.5,0.7-0.7c0.5-0.5,0.9-1,1.3-1.5l0.5-0.8c0.2-0.3,0.4-0.6,0.5-0.9l0.5-0.9l0.4-0.9c0.3-0.6,0.4-1.2,0.6-1.9
        c0.1-0.6,0.3-1.3,0.3-1.9l0.1-1l0-1c0-0.6-0.1-1.3-0.1-1.9c-0.1-0.7-0.2-1.2-0.4-1.9c-0.2-0.6-0.3-1.2-0.6-1.8
        c-0.4-1.2-1-2.3-1.8-3.3l-1.6-2.3l2.3-2.2c0.7-0.7,2-0.8,3-1.2c0.5-0.2,0.9-0.6,1.2-1c0.4-0.4,0.7-0.8,1-1.2
        c0.7-0.8,1.2-1.7,1.8-2.6c0.5-0.9,1-1.9,1.4-2.9c0.2-0.5,0.4-1,0.5-1.5c0.1-0.5,0.3-1,0.4-1.5c0.2-1,0.4-2.1,0.5-3.1
        c0-0.5,0.1-1.1,0.1-1.6c0-0.5,0-1.1-0.1-1.6l-0.1-0.7l-0.1-0.9c-0.1-0.6-0.2-1.2-0.3-1.6c-0.2-1-0.5-2-0.9-3l-0.6-1.5l-0.7-1.4
        c-0.5-0.9-1.1-1.8-1.7-2.6c-0.6-0.8-1.3-1.6-2.1-2.4c-0.4-0.4-0.8-0.7-1.2-1.1c-0.4-0.4-0.8-0.7-1.2-1c-0.4-0.3-0.8-0.6-1.3-0.9
        c-0.4-0.3-0.9-0.6-1.4-0.8c-0.9-0.5-1.9-0.9-2.9-1.3c-0.5-0.2-1-0.4-1.5-0.5l-1.5-0.4l-1.2-0.3l-0.3-1.2
        c-0.4-1.3-0.8-2.5-1.2-3.7c-0.4-1.2-0.8-2.5-1.3-3.7c-0.9-2.5-1.9-4.9-3-7.3c-2.2-4.8-4.7-9.4-7.6-13.8l1.8,1L156,120.5l2.1-2.1
        L158.6,280.8z M154.4,284.1l-0.5-165.8l0-2.1l2.1,0l122.9-0.4l1.2,0l0.6,1c3,4.6,5.6,9.4,7.9,14.3c1.1,2.5,2.2,5,3.1,7.5
        c0.5,1.3,0.9,2.6,1.3,3.9c0.4,1.3,0.8,2.6,1.2,3.9l-1.6-1.5l1.8,0.5c0.6,0.2,1.2,0.4,1.8,0.6c1.2,0.5,2.3,1,3.4,1.6
        c0.6,0.3,1.1,0.6,1.6,1c0.5,0.3,1,0.7,1.5,1.1l0.7,0.6l0.7,0.6c0.5,0.4,0.9,0.8,1.3,1.3c0.9,0.9,1.7,1.9,2.4,2.9
        c0.7,1,1.4,2.1,2,3.2l0.8,1.7l0.7,1.7c0.4,1.2,0.8,2.3,1,3.6c0.2,0.6,0.2,1.2,0.3,1.8l0.1,0.9l0,0.1l0,0.1l0,0.1l0,0.2l0,0.5
        c0.1,0.6,0.1,1.2,0,1.8c0,0.6,0,1.2-0.1,1.8c-0.1,1.2-0.3,2.5-0.5,3.7c-0.1,0.6-0.3,1.2-0.5,1.8c-0.2,0.6-0.4,1.2-0.6,1.8
        c-0.5,1.1-0.9,2.3-1.5,3.4c-0.6,1.1-1.2,2.1-2,3.1c-0.4,0.5-0.7,1-1.2,1.5c-0.4,0.5-0.8,0.9-1.1,1.5c-0.3,0.6-0.6,1.2-0.9,1.8
        c-0.3,0.6-0.8,1.1-1.3,1.5l0.7-4.4c1,1.5,1.9,3.1,2.5,4.8c0.3,0.9,0.5,1.7,0.7,2.6c0.2,0.9,0.3,1.9,0.4,2.7c0,0.9,0.1,1.8,0,2.7
        l-0.1,1.3l-0.2,1.3c-0.1,0.9-0.5,1.7-0.7,2.6c-0.3,0.8-0.6,1.7-1.1,2.4l-0.6,1.2l-0.7,1.1c-0.5,0.8-1.1,1.4-1.6,2.1
        c-0.6,0.6-1.2,1.3-1.9,1.8c-0.3,0.3-0.7,0.6-1,0.8l-1.1,0.8c-0.7,0.5-1.5,0.9-2.2,1.3c-0.8,0.3-1.6,0.7-2.4,1
        c-0.4,0.2-0.8,0.3-1.2,0.5l-1.2,0.3c-0.8,0.2-1.7,0.3-2.5,0.5l1.8-1.3l-0.6,1.6l0.1-1.5c0.3,0.9,0.5,1.8,0.7,2.8
        c0.2,0.9,0.3,1.9,0.4,2.8c0,0.9,0.2,1.9,0.1,2.8c-0.1,0.9,0,1.9-0.2,2.8c-0.1,0.9-0.3,1.9-0.5,2.8c-0.1,0.5-0.2,0.9-0.4,1.4
        l-0.5,1.3c-0.3,0.9-0.7,1.8-1.1,2.6c-0.4,0.9-0.9,1.7-1.4,2.5c-0.5,0.8-1.1,1.6-1.7,2.3c-0.6,0.7-1.2,1.5-1.9,2.1
        c-0.7,0.6-1.4,1.3-2.1,1.9l-1.1,0.9c-0.4,0.3-0.8,0.5-1.2,0.8c-0.4,0.2-0.8,0.5-1.2,0.8l-1.3,0.7c-0.8,0.5-1.7,0.8-2.6,1.1
        c-0.9,0.3-1.8,0.5-2.7,0.8c-0.9,0.2-1.9,0.3-2.8,0.5l1.2-0.6l-1,1l0.5-1.4c0,1.1,0,2.2-0.1,3.2l-0.1,1.6c0,0.5-0.2,1.1-0.3,1.6
        c-0.2,1.1-0.5,2.1-0.8,3.1c-0.1,0.5-0.4,1-0.5,1.5c-0.2,0.5-0.4,1-0.6,1.5c-0.5,1-0.9,2-1.5,2.9c-0.5,0.9-1.2,1.8-1.9,2.7
        c-0.3,0.4-0.7,0.8-1.1,1.2c-0.4,0.4-0.7,0.8-1.1,1.2c-0.8,0.7-1.6,1.5-2.5,2.1c-0.4,0.3-0.9,0.7-1.3,1l-1.4,0.9
        c-0.5,0.3-0.9,0.5-1.4,0.8c-0.5,0.2-1,0.5-1.5,0.7l-1.5,0.6l-0.8,0.3l-0.8,0.2l-1.6,0.4c-0.5,0.1-1,0.2-1.5,0.2l-0.7,0.1l-0.2,0
        l-0.3,0l-0.4,0c-0.5,0-1.1,0.1-1.6,0.1c-1.1,0-2.2-0.1-3.3-0.1c-2.2-0.2-4.4-0.6-6.5-1.3l1.9-0.1l-2.1,1.1l1.4-1.6c0,0,0,0,0,0
        c-0.4,0.7-0.8,1.5-1.2,2.2c-0.2,0.4-0.4,0.7-0.6,1c-0.2,0.3-0.4,0.7-0.7,1c-0.5,0.6-1,1.3-1.5,1.9c-0.5,0.6-1,1.2-1.6,1.7
        c-0.6,0.5-1.2,1-1.8,1.5c-0.6,0.5-1.2,0.9-1.9,1.3c-0.7,0.4-1.3,0.8-2,1.2c-0.7,0.4-1.4,0.7-2.1,1c-0.7,0.3-1.5,0.6-2.3,0.8
        c-0.4,0.1-0.8,0.2-1.1,0.3l-0.5,0.1l-0.1,0l-0.1,0l-0.1,0l-0.3,0c-1.6,0.2-3.2,0.2-4.8,0c-3.2-0.4-6.3-1.6-9-3.5l3.6-0.7
        c-0.6,1.1-1.2,2.1-2,3.1c-0.7,1-1.5,1.9-2.4,2.8c-0.8,0.9-1.8,1.7-2.7,2.4c-1,0.7-2,1.4-3.1,2c-1.1,0.6-2.2,1.1-3.3,1.6
        c-1.2,0.4-2.3,0.8-3.5,1.1c-0.6,0.1-1.3,0.3-1.9,0.4l-0.8,0.1l-0.4,0.1l-0.2,0l-0.1,0l-0.2,0l-1.8,0.1c-0.6,0-1.2,0-1.9,0
        c-1.2-0.1-2.5-0.2-3.7-0.5c-0.6-0.1-1.2-0.3-1.8-0.5c-0.6-0.2-1.2-0.4-1.7-0.6c-1.1-0.5-2.2-1-3.3-1.6l-1.5-1l-1.5-1
        c-1-0.7-1.9-1.5-2.8-2.3c-0.5-0.4-0.9-0.8-1.3-1.3c-0.4-0.4-0.8-0.9-1.2-1.3c-0.8-0.9-1.4-1.9-2.1-2.9c-0.3-0.5-0.6-1-0.9-1.5
        l-0.8-1.6l1.3,1.1c-1.8-0.5-3.7-0.9-5.5-1.4L154.4,284.1z"></path>
    <path opacity="0.15" fill="#39B54A" d="M261.4,258.6c-0.2,6.6-3.1,12.6-7.7,16.8C258.3,271.1,261.1,265.1,261.4,258.6z"></path>
    <path opacity="0.15" fill="#39B54A" d="M192.2,297.9c-0.4,0.3-0.9,0.6-1.3,0.9C191.4,298.6,191.8,298.3,192.2,297.9z"></path>
    <path opacity="0.15" fill="#39B54A" d="M194.2,296.3c-0.5,0.5-1,0.9-1.6,1.3C193.2,297.2,193.7,296.8,194.2,296.3z"></path>
    <path opacity="0.15" fill="#39B54A" d="M201.6,292.4c-1-0.5-1.9-1-2.7-1.7C199.7,291.3,200.6,291.9,201.6,292.4z"></path>
    <path opacity="0.15" fill="#39B54A" d="M304.8,172.5c-0.1-0.7-0.2-1.3-0.3-2c-0.4-1.9-0.9-3.8-1.7-5.5c-1.3-2.9-3.1-5.5-5.4-7.6
        c-3.1-3-7.1-5.1-11.4-6.1c-0.8-2.6-1.6-5.2-2.5-7.7c-2.3-6.3-5.2-12.3-8.6-18c-0.7-1.1-1.4-2.3-2.1-3.4l-32.8,0.1
        c9.6,33.2,27.8,116.7-63.1,167.8c0,0,6.2,3.9,13.8,8.6c0.1,0,0.1-0.1,0.2-0.1c0.4-0.3,0.9-0.6,1.3-0.9c0.1-0.1,0.3-0.2,0.4-0.3
        c0.5-0.4,1.1-0.9,1.6-1.3c0,0,0,0,0,0c0.3-0.3,0.7-0.6,1-0.9c0,0,0.1,0,0.1-0.1c0.3-0.3,0.6-0.6,0.9-0.9c0,0,0.1-0.1,0.1-0.1
        c0.3-0.3,0.5-0.6,0.8-0.9c0.1-0.1,0.1-0.1,0.2-0.2c0.2-0.3,0.5-0.6,0.7-0.9c0.1-0.1,0.1-0.2,0.2-0.2c0.3-0.4,0.5-0.8,0.8-1.2
        c0.9,0.6,1.8,1.2,2.7,1.7c2.4,1.2,5.1,1.9,8,1.9c0.6,0,1.1,0,1.7-0.1c0.9-0.1,1.8-0.3,2.7-0.5c1.3-0.3,2.6-0.8,3.7-1.4
        c3.1-1.6,5.7-4.2,7.4-7.2c0.6-1.1,1.1-2.4,1.5-3.6c0.7-0.3,1.4-0.7,2.1-1c0.4,0.2,0.8,0.3,1.3,0.4c0.9,0.3,1.7,0.5,2.6,0.7
        c0.9,0.2,1.8,0.3,2.7,0.4c0.9,0.1,1.9,0.1,2.8,0c0.5,0,0.9-0.1,1.4-0.1c1.6-0.2,3.2-0.5,4.7-0.9c0.8-0.2,1.5-0.5,2.2-0.8
        c2.7-1.1,5.1-2.7,7.2-4.6c4.6-4.3,7.4-10.3,7.7-16.8c0-0.8,0-1.6,0-2.4c0.3-0.3,0.6-0.7,0.9-1c0.8-0.1,1.6-0.3,2.4-0.4
        c3.8-0.9,7.3-2.8,10.2-5.3c2.9-2.5,5.1-5.6,6.5-9.2c0.6-1.4,1-2.9,1.3-4.4c0.3-1.5,0.5-3.1,0.5-4.7c0-0.8,0-1.6-0.1-2.4
        c-0.1-0.8-0.2-1.6-0.4-2.4c-0.2-0.8-0.4-1.6-0.6-2.3c0.2-0.5,0.4-1,0.6-1.6c1.2-0.1,2.4-0.4,3.5-0.8c1.1-0.4,2.2-0.8,3.2-1.4
        c0.5-0.3,1-0.6,1.5-0.9c0.9-0.7,1.8-1.4,2.6-2.2c1.6-1.6,2.9-3.5,3.7-5.6c0.4-1.1,0.8-2.2,1-3.3c0.2-1.1,0.3-2.3,0.4-3.5
        c0-0.6,0-1.2-0.1-1.8c-0.1-0.8-0.2-1.6-0.4-2.3c-0.1-0.4-0.2-0.7-0.3-1.1c-0.2-0.7-0.5-1.4-0.8-2.1c-0.5-1-1-2-1.7-2.9
        c1.2-0.9,2.4-2,3.4-3.1c0.7-0.8,1.3-1.5,1.9-2.4c1.8-2.5,3.1-5.3,3.8-8.4c0.4-1.5,0.6-3.1,0.6-4.7c0-0.5,0-1.1,0-1.6
        C304.9,173.6,304.9,173.1,304.8,172.5z"></path>
    <path opacity="0.15" fill="#39B54A" d="M309.1,170.5c-0.4-1.9-0.9-3.8-1.7-5.5c-1.3-2.9-3.1-5.5-5.4-7.6c-3.1-3-7.1-5.1-11.4-6.1
        c-0.8-2.6-1.6-5.2-2.5-7.7c-2.3-6.3-5.2-12.3-8.6-18c-0.7-1.1-1.3-2.2-2-3.3l-4.4,0c9.6,33.2,27.8,116.7-63.1,167.8
        c0,0,2.4,1.5,6,3.8c0.9-0.1,1.7-0.2,2.6-0.5c1.3-0.3,2.6-0.8,3.7-1.4c3.1-1.6,5.7-4.2,7.4-7.2c0.6-1.1,1.1-2.4,1.5-3.6
        c0.7-0.3,1.4-0.7,2.1-1c0.4,0.2,0.8,0.3,1.3,0.4c0.9,0.3,1.7,0.5,2.6,0.7c0.9,0.2,1.8,0.3,2.7,0.4c0.9,0.1,1.9,0.1,2.8,0
        c0.5,0,0.9-0.1,1.4-0.1c1.6-0.2,3.2-0.5,4.7-0.9c0.8-0.2,1.5-0.5,2.2-0.8c2.7-1.1,5.1-2.7,7.2-4.6c4.6-4.3,7.4-10.3,7.7-16.8
        c0-0.8,0-1.6,0-2.4c0.3-0.3,0.6-0.7,0.9-1c0.8-0.1,1.6-0.3,2.4-0.4c3.8-0.9,7.3-2.8,10.2-5.3c2.9-2.5,5.1-5.6,6.5-9.2
        c0.6-1.4,1-2.9,1.3-4.4c0.3-1.5,0.5-3.1,0.5-4.7c0-0.8,0-1.6-0.1-2.4c-0.1-0.8-0.2-1.6-0.4-2.4c-0.2-0.8-0.4-1.6-0.6-2.3
        c0.2-0.5,0.4-1,0.6-1.6c1.2-0.1,2.4-0.4,3.5-0.8c1.1-0.4,2.2-0.8,3.2-1.4c0.5-0.3,1-0.6,1.5-0.9c0.9-0.7,1.8-1.4,2.6-2.2
        c1.6-1.6,2.9-3.5,3.7-5.6c0.4-1.1,0.8-2.2,1-3.3c0.2-1.1,0.3-2.3,0.4-3.5c0-0.6,0-1.2-0.1-1.8c-0.1-0.8-0.2-1.6-0.4-2.3
        c-0.1-0.4-0.2-0.7-0.3-1.1c-0.2-0.7-0.5-1.4-0.8-2.1c-0.5-1-1-2-1.7-2.9c1.2-0.9,2.4-2,3.4-3.1c0.7-0.8,1.3-1.5,1.9-2.4
        c1.8-2.5,3.1-5.3,3.8-8.4c0.4-1.5,0.6-3.1,0.6-4.7c0-0.5,0-1.1,0-1.6c0-0.5-0.1-1.1-0.1-1.6C309.3,171.8,309.2,171.2,309.1,170.5z"></path>
    <path fill="#46D375" d="M192.6,297.7c-0.1,0.1-0.3,0.2-0.4,0.3C192.4,297.9,192.5,297.8,192.6,297.7z"></path>
    <path fill="#435054" d="M192.2,302.5c-1.4,0-2.8-0.6-3.7-1.9c-0.6-0.8-0.9-1.7-0.9-2.7c0-1.4,0.6-2.8,1.9-3.7l0.3-0.2
        c2-1.5,4.8-1.1,6.3,0.9c0.6,0.8,0.9,1.8,0.9,2.7c0,1.4-0.6,2.7-1.8,3.6c-0.1,0.1-0.3,0.2-0.4,0.3l-0.1,0.1
        C194.1,302.2,193.1,302.5,192.2,302.5z"></path>
    <path fill="#46D375" d="M190.7,299c0.1,0,0.1-0.1,0.2-0.1C190.8,298.9,190.8,298.9,190.7,299C190.7,299,190.7,299,190.7,299z"></path>
    <path fill="#435054" d="M190.7,303.5c-0.7,0-1.4-0.2-2-0.5c-0.1,0-0.2-0.1-0.3-0.1c-1.3-0.8-2.2-2.2-2.3-3.7
        c-0.1-1.6,0.7-3.2,2.1-4.1c0,0,0.1-0.1,0.2-0.1c0,0,0,0,0,0c2.1-1.4,4.9-0.7,6.2,1.3c1.1,1.7,0.9,3.8-0.2,5.2
        c-0.3,0.4-0.6,0.7-1.1,1c-0.1,0.1-0.2,0.1-0.3,0.2C192.4,303.3,191.6,303.5,190.7,303.5z"></path>
    <path fill="#A5E7F9" d="M217.5,366.5c-0.3-3.5-0.4-7.1-0.4-10.8c0.2-31.3,12-56.6,26.4-56.5c10,0.1,18.6,12.4,22.9,30.4
        c4.8-13.7,12.4-22.6,21-22.6c14.4,0.1,25.9,25.5,25.7,56.8c0,0.8,0,1.6,0,2.4L217.5,366.5z"></path>
    <ellipse transform="matrix(0.9964 -8.470409e-02 8.470409e-02 0.9964 -23.8474 25.5301)" fill="#FFFFFF" cx="288.9" cy="293.8" rx="13.9" ry="18"></ellipse>
    <path fill="#435054" d="M304.2,292.6c0,0,0,0.4,0.1,1.1c0,0.4,0.1,0.8,0.1,1.4c0,0.6,0.1,1.3,0.1,2c0.1,1.5-0.2,3.3-0.8,5.4
        c-0.7,2-1.8,4.2-3.6,6.2c-0.2,0.2-0.5,0.5-0.7,0.8c-0.3,0.2-0.5,0.5-0.8,0.7c-0.5,0.5-1.1,0.9-1.7,1.3
        c-1.3,0.8-2.6,1.5-4.2,1.8c-0.4,0.1-0.8,0.2-1.2,0.2l-0.6,0.1l-0.3,0l-0.2,0l0,0l-0.1,0l-0.1,0c-0.3,0-0.7,0-1,0
        c-0.4,0-0.9-0.1-1.3-0.1c-1.7-0.3-3.3-0.8-4.8-1.6c-3-1.6-5.4-4.1-7.1-7.1c-0.5-0.7-0.8-1.5-1.2-2.3c-0.3-0.8-0.7-1.6-0.9-2.4
        c-0.1-0.4-0.3-0.8-0.4-1.2l-0.3-1.3c-0.1-0.4-0.2-0.8-0.2-1.3l-0.2-1.4l-0.1-1.2c0-0.4-0.1-0.8,0-1.2l0-1.3
        c0-0.4,0.1-0.9,0.1-1.3c0.1-0.9,0.3-1.7,0.4-2.5c0.2-0.8,0.4-1.7,0.8-2.5c1.2-3.2,3.3-6.1,6-8.1c1.3-1,2.9-1.7,4.4-2.2
        c1.5-0.5,3.2-0.5,4.6-0.4c3.2,0.3,5.7,1.7,8,3.1c2.2,1.5,3.9,3.4,4.9,5.2c1,1.9,1.4,3.7,1.6,5.2c0.1,0.7,0.2,1.4,0.2,2
        c0.1,0.6,0.1,1.1,0.1,1.4C304.2,292.1,304.2,292.5,304.2,292.6L304.2,292.6z M301.4,292.7c0,0-0.1-0.4-0.2-1
        c-0.1-0.7-0.4-1.7-0.9-2.8c-0.5-1.2-1.3-2.5-2.1-4c-0.9-1.5-1.8-3.1-3.2-4.7c-0.2-0.2-0.4-0.4-0.6-0.6
        c-0.2-0.2-0.4-0.3-0.6-0.5c-0.4-0.4-0.9-0.6-1.4-0.9c-0.2-0.1-0.5-0.2-0.8-0.3c-0.3-0.1-0.5-0.2-0.8-0.3
        c-0.3-0.1-0.6-0.1-0.8-0.2c-0.3,0-0.5-0.1-0.8-0.1c-1.3-0.1-2.4,0-3.6,0.5c-1.1,0.4-2.2,1-3.2,1.9c-1.9,1.7-3.4,4-4.2,6.7
        c-0.2,0.6-0.4,1.3-0.6,2c-0.1,0.7-0.3,1.4-0.4,2.1c0,0.3-0.1,0.7-0.1,1.1l-0.1,1c0,0.3,0,0.7,0,1.1l0,1.2l0.1,1
        c0,0.4,0.1,0.7,0.2,1.1l0.2,1.1c0.1,0.3,0.2,0.7,0.3,1c0.2,0.7,0.4,1.3,0.7,2c0.3,0.6,0.5,1.3,0.9,1.9c1.3,2.5,3.2,4.5,5.5,5.7
        c1.1,0.6,2.3,1,3.4,1.1c0.3,0,0.5,0.1,0.8,0.1c0.4,0,0.7,0,1,0l0.1,0l0.1,0l0,0c0,0-0.2,0-0.1,0l0.2,0l0.4-0.1
        c0.3,0,0.6-0.1,0.8-0.2c1.1-0.3,2-0.8,2.9-1.4c0.4-0.3,0.9-0.6,1.2-1c0.2-0.2,0.4-0.4,0.6-0.5c0.2-0.2,0.3-0.4,0.5-0.6
        c1.3-1.6,2.1-3.3,2.7-4.9c0.3-0.8,0.6-1.6,0.8-2.3c0.1-0.4,0.2-0.7,0.3-1c0.1-0.3,0.2-0.7,0.2-1c0.2-0.6,0.3-1.2,0.3-1.6
        c0-0.2,0.1-0.5,0.1-0.7c0-0.2,0-0.4,0-0.6C301.4,293.1,301.4,292.7,301.4,292.7L301.4,292.7z"></path>
    <ellipse transform="matrix(-0.9875 -0.1574 0.1574 -0.9875 451.8636 605.7476)" fill="#FFFFFF" cx="249.9" cy="285" rx="13.9" ry="18"></ellipse>
    <path fill="#435054" d="M235,282.6c0,0,0.1-0.4,0.3-1.1c0.2-0.7,0.6-1.8,1.1-3.2c0.1-0.3,0.2-0.7,0.4-1.1
        c0.1-0.4,0.3-0.8,0.4-1.2c0.1-0.4,0.3-0.9,0.3-1.4c0-0.5-0.1-1.2,0-1.8c0.1-0.6,0.3-1.2,0.6-1.6c0.3-0.5,0.6-1,1-1.5
        c0.8-1,1.7-2,2.9-2.8c1.2-0.8,2.6-1.5,4-2.1c1.5-0.4,3.2-0.8,4.9-0.6c0.4,0,0.9,0.1,1.3,0.1l0.6,0.1l0.3,0.1
        c-0.1,0,0.2,0,0.2,0l0,0l0.1,0l0.1,0c0.3,0.1,0.7,0.2,1,0.3c0.4,0.1,0.9,0.3,1.3,0.5c0.2,0.1,0.4,0.2,0.7,0.3l0.6,0.3
        c0.4,0.2,0.8,0.4,1.1,0.7l1.1,0.8c0.3,0.3,0.7,0.6,1,0.9c2.5,2.4,4.4,5.5,5.4,8.8c1,3.4,1.2,6.9,0.7,10.4
        c-0.2,1-0.2,1.5-0.5,2.5l-0.4,1.3c-0.1,0.4-0.3,0.8-0.4,1.3c-0.3,0.8-0.7,1.6-1,2.4c-0.4,0.8-0.8,1.6-1.4,2.3
        c-2,2.9-4.8,5.3-8.1,6.6c-1.6,0.7-3.4,1-5.1,1.1c-1.7,0.1-3.4-0.3-4.8-0.8c-3.2-1.1-5.4-3.2-7.1-5.3c-0.9-1-1.5-2.2-2-3.2
        c-0.5-1.1-0.9-2.2-1.1-3.2c-0.5-2.1-0.5-3.9-0.3-5.4c0-0.7,0.2-1.4,0.3-2c0.1-0.6,0.2-1,0.2-1.4C234.9,283,235,282.6,235,282.6
        L235,282.6z M237.3,283c0,0,0,0.4,0,1.1c0,0.7,0,1.7,0.2,3c0.2,1.3,0.6,2.8,1.1,4.4c0.3,0.8,0.6,1.7,1,2.5
        c0.4,0.9,0.8,1.8,1.4,2.6c0.1,0.2,0.3,0.4,0.4,0.6c0.2,0.2,0.3,0.4,0.5,0.6c0.3,0.4,0.8,0.7,1.1,1.1c0.2,0.2,0.4,0.3,0.7,0.5
        c0.2,0.2,0.5,0.3,0.7,0.4c0.2,0.1,0.5,0.2,0.7,0.4c0.2,0.1,0.5,0.1,0.7,0.2c1.2,0.3,2.3,0.5,3.4,0.3c1.1-0.1,2.3-0.4,3.3-1
        c2.1-1.1,4-3,5.4-5.3c0.4-0.5,0.7-1.2,1-1.7c0.3-0.6,0.6-1.2,0.8-1.9c0.1-0.3,0.3-0.6,0.4-1l0.3-0.9c0.2-0.5,0.4-1.6,0.5-2.1
        c0.4-2.7,0.5-5.6-0.2-8.2c-0.7-2.6-1.9-5.1-3.7-6.6c-0.9-0.8-2-1.4-2.9-1.7c-0.2-0.1-0.4-0.1-0.7-0.2c-0.3,0-0.7-0.1-1-0.1
        l-0.7,0c-0.3,0-0.5,0-0.8,0.1c-2,0.3-3.7,1.1-5.2,2.2c-0.7,0.5-1.4,1.1-2.1,1.7c-0.4,0.3-0.7,0.6-1,0.9
        c-0.2,0.1-0.3,0.3-0.5,0.4c-0.2,0.1-0.4,0.2-0.6,0.3c-2.3,0.6-2.9,2.2-3.4,3.4c-0.3,0.6-0.3,1.2-0.4,1.7
        c-0.1,0.5-0.2,0.9-0.2,1.3C237.4,282.6,237.3,283,237.3,283L237.3,283z"></path>
    <path opacity="0.29" fill="#5CC0E2" d="M271.5,345.3c0-9.8-9.9-38.2-22.2-38.2c-6.3,0-5.1,15.2-5.2,25l0.6,36.2l26.7-0.1
        L271.5,345.3z"></path>
    <path opacity="0.29" fill="#5CC0E2" d="M272.8,357.7c0-9.8-6.2-38.2-13.8-38.2c-3.9,0-3.2,15.2-3.2,25l0.2,23.8l16.8-0.1
        L272.8,357.7z"></path>
    <path opacity="0.29" fill="#5CC0E2" d="M312.9,349.2c0-9.8-8.8-38.2-19.7-38.2l0,0c-5.6,0-4.6,15.2-4.6,25l0.5,32.2l23.8-0.1
        L312.9,349.2z"></path>
    <path opacity="0.29" fill="#5CC0E2" d="M318,360.9c0-9.8-6.2-38.2-13.8-38.2c-3.9,0-3.2,15.2-3.2,25l0.2,20.4l16.8-0.1
        L318,360.9z"></path>
    <path fill="#435054" d="M219.5,368.7c0.3-2.5,0.5-5,0.6-7.5c0-1.3-0.2-2.5-0.1-3.8c0-1.2,0-2.5,0.1-3.7c0.1-2.5,0.3-5,0.5-7.5
        c0.3-2.5,0.6-5,1-7.4c0.9-4.9,2.1-9.8,3.7-14.5c1.6-4.7,3.7-9.3,6.4-13.6c1.4-2.1,3-4.1,4.8-5.9c1.9-1.8,4.1-3.3,6.6-4.2
        c1.3-0.4,2.6-0.8,4-0.9l0.1,0l0.1,0l0,0l0.1,0l0.2,0l0.5,0l0.9,0c0.6,0,1.4,0.2,2.2,0.3c2.8,0.6,5.3,2,7.4,3.7
        c2.1,1.7,4,3.7,5.5,5.9c0.4,0.5,0.8,1.1,1.1,1.6c0.3,0.6,0.7,1.1,1,1.7c0.6,1.2,1.2,2.3,1.7,3.5l0.7,1.8l0.6,1.8
        c0.5,1.2,0.8,2.4,1.2,3.7c0.4,1.2,0.7,2.5,1,3.7c0.3,1.2,0.7,2.4,1.2,3.6l0,0l-4.9-0.3c0.8-2.1,1.6-4.1,2.5-6.1
        c0.9-2,2-4,3.2-5.9c1.2-1.9,2.6-3.7,4.1-5.5c1.6-1.7,3.4-3.3,5.5-4.6c2.1-1.3,4.6-2.2,7.2-2.4l0.5,0l0.2,0l0.1,0l0.3,0l0.8,0
        l0.4,0c0.1,0,0.3,0,0.5,0.1l1.1,0.2c0.7,0.1,1.3,0.3,1.9,0.5c0.6,0.2,1.2,0.5,1.7,0.8c1.1,0.6,2.2,1.2,3,2.1
        c0.4,0.4,0.9,0.9,1.2,1.3c0.4,0.5,0.7,0.9,1.1,1.4c0.3,0.5,0.7,0.9,1,1.4l1,1.4c0.7,0.9,1.3,1.8,2,2.7c1.3,1.8,2.4,3.7,3.5,5.6
        c1.1,1.9,2,3.9,2.9,5.9c0.9,2,1.6,4.1,2.2,6.2c0.6,2.1,1.2,4.2,1.7,6.4c0.5,2.1,0.9,4.3,1.2,6.4c0.3,2.2,0.6,4.3,0.8,6.5
        c0.1,1.1,0.2,2.2,0.2,3.3c0.1,1.1,0.1,2.2,0.1,3.3c0,1.1,0.1,2.2-0.1,3.3c-0.2,1.1-0.7,2.2-0.9,3.2l-0.5,2.1L317,370
        c-1-0.3-2-0.2-3-0.2l-3,0l-6,0l-11.9,0c-8,0-15.9,0-23.9,0.1l-23.9,0.2c-8,0.2-15.9,0.2-23.9,0.5l-2.3,0.1L219.5,368.7z
         M223.1,366.5c7.4,0.2,14.8,0.2,22.3,0.3l23.9,0.1c8,0,15.9,0,23.9,0l11.9-0.1l6,0l3,0c1,0,2,0,3-0.2l-1.8,1.7
        c-0.2-1.1-0.7-2.1-0.9-3.2c-0.2-1-0.1-2.1-0.2-3.1c-0.1-2.1-0.2-4.2-0.4-6.2c-0.3-4.1-0.7-8.3-1.5-12.4
        c-0.3-2.1-0.8-4.1-1.2-6.1c-0.5-2-1-4-1.6-6c-1.1-4-2.6-7.9-4.8-11.4c-0.6-0.8-1.1-1.7-1.8-2.5c-0.7-0.8-1.4-1.4-2.3-2
        c-0.4-0.3-0.8-0.5-1.3-0.8c-0.4-0.3-0.9-0.5-1.3-0.7c-0.8-0.4-1.6-0.9-2.4-1.2c-0.4-0.2-0.8-0.3-1.2-0.5
        c-0.4-0.1-0.8-0.2-1.2-0.3c-0.2,0-0.3-0.1-0.5-0.1c-0.1,0-0.2,0-0.3-0.1l-0.4,0l-0.8-0.1l0,0l0,0c0,0,0.3,0,0.1,0l-0.1,0l-0.2,0
        l-0.3,0c-1.6,0-3.3,0.5-4.9,1.4c-1.6,0.9-3.1,2-4.4,3.5c-1.3,1.4-2.5,3-3.6,4.7c-1,1.7-2,3.5-2.9,5.3c-0.9,1.8-1.6,3.8-2.3,5.7
        l-2.9,8l-2-8.3l0,0c-0.2-2.4-1-4.7-1.8-7c-0.4-1.1-0.8-2.2-1.4-3.3l-0.7-1.6l-0.8-1.6c-1-2.1-2.1-4.2-3.3-6.1
        c-1.2-2-2.6-3.8-4.1-5.4c-1.5-1.6-3.3-3-5.3-3.7c-0.5-0.1-0.9-0.3-1.5-0.5l-0.9-0.1l-0.5-0.1l-0.2,0c0,0-0.1,0,0.1,0l0,0l-0.1,0
        l-0.1,0c-1.1-0.1-2.2,0.1-3.3,0.3c-1.1,0.3-2.1,0.7-3.1,1.3c-1,0.6-1.9,1.3-2.8,2c-1.8,1.6-3.3,3.4-4.7,5.4
        c-1.3,2-2.5,4.1-3.6,6.3c-1,2.2-1.9,4.5-2.7,6.8c-1.6,4.6-2.6,9.4-3.4,14.2c-0.4,2.4-0.7,4.8-0.9,7.3c-0.2,2.4-0.4,4.9-0.5,7.3
        c-0.1,1.2-0.1,2.5-0.1,3.7c0,1.2-0.1,2.4-0.1,3.7C222.4,362.9,222.7,364.7,223.1,366.5z"></path>
    <path opacity="0.2" fill="#8B5E3C" d="M177.7,304.2c1.5,29,2.6,55.4,4,69.1l24-0.2l-10.6-68.7C187.9,306.6,182.2,306,177.7,304.2z"></path>
    <path fill="#FFFFFF" stroke="#435054" stroke-width="1.0725" stroke-miterlimit="10" d="M340.5,108.5"></path>
</svg>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
      <h4>Links</h4>
      <div class="preview-edit text-right">
          <a href="#" data-toggle="modal" data-target="#add-link-app" class="btn btn-primary btn-sm add-footer-link">Add Link</a>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-7">
    <p>Create a list of up to 6 custom links in this Mobile App. Send clients to your blog, to a video, and more.</p>
  </div>
  <div class="col-sm-3">
    <div class="form-group">
      <label>App Theme</label>
      <select class="selectpicker" data-live-search="true"> <!-- form-control input-lg -->
        <option>Black with White</option>
        <option>White with Gray</option>
      </select>
    </div>

    <div class="form-group">
      <div class="check-box-app">
        <div class="checkbox">
          <input type="checkbox">
          <label>Show Contact Info</label>
        </div>
      </div>
      <div class="check-box-app">
        <div class="checkbox">
          <input type="checkbox">
          <label>Social Sharing</label>
        </div>
      </div>
    </div>

    <div class="form-group mobile-section">
      <label>Layout</label>
     <div class="radiocon">
        <div class="myradio  selected">
            <label>
              <span></span>
              <input value="Cascade" type="radio" id="Cascade"  name="rdinterested" >Cascade
            </label>
        </div>
        <div class="myradio">
            <label>
              <span></span>
              <input type="radio" value="Subway"  id="Subway" name="rdinterested" >Subway
            </label>
        </div>
      </div>
    </div>

     <div class="form-group">
        <label>App Theme</label>
        <select class="selectpicker" data-live-search="true"> <!-- form-control input-lg -->
          <option>Danish</option>
          <option>Dutch</option>
          <option>English (UK)</option>
          <option>English (US)</option>
          <option>Finnish</option>
          <option>French</option>
          <option>German</option>
          <option>Italian</option>
          <option>Norwegian</option>
          <option>Portuguese (Brazil)</option>
          <option>Portuguese (Portugal)</option>
          <option>Slovenian</option>
          <option>Spanish</option>
          <option>Swedish</option>
        </select>
      </div>

  </div>
</div>
</div>

<!-- /main -->


<!-- Modal -->
<div class="modal" id="Add-album" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create a New Album</h4>
      </div>
      <div class="modal-body">
        <form >
          <div class="form-group">
            <label>New Album Name</label>
            <input type="text"  class="form-control">
            </input>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancle</button>
        <button type="button" class="btn btn-primary">Add Album</button>
      </div>
    </div>
  </div>
</div>

<!-- /mMdal -->

<!-- Modal -->
<div class="modal" id="rename-modal-app" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Rename</h4>
      </div>
      <div class="modal-body">
        <form >
          <div class="form-group">
            <input type="text" value="Test" class="form-control">
            </input>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancle</button>
        <button type="button" class="btn btn-primary">Rename</button>
      </div>
    </div>
  </div>
</div>
<!-- /mMdal -->
<!-- Modal -->
<div class="modal" id="icon-cta-app" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Upload Icon</h4>
      </div>
      <div class="modal-body">
        <form >
          <p>Select Image...</p>
          <input type="file" name="file">
        </form>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancle</button>
      </div>
    </div>
  </div>
</div>
<!-- /mMdal -->
<!-- Modal -->
<div class="modal" id="add-link-app" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Link</h4>
      </div>
      <div class="modal-body">
        <form >
          <p>A 500px x 500px square image is recommended.</p>
             <div class="form-group">
                `<label>Link URL:</label>
                <input type="text" class="form-control"></input>
              </div>
          <p>Select Image...</p>
          <input type="file" name="file">
        </form>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancle</button>
        <button type="button" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div>
<!-- /mMdal -->
<!-- Modal -->
<div class="modal" id="icon-gallary-link-app" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Choose Gallery</h4>
      </div>
      <div class="modal-body">
        <form >
          <p>Select the gallery associated with this mobile app:</p>
         <div class="form-group linked-app">
          <label>App Theme</label>
          <select class="selectpicker" data-live-search="true"> <!-- form-control input-lg -->
            <option>- None, Optional -</option>
            <option>Discounts</option>
            <option>new</option>
            <option>TEST</option>
          </select>
        </div>
        </form>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancle</button>
        <button type="button" class="btn btn-primary">Choose Gallery</button>
      </div>
    </div>
  </div>
</div>
<!-- /mMdal -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="../js/jquery-1.12.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../js/bootstrap.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="../js/bootstrap-select.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="../js/lightbox-plus-jquery.min.js"></script>

<script type="text/javascript">

  $(document).on('click', '.photo-tile' ,function(){
      if ($('.all-photo').find('.ui-selected').length > 0) {
        $('.albums-main').addClass('selected');
        $('.selecteditem').html($('.all-photo').find('.ui-selected').length);
      }
      else{
        $('.albums-main').removeClass('selected');
      }
  });
</script>
<script type="text/javascript">
      $(document).ready(function(){
        $(".checkbox input").click(function(){
          if($(this).is(':checked')){
            $(this).parent('.checkbox').addClass('checked-box');
          }
          else{
           $(this).parent('.checkbox').removeClass('checked-box');
          }
        })
      });

</script>
<script type="text/javascript">
     $(".myradio").click(function() {
        $(this).parent(".radiocon").find('.selected').removeClass('selected');
        $(this).addClass('selected');
      });
</script>
